In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_excel("full_data.xlsx")
df

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,...,Power Antenna_1,Integrated Antenna,Tinted Glass_1,Rear Spoiler,Removable Convertible Top,Roof Carrier,Sun Roof,Moon Roof,Side Stepper,Outside Rear View Mirror Turn Indicators
0,0,Petrol,SUV,"20,000",Automatic,1,1st Owner,Kia,Kia Sonet,2022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0,Petrol,Minivans,"20,687",Manual,1,1st Owner,Maruti,Maruti Eeco,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0,Petrol,SUV,"30,000",Manual,1,1st Owner,Nissan,Nissan Magnite,2021,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0,Petrol,Hatchback,"59,247",Manual,1,1st Owner,Hyundai,Hyundai i10,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0,Petrol,Hatchback,"50,000",Manual,1,1st Owner,Honda,Honda Jazz,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8364,0,Petrol,Hatchback,"10,000",Manual,1,1st Owner,Maruti,Maruti Celerio,2022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8365,0,Petrol,Hatchback,"1,20,000",Manual,1,1st Owner,Maruti,Maruti Alto 800,2014,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8366,0,Petrol,Sedan,"50,000",Automatic,3,3rd Owner,Mercedes-Benz,Mercedes-Benz C-Class,2011,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8367,0,Petrol,Hatchback,"40,000",Manual,1,1st Owner,Maruti,Maruti Ritz,2012,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8368,0,Diesel,SUV,"1,20,000",Manual,2,2nd Owner,Renault,Renault Duster,2017,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.isnull().sum()

it                                             0
ft                                             0
bt                                             4
km                                             0
transmission                                   0
                                            ...
Roof Carrier                                8368
Sun Roof                                    8367
Moon Roof                                   8367
Side Stepper                                8368
Outside Rear View Mirror Turn Indicators    8368
Length: 200, dtype: int64

In [5]:
print(df.columns)

Index(['it', 'ft', 'bt', 'km', 'transmission', 'ownerNo', 'owner', 'oem',
       'model', 'modelYear',
       ...
       'Power Antenna_1', 'Integrated Antenna', 'Tinted Glass_1',
       'Rear Spoiler', 'Removable Convertible Top', 'Roof Carrier', 'Sun Roof',
       'Moon Roof', 'Side Stepper',
       'Outside Rear View Mirror Turn Indicators'],
      dtype='object', length=200)

In [6]:
print("column names : it	ft	bt	km	transmission	ownerNo	owner	oem	model	modelYear	centralVariantId	variantName	price	priceActual	priceSaving	priceFixedText	Registration Year	Insurance Validity	Fuel Type	Seats	Kms Driven	RTO	Ownership	Engine Displacement	Transmission	Year of Manufacture	Mileage	Engine	Max Power	Torque	Wheel Size	Seats_1	Color	Engine Type	Displacement	Max Power_1	Max Torque	No of Cylinder	Values per Cylinder	Value Configuration	Fuel Suppy System	BoreX Stroke	Compression Ratio	Turbo Charger	Super Charger	Length	Width	Height	Wheel Base	Front Tread	Rear Tread	Kerb Weight	Gross Weight	Gear Box	Drive Type	Seating Capacity	Steering Type	Turning Radius	Front Brake Type	Rear Brake Type	Tyre Type	Alloy Wheel Size	No Door Numbers	Cargo Volumn	Top Speed	Acceleration	Ground Clearance Unladen	Power Steering	Power Windows Front	Air Conditioner	Heater	Adjustable Head Lights	Fog Lights Front	Anti Lock Braking System	Centeral Locking	Radio	Manually Adjustable Exterior Rear View Mirror	Child Safety Locks	Driver Air Bag	Power Adjustable Exterior Rear View Mirror	Brake Assist	Cd Player	Fog Lights Rear	Power Door Locks	Power Windows Rear	Electronic Multi Tripmeter	Leather Seats	Air Quality Control	Speakers Front	Cd Changer	Low Fuel Warning Light	Remote Trunk Opener	Tinted Glass	Halogen Headlamps	Usb Auxiliary Input	Passenger Side Rear View Mirror	Power Antenna	Day Night Rear View Mirror	Remote Fuel Lid Opener	Bluetooth	Fabric Upholstery	Glove Compartment	Anti Theft Alarm	Navigation System	Digital Odometer	Passenger Air Bag	Electric Folding Rear View Mirror	Dvd Player	Cassette Player	Audio System Remote Control	Number Of Speaker	Adjustable Steering	Tachometer	Wheel Covers	Accessory Power Outlet	Rear Seat Headrest	Integrated2Din Audio	Rear Seat Belts	Rear Folding Table	Driving Experience Control Eco	Engine Immobilizer	Leather Steering Wheel	Power Steering_1	Power Windows Front_1	Power Windows Rear_1	Remote Trunk Opener_1	Low Fuel Warning Light_1	Accessory Power Outlet_1	Vanity Mirror	Rear Seat Headrest_1	Cup Holders Front	Seat Lumbar Support	Multifunction Steering Wheel	Cruise Control	Rear ACVents	Glove Box Cooling	Voice Control	Gear Shift Indicator	Lane Change Indicator	Adjustable Headrest	Remote Fuel Lid Opener_1	Battery Saver	Trunk Light	Navigation System_1	Engine Start Stop Button	Air Quality Control_1	Rear Reading Lamp	Rear Seat Centre Arm Rest	Cup Holders Rear	Smart Access Card Entry	Height Adjustable Front Seat Belts	Steering Wheel Gearshift Paddles	Steering Mounted Tripmeter	Tailgate Ajar	Luggage Hook And Net	Power Boot	Hands Free Tailgate	Drive Modes	Find My Car Location	Remote Horn Light Control	Remote Engine Start Stop	Remote Climate Control	Real Time Vehicle Tracking	Active Noise Cancellation	Power Folding3rd Row Seat	Adjustable Head Lights_1	Fog Lights Front_1	Fog Lights Rear_1	Power Adjustable Exterior Rear View Mirror_1	Manually Adjustable Exterior Rear View Mirror_1	Electric Folding Rear View Mirror_1	Rain Sensing Wiper	Rear Window Wiper	Rear Window Washer	Rear Window Defogger	Alloy Wheels	Power Antenna_1	Integrated Antenna	Tinted Glass_1	Rear Spoiler	Removable Convertible Top	Roof Carrier	Sun Roof	Moon Roof	Side Stepper	Outside Rear View Mirror Turn Indicators")

column names : it	ft	bt	km	transmission	ownerNo	owner	oem	model	modelYear	centralVariantId	variantName	price	priceActual	priceSaving	priceFixedText	Registration Year	Insurance Validity	Fuel Type	Seats	Kms Driven	RTO	Ownership	Engine Displacement	Transmission	Year of Manufacture	Mileage	Engine	Max Power	Torque	Wheel Size	Seats_1	Color	Engine Type	Displacement	Max Power_1	Max Torque	No of Cylinder	Values per Cylinder	Value Configuration	Fuel Suppy System	BoreX Stroke	Compression Ratio	Turbo Charger	Super Charger	Length	Width	Height	Wheel Base	Front Tread	Rear Tread	Kerb Weight	Gross Weight	Gear Box	Drive Type	Seating Capacity	Steering Type	Turning Radius	Front Brake Type	Rear Brake Type	Tyre Type	Alloy Wheel Size	No Door Numbers	Cargo Volumn	Top Speed	Acceleration	Ground Clearance Unladen	Power Steering	Power Windows Front	Air Conditioner	Heater	Adjustable Head Lights	Fog Lights Front	Anti Lock Braking System	Centeral Locking	Radio	Manually Adjustable Exterior Rear View Mirror	Child Safety Locks	Driver Air Bag	Power Adjustable Exterior Rear View Mirror	Brake Assist	Cd Player	Fog Lights Rear	Power Door Locks	Power Windows Rear	Electronic Multi Tripmeter	Leather Seats	Air Quality Control	Speakers Front	Cd Changer	Low Fuel Warning Light	Remote Trunk Opener	Tinted Glass	Halogen Headlamps	Usb Auxiliary Input	Passenger Side Rear View Mirror	Power Antenna	Day Night Rear View Mirror	Remote Fuel Lid Opener	Bluetooth	Fabric Upholstery	Glove Compartment	Anti Theft Alarm	Navigation System	Digital Odometer	Passenger Air Bag	Electric Folding Rear View Mirror	Dvd Player	Cassette Player	Audio System Remote Control	Number Of Speaker	Adjustable Steering	Tachometer	Wheel Covers	Accessory Power Outlet	Rear Seat Headrest	Integrated2Din Audio	Rear Seat Belts	Rear Folding Table	Driving Experience Control Eco	Engine Immobilizer	Leather Steering Wheel	Power Steering_1	Power Windows Front_1	Power Windows Rear_1	Remote Trunk Opener_1	Low Fuel Warning Light_1	Accessory Power Outlet_1	Vanity Mirror	Rear Seat Headrest_1	Cup Holders Front	Seat Lumbar Support	Multifunction Steering Wheel	Cruise Control	Rear ACVents	Glove Box Cooling	Voice Control	Gear Shift Indicator	Lane Change Indicator	Adjustable Headrest	Remote Fuel Lid Opener_1	Battery Saver	Trunk Light	Navigation System_1	Engine Start Stop Button	Air Quality Control_1	Rear Reading Lamp	Rear Seat Centre Arm Rest	Cup Holders Rear	Smart Access Card Entry	Height Adjustable Front Seat Belts	Steering Wheel Gearshift Paddles	Steering Mounted Tripmeter	Tailgate Ajar	Luggage Hook And Net	Power Boot	Hands Free Tailgate	Drive Modes	Find My Car Location	Remote Horn Light Control	Remote Engine Start Stop	Remote Climate Control	Real Time Vehicle Tracking	Active Noise Cancellation	Power Folding3rd Row Seat	Adjustable Head Lights_1	Fog Lights Front_1	Fog Lights Rear_1	Power Adjustable Exterior Rear View Mirror_1	Manually Adjustable Exterior Rear View Mirror_1	Electric Folding Rear View Mirror_1	Rain Sensing Wiper	Rear Window Wiper	Rear Window Washer	Rear Window Defogger	Alloy Wheels	Power Antenna_1	Integrated Antenna	Tinted Glass_1	Rear Spoiler	Removable Convertible Top	Roof Carrier	Sun Roof	Moon Roof	Side Stepper	Outside Rear View Mirror Turn Indicators

## ALL THE FOLLOWING COLLUMNS ARE MOSTLY NULL. MORE THAN 95%. HENCE REMOVED.
#### Noise Cancellation	Power Folding3rd Row Seat	Adjustable Head Lights_1	Fog Lights Front_1	Fog Lights Rear_1	Power Adjustable Exterior Rear View Mirror_1	Manually Adjustable Exterior Rear View Mirror_1	Electric Folding Rear View Mirror_1	Rain Sensing Wiper	Rear Window Wiper	Rear Window Washer	Rear Window Defogger	Alloy Wheels	Power Antenna_1	Integrated Antenna	Tinted Glass_1	Rear Spoiler	Removable Convertible Top	Roof Carrier	Sun Roof	Moon Roof	Side Stepper	Outside Rear View Mirror Turn Indicators Passenger Air Bag	Electric Folding Rear View Mirror	Dvd Player	Cassette Player	Audio System Remote Control	Number Of Speaker	Adjustable Steering	Tachometer	Wheel Covers	Accessory Power Outlet	Rear Seat Headrest	Integrated2Din Audio	Rear Seat Belts	Rear Folding Table	Driving Experience Control Eco	Engine Immobilizer	Leather Steering Wheel Fog Lights Rear	Power Door Locks	Power Windows Rear	Electronic Multi Tripmeter	Leather Seats	Air Quality Control	Speakers Front	Cd Changer	Low Fuel Warning Light	Remote Trunk Opener	Tinted Glass	Halogen Headlamps	Usb Auxiliary Input	Passenger Side Rear View Mirror	Power Antenna	Day Night Rear View Mirror	Remote Fuel Lid Opener	Bluetooth	Fabric Upholstery	Glove Compartment	Anti Theft Alarm priceSaving	priceFixedText

In [7]:
print("Now Columns: \n it	ft	bt	km	transmission	ownerNo	owner	oem	model	modelYear	centralVariantId	variantName	price	priceActual	Registration Year	Insurance Validity	Fuel Type	Seats	Kms Driven	RTO	Ownership	Engine Displacement	Transmission	Year of Manufacture	Mileage	Engine	Max Power	Torque	Wheel Size	Seats_1	Color	Engine Type	Displacement	Max Power_1	Max Torque	No of Cylinder	Values per Cylinder	Value Configuration	Fuel Suppy System	BoreX Stroke	Compression Ratio	Turbo Charger	Super Charger	Length	Width	Height	Wheel Base	Front Tread	Rear Tread	Kerb Weight	Gross Weight	Gear Box	Drive Type	Seating Capacity	Steering Type	Turning Radius	Front Brake Type	Rear Brake Type	Tyre Type	Alloy Wheel Size	No Door Numbers	Cargo Volumn	Top Speed	Acceleration	Ground Clearance Unladen	Power Steering	Power Windows Front	Air Conditioner	Heater	Adjustable Head Lights	Fog Lights Front	Anti Lock Braking System	Centeral Locking	Radio	Manually Adjustable Exterior Rear View Mirror	Child Safety Locks	Driver Air Bag	Power Adjustable Exterior Rear View Mirror	Brake Assist	Cd Player	Navigation System	Digital Odometer	Power Steering_1	Power Windows Front_1	Power Windows Rear_1	Remote Trunk Opener_1	Low Fuel Warning Light_1	Accessory Power Outlet_1	Vanity Mirror	Rear Seat Headrest_1	Cup Holders Front	Seat Lumbar Support	Multifunction Steering Wheel	Cruise Control	Rear ACVents	Glove Box Cooling	Voice Control	Gear Shift Indicator	Lane Change Indicator	Adjustable Headrest	Remote Fuel Lid Opener_1	Battery Saver	Trunk Light	Navigation System_1	Engine Start Stop Button	Air Quality Control_1	Rear Reading Lamp	Rear Seat Centre Arm Rest	Cup Holders Rear	Smart Access Card Entry	Height Adjustable Front Seat Belts	Steering Wheel Gearshift Paddles	Steering Mounted Tripmeter	Tailgate Ajar	Luggage Hook And Net	Power Boot	Hands Free Tailgate	Drive Modes	Find My Car Location	Remote Horn Light Control	Remote Engine Start Stop	Remote Climate Control	Real Time Vehicle Tracking")

Now Columns:
 it	ft	bt	km	transmission	ownerNo	owner	oem	model	modelYear	centralVariantId	variantName	price	priceActual	Registration Year	Insurance Validity	Fuel Type	Seats	Kms Driven	RTO	Ownership	Engine Displacement	Transmission	Year of Manufacture	Mileage	Engine	Max Power	Torque	Wheel Size	Seats_1	Color	Engine Type	Displacement	Max Power_1	Max Torque	No of Cylinder	Values per Cylinder	Value Configuration	Fuel Suppy System	BoreX Stroke	Compression Ratio	Turbo Charger	Super Charger	Length	Width	Height	Wheel Base	Front Tread	Rear Tread	Kerb Weight	Gross Weight	Gear Box	Drive Type	Seating Capacity	Steering Type	Turning Radius	Front Brake Type	Rear Brake Type	Tyre Type	Alloy Wheel Size	No Door Numbers	Cargo Volumn	Top Speed	Acceleration	Ground Clearance Unladen	Power Steering	Power Windows Front	Air Conditioner	Heater	Adjustable Head Lights	Fog Lights Front	Anti Lock Braking System	Centeral Locking	Radio	Manually Adjustable Exterior Rear View Mirror	Child Safety Locks	Driver Air Bag	Power Adjustable Exterior Rear View Mirror	Brake Assist	Cd Player	Navigation System	Digital Odometer	Power Steering_1	Power Windows Front_1	Power Windows Rear_1	Remote Trunk Opener_1	Low Fuel Warning Light_1	Accessory Power Outlet_1	Vanity Mirror	Rear Seat Headrest_1	Cup Holders Front	Seat Lumbar Support	Multifunction Steering Wheel	Cruise Control	Rear ACVents	Glove Box Cooling	Voice Control	Gear Shift Indicator	Lane Change Indicator	Adjustable Headrest	Remote Fuel Lid Opener_1	Battery Saver	Trunk Light	Navigation System_1	Engine Start Stop Button	Air Quality Control_1	Rear Reading Lamp	Rear Seat Centre Arm Rest	Cup Holders Rear	Smart Access Card Entry	Height Adjustable Front Seat Belts	Steering Wheel Gearshift Paddles	Steering Mounted Tripmeter	Tailgate Ajar	Luggage Hook And Net	Power Boot	Hands Free Tailgate	Drive Modes	Find My Car Location	Remote Horn Light Control	Remote Engine Start Stop	Remote Climate Control	Real Time Vehicle Tracking

## COLUMNS IRRELAVENT TO PRICE PREDICTION. HENCE REMOVED.

#### Wheel Size Length	Width	Height	Wheel Base	Front Tread	Rear Tread	Kerb Weight	Gross Weight Turning Radius Cargo Volumn Acceleration Ground Clearance Unladen Digital Odometer	Power Steering_1	Power Windows Front_1	Power Windows Rear_1	Remote Trunk Opener_1	Low Fuel Warning Light_1	Accessory Power Outlet_1	Vanity Mirror	Rear Seat Headrest_1	Cup Holders Front	Seat Lumbar Support	Multifunction Steering Wheel	Cruise Control	Rear ACVents	Glove Box Cooling	Voice Control	Gear Shift Indicator	Lane Change Indicator	Adjustable Headrest	Remote Fuel Lid Opener_1	Battery Saver	Trunk Light	Navigation System_1	Engine Start Stop Button	Air Quality Control_1	Rear Reading Lamp	Rear Seat Centre Arm Rest	Cup Holders Rear	Smart Access Card Entry	Height Adjustable Front Seat Belts	Steering Wheel Gearshift Paddles	Steering Mounted Tripmeter	Tailgate Ajar	Luggage Hook And Net	Power Boot	Hands Free Tailgate	Drive Modes	Find My Car Location	Remote Horn Light Control	Remote Engine Start Stop	Remote Climate Control	Real Time Vehicle Tracking Centeral Locking	Radio	Manually Adjustable Exterior Rear View Mirror	Child Safety Locks	Driver Air Bag	Power Adjustable Exterior Rear View Mirror	Brake Assist	Cd Player	Navigation System Centeral Locking	Radio	Manually Adjustable Exterior Rear View Mirror	Child Safety Locks	Driver Air Bag	Power Adjustable Exterior Rear View Mirror	Brake Assist	Cd Player	Navigation SystemCenteral Locking	Radio	Manually Adjustable Exterior Rear View Mirror	Child Safety Locks	Driver Air Bag	Power Adjustable Exterior Rear View Mirror	Brake Assist	Cd Player	Navigation System BoreX Stroke	Compression Ratio No of Cylinder	Values per Cylinder	Value Configuration	Fuel Suppy System	Turbo Charger	Super Charger Heater	Adjustable Head Lights	Fog Lights Front

In [8]:
print("Now Columns: \n it	ft	bt	km	transmission	ownerNo	owner	oem	model	modelYear	centralVariantId	variantName	price	priceActual	Registration Year	Insurance Validity	Fuel Type	Seats	Kms Driven	RTO	Ownership	Engine Displacement	Transmission	Year of Manufacture	Mileage	Engine	Max Power	Torque	Seats_1	Color	Engine Type	Displacement	Max Power_1	Max Torque	Gear Box	Drive Type	Seating Capacity	Steering Type	Front Brake Type	Rear Brake Type	No Door Numbers	Top Speed	Power Steering	Power Windows Front	Air Conditioner	Anti Lock Braking System")

Now Columns:
 it	ft	bt	km	transmission	ownerNo	owner	oem	model	modelYear	centralVariantId	variantName	price	priceActual	Registration Year	Insurance Validity	Fuel Type	Seats	Kms Driven	RTO	Ownership	Engine Displacement	Transmission	Year of Manufacture	Mileage	Engine	Max Power	Torque	Seats_1	Color	Engine Type	Displacement	Max Power_1	Max Torque	Gear Box	Drive Type	Seating Capacity	Steering Type	Front Brake Type	Rear Brake Type	No Door Numbers	Top Speed	Power Steering	Power Windows Front	Air Conditioner	Anti Lock Braking System

## Repeatitive columns are Removed:

#### 1. There are two Transmission columns (Automatic\Manual)

#### 2. There are two Year of Manufacture Columns 

#### 3. There are three Seats Columns 

#### 4. There are two Fuel Type Columns 

#### 5. There are three Owners Type Columns 

#### 6. There are three Engine Displacement Columns 

#### 7. There are two Torque Type Columns 

#### 8. There are two Power Type Columns

In [9]:
df = pd.read_excel("Final_Data.xlsx")
df

,bt,km,transmission,oem,model,centralVariantId,variantName,price,priceActual,Registration Year,...,Gear Box,Drive Type,Steering Type,Front Brake Type,Rear Brake Type,No Door Numbers,Top Speed,Power Steering,Power Windows Front,Air Conditioner
0,SUV,"20,000",Automatic,Kia,Kia Sonet,8654,Turbo DCT Anniversary Edition,₹ 11.50 Lakh,NaN,2022,...,7-Speed DCT,FWD,Electric,Disc,Drum,5.0,NaN,1.0,1.0,1.0
1,Minivans,"20,687",Manual,Maruti,Maruti Eeco,4025,7 Seater Standard BSIV,₹ 4.15 Lakh,NaN,Feb 2015,...,5 Speed,RWD,Manual,Ventilated Disc,Drum,5.0,145 Kmph,NaN,NaN,NaN
2,SUV,"30,000",Manual,Nissan,Nissan Magnite,8135,Turbo XV Premium BSVI,₹ 7.50 Lakh,NaN,2021,...,5 Speed,NaN,Electronic,Disc,Drum,5.0,NaN,1.0,1.0,1.0
3,Hatchback,"59,247",Manual,Hyundai,Hyundai i10,1579,Sportz 1.1L,₹ 3.98 Lakh,NaN,May 2015,...,5 Speed,FWD,Power,Ventilated Disc,Drum,5.0,165 Kmph,1.0,1.0,1.0
4,Hatchback,"50,000",Manual,Honda,Honda Jazz,1341,1.2 VX i VTEC,₹ 5.50 Lakh,NaN,2015,...,5 Speed,FWD,Power,Disc,Drum,5.0,172 Kmph,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8364,Hatchback,"10,000",Manual,Maruti,Maruti Celerio,8682,ZXI BSVI,₹ 5.10 Lakh,NaN,2022,...,5-Speed,NaN,Electric,Ventilated Disc,Drum,5.0,NaN,1.0,1.0,1.0
8365,Hatchback,"1,20,000",Manual,Maruti,Maruti Alto 800,3943,LXI,₹ 1.80 Lakh,NaN,2014,...,5 Speed,FWD,Power,Solid Disc,Drum,5.0,140 kmph,1.0,1.0,1.0
8366,Sedan,"50,000",Automatic,Mercedes-Benz,Mercedes-Benz C-Class,4672,C 200 CGI Elegance,₹ 5.50 Lakh,NaN,2011,...,7 Speed,RWD,Power,Ventilated Disc,Solid Disc,4.0,230km/hr,1.0,1.0,1.0
8367,Hatchback,"40,000",Manual,Maruti,Maruti Ritz,4144,ZXi,₹ 1.40 Lakh,NaN,2012,...,5 Speed,FWD,Power,Ventilated Disc,Drum,5.0,156 Kmph,1.0,1.0,1.0
8368,SUV,"1,20,000",Manual,Renault,Renault Duster,5048,110PS Diesel RxZ AWD,₹ 5 Lakh,NaN,2017,...,6 Speed,AWD,Power,Disc,Drum,5.0,168 Kmph,1.0,1.0,1.0

In [10]:
df.columns

Index(['bt', 'km', 'transmission', 'oem', 'model', 'centralVariantId',
       'variantName', 'price', 'priceActual', 'Registration Year',
       'Insurance Validity', 'Fuel Type', 'Kms Driven', 'RTO', 'ownerNo',
       'Displacement', 'Year of Manufacture', 'Mileage', 'Max Power', 'Torque',
       'Seats_1', 'Color', 'Engine Type', 'Gear Box', 'Drive Type',
       'Steering Type', 'Front Brake Type', 'Rear Brake Type',
       'No Door Numbers', 'Top Speed', 'Power Steering', 'Power Windows Front',
       'Air Conditioner'],
      dtype='object')

# DATA CLEANING:

## NULL VALUE CLEANING:

In [11]:
df.isnull().sum()

bt                        4
km                        0
transmission              0
oem                       0
model                     0
centralVariantId          0
variantName               0
price                     0
priceActual            6699
Registration Year        52
Insurance Validity        4
Fuel Type                 0
Kms Driven                2
RTO                     894
ownerNo                   0
Displacement              4
Year of Manufacture      20
Mileage                 287
Max Power                60
Torque                   60
Seats_1                   6
Color                     3
Engine Type             295
Gear Box                106
Drive Type             1560
Steering Type           255
Front Brake Type         96
Rear Brake Type          96
No Door Numbers          11
Top Speed              3762
Power Steering          180
Power Windows Front     427
Air Conditioner         146
dtype: int64

### LETS GO COLUMN WISE:

#### 1.bt:

#### There are 4 null values. Algorithm:
##### 1. print the null rows where bt is null. 
##### 2. find what is the oem and model when bt is null.
##### 3. check if there is other rows where the same oem and model is there and print them. 
##### 4. if they have bt value. then that can be filled in the null value section.

In [12]:
# Step 1: Print the rows where 'bt' is null
null_bt_rows = df[df['bt'].isnull()]
print("Rows where 'bt' is null:")
print(null_bt_rows)

Rows where 'bt' is null:
       bt      km transmission     oem            model  centralVariantId  \
3382  NaN  10,500    Automatic  Toyota  Toyota Vellfire             11003
5390  NaN  13,500       Manual  Maruti      Maruti Eeco              9452
5411  NaN  16,415       Manual  Maruti      Maruti Eeco              9452
8114  NaN  21,166       Manual  Maruti      Maruti Eeco             10376

               variantName         price priceActual Registration Year  ...  \
3382  VIP Executive Lounge  ₹ 1.19 Crore         NaN          Mar 2023  ...
5390      5 Seater AC BSVI   ₹ 4.95 Lakh         NaN          Apr 2019  ...
5411      5 Seater AC BSVI   ₹ 5.20 Lakh         NaN          Mar 2020  ...
8114           5 Seater AC   ₹ 3.95 Lakh         NaN          Jun 2019  ...

     Gear Box Drive Type Steering Type Front Brake Type  Rear Brake Type  \
3382      CVT        NaN      Electric             Disc             Disc
5390  5 Speed        NaN        Manual             Disc             Drum
5411  5 Speed        NaN        Manual             Disc             Drum
8114  5 Speed        NaN        Manual             Disc             Drum

      No Door Numbers  Top Speed Power Steering Power Windows Front  \
3382              4.0        NaN            1.0                 1.0
5390              5.0        NaN            NaN                 NaN
5411              5.0        NaN            NaN                 NaN
8114              5.0        NaN            NaN                 NaN

     Air Conditioner
3382             1.0
5390             1.0
5411             1.0
8114             1.0

[4 rows x 33 columns]

In [13]:
# Step 2: Find the 'oem' and 'model' for rows where 'bt' is null
null_oem_model = null_bt_rows[['oem', 'model']]
print("OEM and Model for null 'bt':")
print(null_oem_model)

OEM and Model for null 'bt':
         oem            model
3382  Toyota  Toyota Vellfire
5390  Maruti      Maruti Eeco
5411  Maruti      Maruti Eeco
8114  Maruti      Maruti Eeco

In [14]:
# Step 3: Check for other rows with the same 'oem' and 'model'
for index, row in null_oem_model.iterrows():
    oem = row['oem']
    model = row['model']
    similar_rows = df[(df['oem'] == oem) & (df['model'] == model) & (df['bt'].notnull())]
    
    if not similar_rows.empty:
        print(f"\nSimilar rows for OEM: {oem}, Model: {model}:")
        print(similar_rows)
    else:
        print(f"\nNo similar rows found for OEM: {oem}, Model: {model} with non-null 'bt'.")

No similar rows found for OEM: Toyota, Model: Toyota Vellfire with non-null 'bt'.

Similar rows for OEM: Maruti, Model: Maruti Eeco:
            bt        km transmission     oem        model  centralVariantId  \
1     Minivans    20,687       Manual  Maruti  Maruti Eeco              4025
1070  Minivans    20,000       Manual  Maruti  Maruti Eeco              7346
2101  Minivans    10,000       Manual  Maruti  Maruti Eeco              7346
2173  Minivans    63,251       Manual  Maruti  Maruti Eeco              7345
2207  Minivans    40,000       Manual  Maruti  Maruti Eeco              7706
2378  Minivans    30,000       Manual  Maruti  Maruti Eeco              7346
2380  Minivans    30,000       Manual  Maruti  Maruti Eeco              7346
2513  Minivans    10,000       Manual  Maruti  Maruti Eeco              7346
5388  Minivans    44,000       Manual  Maruti  Maruti Eeco              4023
5403  Minivans    28,220       Manual  Maruti  Maruti Eeco              7344
5642  Minivans    84,542       Manual  Maruti  Maruti Eeco              4023
6345  Minivans    30,000       Manual  Maruti  Maruti Eeco              7706
6529  Minivans    32,317       Manual  Maruti  Maruti Eeco              7706
8120  Minivans  1,00,000       Manual  Maruti  Maruti Eeco              4025
8121  Minivans    60,000       Manual  Maruti  Maruti Eeco              4025
8123  Minivans    20,000       Manual  Maruti  Maruti Eeco              4023
8151  Minivans    20,000       Manual  Maruti  Maruti Eeco              7346
8153  Minivans    50,000       Manual  Maruti  Maruti Eeco              4025
8154  Minivans    50,000       Manual  Maruti  Maruti Eeco              4025

                 variantName        price priceActual Registration Year  ...  \
1     7 Seater Standard BSIV  ₹ 4.15 Lakh         NaN          Feb 2015  ...
1070  7 Seater STD 2020-2022  ₹ 4.70 Lakh         NaN              2021  ...
2101  7 Seater STD 2020-2022  ₹ 5.30 Lakh         NaN              2021  ...
2173  5 Seater STD 2020-2022  ₹ 4.85 Lakh         NaN          Apr 2019  ...
2207         CNG 5 Seater AC     ₹ 5 Lakh         NaN              2021  ...
2378  7 Seater STD 2020-2022  ₹ 4.35 Lakh         NaN              2020  ...
2380  7 Seater STD 2020-2022  ₹ 4.35 Lakh         NaN              2020  ...
2513  7 Seater STD 2020-2022     ₹ 5 Lakh         NaN              2021  ...
5388        5 Seater AC BSIV  ₹ 3.45 Lakh         NaN          Aug 2014  ...
5403   5 Seater AC 2020-2022  ₹ 4.70 Lakh         NaN          Mar 2021  ...
5642        5 Seater AC BSIV  ₹ 3.76 Lakh         NaN          Apr 2017  ...
6345         CNG 5 Seater AC  ₹ 6.55 Lakh         NaN              2022  ...
6529         CNG 5 Seater AC  ₹ 5.70 Lakh         NaN          May 2022  ...
8120  7 Seater Standard BSIV  ₹ 1.50 Lakh         NaN              2010  ...
8121  7 Seater Standard BSIV  ₹ 1.40 Lakh         NaN              2010  ...
8123        5 Seater AC BSIV  ₹ 1.60 Lakh         NaN              2013  ...
8151  7 Seater STD 2020-2022  ₹ 4.20 Lakh         NaN              2021  ...
8153  7 Seater Standard BSIV  ₹ 1.75 Lakh         NaN              2010  ...
8154  7 Seater Standard BSIV  ₹ 1.75 Lakh         NaN              2010  ...

     Gear Box Drive Type Steering Type Front Brake Type  Rear Brake Type  \
1     5 Speed        RWD        Manual  Ventilated Disc             Drum
1070  5 Speed        NaN        Manual             Disc             Drum
2101  5 Speed        NaN        Manual             Disc             Drum
2173  5 Speed        NaN        Manual             Disc             Drum
2207  5 Speed        NaN        Manual             Disc             Drum
2378  5 Speed        NaN        Manual             Disc             Drum
2380  5 Speed        NaN        Manual             Disc             Drum
2513  5 Speed        NaN        Manual             Disc             Drum
5388  5 Speed        RWD        Manual  Ventilated Disc             Drum
5403  5 Speed        NaN        Manual             Disc             Drum
5642  5 Speed        RWD        Manual  Ventilated Disc             Drum
6345  5 Speed        NaN        Manual             Disc             Drum
6529  5 Speed        NaN        Manual             Disc             Drum
8120  5 Speed        RWD        Manual  Ventilated Disc             Drum
8121  5 Speed        RWD        Manual  Ventilated Disc             Drum
8123  5 Speed        RWD        Manual  Ventilated Disc             Drum
8151  5 Speed        NaN        Manual             Disc             Drum
8153  5 Speed        RWD        Manual  Ventilated Disc             Drum
8154  5 Speed        RWD        Manual  Ventilated Disc             Drum

      No Door Numbers  Top Speed Power Steering Power Windows Front  \
1                 5.0   145 Kmph            NaN                 NaN
1070              5.0        NaN            NaN                 NaN
2101              5.0        NaN            NaN                 NaN
2173              5.0        NaN            NaN                 NaN
2207              5.0        NaN            NaN                 NaN
2378              5.0        NaN            NaN                 NaN
2380              5.0        NaN            NaN                 NaN
2513              5.0        NaN            NaN                 NaN
5388              5.0   145 Kmph            NaN                 NaN
5403              5.0        NaN            NaN                 NaN
5642              5.0   145 Kmph            NaN                 NaN
6345              5.0        NaN            NaN                 NaN
6529              5.0        NaN            NaN                 NaN
8120              5.0   145 Kmph            NaN                 NaN
8121              5.0   145 Kmph            NaN                 NaN
8123              5.0   145 Kmph            NaN                 NaN
8151              5.0        NaN            NaN                 NaN
8153              5.0   145 Kmph            NaN                 NaN
8154              5.0   145 Kmph            NaN                 NaN

     Air Conditioner
1                NaN
1070             NaN
2101             NaN
2173             NaN
2207             1.0
2378             NaN
2380             NaN
2513             NaN
5388             1.0
5403             1.0
5642             1.0
6345             1.0
6529             1.0
8120             NaN
8121             NaN
8123             1.0
8151             NaN
8153             NaN
8154             NaN

[19 rows x 33 columns]

Similar rows for OEM: Maruti, Model: Maruti Eeco:
            bt        km transmission     oem        model  centralVariantId  \
1     Minivans    20,687       Manual  Maruti  Maruti Eeco              4025
1070  Minivans    20,000       Manual  Maruti  Maruti Eeco              7346
2101  Minivans    10,000       Manual  Maruti  Maruti Eeco              7346
2173  Minivans    63,251       Manual  Maruti  Maruti Eeco              7345
2207  Minivans    40,000       Manual  Maruti  Maruti Eeco              7706
2378  Minivans    30,000       Manual  Maruti  Maruti Eeco              7346
2380  Minivans    30,000       Manual  Maruti  Maruti Eeco              7346
2513  Minivans    10,000       Manual  Maruti  Maruti Eeco              7346
5388  Minivans    44,000       Manual  Maruti  Maruti Eeco              4023
5403  Minivans    28,220       Manual  Maruti  Maruti Eeco              7344
5642  Minivans    84,542       Manual  Maruti  Maruti Eeco              4023
6345  Minivans    30,000       Manual  Maruti  Maruti Eeco              7706
6529  Minivans    32,317       Manual  Maruti  Maruti Eeco              7706
8120  Minivans  1,00,000       Manual  Maruti  Maruti Eeco              4025
8121  Minivans    60,000       Manual  Maruti  Maruti Eeco              4025
8123  Minivans    20,000       Manual  Maruti  Maruti Eeco              4023
8151  Minivans    20,000       Manual  Maruti  Maruti Eeco              7346
8153  Minivans    50,000       Manual  Maruti  Maruti Eeco              4025
8154  Minivans    50,000       Manual  Maruti  Maruti Eeco              4025

                 variantName        price priceActual Registration Year  ...  \
1     7 Seater Standard BSIV  ₹ 4.15 Lakh         NaN          Feb 2015  ...
1070  7 Seater STD 2020-2022  ₹ 4.70 Lakh         NaN              2021  ...
2101  7 Seater STD 2020-2022  ₹ 5.30 Lakh         NaN              2021  ...
2173  5 Seater STD 2020-2022  ₹ 4.85 Lakh         NaN          Apr 2019  ...
2207         CNG 5 Seater AC     ₹ 5 Lakh         NaN              2021  ...
2378  7 Seater STD 2020-2022  ₹ 4.35 Lakh         NaN              2020  ...
2380  7 Seater STD 2020-2022  ₹ 4.35 Lakh         NaN              2020  ...
2513  7 Seater STD 2020-2022     ₹ 5 Lakh         NaN              2021  ...
5388        5 Seater AC BSIV  ₹ 3.45 Lakh         NaN          Aug 2014  ...
5403   5 Seater AC 2020-2022  ₹ 4.70 Lakh         NaN          Mar 2021  ...
5642        5 Seater AC BSIV  ₹ 3.76 Lakh         NaN          Apr 2017  ...
6345         CNG 5 Seater AC  ₹ 6.55 Lakh         NaN              2022  ...
6529         CNG 5 Seater AC  ₹ 5.70 Lakh         NaN          May 2022  ...
8120  7 Seater Standard BSIV  ₹ 1.50 Lakh         NaN              2010  ...
8121  7 Seater Standard BSIV  ₹ 1.40 Lakh         NaN              2010  ...
8123        5 Seater AC BSIV  ₹ 1.60 Lakh         NaN              2013  ...
8151  7 Seater STD 2020-2022  ₹ 4.20 Lakh         NaN              2021  ...
8153  7 Seater Standard BSIV  ₹ 1.75 Lakh         NaN              2010  ...
8154  7 Seater Standard BSIV  ₹ 1.75 Lakh         NaN              2010  ...

     Gear Box Drive Type Steering Type Front Brake Type  Rear Brake Type  \
1     5 Speed        RWD        Manual  Ventilated Disc             Drum
1070  5 Speed        NaN        Manual             Disc             Drum
2101  5 Speed        NaN        Manual             Disc             Drum
2173  5 Speed        NaN        Manual             Disc             Drum
2207  5 Speed        NaN        Manual             Disc             Drum
2378  5 Speed        NaN        Manual             Disc             Drum
2380  5 Speed        NaN        Manual             Disc             Drum
2513  5 Speed        NaN        Manual             Disc             Drum
5388  5 Speed        RWD        Manual  Ventilated Disc             Drum
5403  5 Speed        NaN        Manual             Disc             Drum
5642  5 Speed        RWD        Manual  Ventilated Disc             Drum
6345  5 Speed        NaN        Manual             Disc             Drum
6529  5 Speed        NaN        Manual             Disc             Drum
8120  5 Speed        RWD        Manual  Ventilated Disc             Drum
8121  5 Speed        RWD        Manual  Ventilated Disc             Drum
8123  5 Speed        RWD        Manual  Ventilated Disc             Drum
8151  5 Speed        NaN        Manual             Disc             Drum
8153  5 Speed        RWD        Manual  Ventilated Disc             Drum
8154  5 Speed        RWD        Manual  Ventilated Disc             Drum

      No Door Numbers  Top Speed Power Steering Power Windows Front  \
1                 5.0   145 Kmph            NaN                 NaN
1070              5.0        NaN            NaN                 NaN
2101              5.0        NaN            NaN                 NaN
2173              5.0        NaN            NaN                 NaN
2207              5.0        NaN            NaN                 NaN
2378              5.0        NaN            NaN                 NaN
2380              5.0        NaN            NaN                 NaN
2513              5.0        NaN            NaN                 NaN
5388              5.0   145 Kmph            NaN                 NaN
5403              5.0        NaN            NaN                 NaN
5642              5.0   145 Kmph            NaN                 NaN
6345              5.0        NaN            NaN                 NaN
6529              5.0        NaN            NaN                 NaN
8120              5.0   145 Kmph            NaN                 NaN
8121              5.0   145 Kmph            NaN                 NaN
8123              5.0   145 Kmph            NaN                 NaN
8151              5.0        NaN            NaN                 NaN
8153              5.0   145 Kmph            NaN                 NaN
8154              5.0   145 Kmph            NaN                 NaN

     Air Conditioner
1                NaN
1070             NaN
2101             NaN
2173             NaN
2207             1.0
2378             NaN
2380             NaN
2513             NaN
5388             1.0
5403             1.0
5642             1.0
6345             1.0
6529             1.0
8120             NaN
8121             NaN
8123             1.0
8151             NaN
8153             NaN
8154             NaN

[19 rows x 33 columns]

Similar rows for OEM: Maruti, Model: Maruti Eeco:
            bt        km transmission     oem        model  centralVariantId  \
1     Minivans    20,687       Manual  Maruti  Maruti Eeco              4025
1070  Minivans    20,000       Manual  Maruti  Maruti Eeco              7346
2101  Minivans    10,000       Manual  Maruti  Maruti Eeco              7346
2173  Minivans    63,251       Manual  Maruti  Maruti Eeco              7345
2207  Minivans    40,000       Manual  Maruti  Maruti Eeco              7706
2378  Minivans    30,000       Manual  Maruti  Maruti Eeco              7346
2380  Minivans    30,000       Manual  Maruti  Maruti Eeco              7346
2513  Minivans    10,000       Manual  Maruti  Maruti Eeco              7346
5388  Minivans    44,000       Manual  Maruti  Maruti Eeco              4023
5403  Minivans    28,220       Manual  Maruti  Maruti Eeco              7344
5642  Minivans    84,542       Manual  Maruti  Maruti Eeco              4023
6345  Minivans    30,000       Manual  Maruti  Maruti Eeco              7706
6529  Minivans    32,317       Manual  Maruti  Maruti Eeco              7706
8120  Minivans  1,00,000       Manual  Maruti  Maruti Eeco              4025
8121  Minivans    60,000       Manual  Maruti  Maruti Eeco              4025
8123  Minivans    20,000       Manual  Maruti  Maruti Eeco              4023
8151  Minivans    20,000       Manual  Maruti  Maruti Eeco              7346
8153  Minivans    50,000       Manual  Maruti  Maruti Eeco              4025
8154  Minivans    50,000       Manual  Maruti  Maruti Eeco              4025

                 variantName        price priceActual Registration Year  ...  \
1     7 Seater Standard BSIV  ₹ 4.15 Lakh         NaN          Feb 2015  ...
1070  7 Seater STD 2020-2022  ₹ 4.70 Lakh         NaN              2021  ...
2101  7 Seater STD 2020-2022  ₹ 5.30 Lakh         NaN              2021  ...
2173  5 Seater STD 2020-2022  ₹ 4.85 Lakh         NaN          Apr 2019  ...
2207         CNG 5 Seater AC     ₹ 5 Lakh         NaN              2021  ...
2378  7 Seater STD 2020-2022  ₹ 4.35 Lakh         NaN              2020  ...
2380  7 Seater STD 2020-2022  ₹ 4.35 Lakh         NaN              2020  ...
2513  7 Seater STD 2020-2022     ₹ 5 Lakh         NaN              2021  ...
5388        5 Seater AC BSIV  ₹ 3.45 Lakh         NaN          Aug 2014  ...
5403   5 Seater AC 2020-2022  ₹ 4.70 Lakh         NaN          Mar 2021  ...
5642        5 Seater AC BSIV  ₹ 3.76 Lakh         NaN          Apr 2017  ...
6345         CNG 5 Seater AC  ₹ 6.55 Lakh         NaN              2022  ...
6529         CNG 5 Seater AC  ₹ 5.70 Lakh         NaN          May 2022  ...
8120  7 Seater Standard BSIV  ₹ 1.50 Lakh         NaN              2010  ...
8121  7 Seater Standard BSIV  ₹ 1.40 Lakh         NaN              2010  ...
8123        5 Seater AC BSIV  ₹ 1.60 Lakh         NaN              2013  ...
8151  7 Seater STD 2020-2022  ₹ 4.20 Lakh         NaN              2021  ...
8153  7 Seater Standard BSIV  ₹ 1.75 Lakh         NaN              2010  ...
8154  7 Seater Standard BSIV  ₹ 1.75 Lakh         NaN              2010  ...

     Gear Box Drive Type Steering Type Front Brake Type  Rear Brake Type  \
1     5 Speed        RWD        Manual  Ventilated Disc             Drum
1070  5 Speed        NaN        Manual             Disc             Drum
2101  5 Speed        NaN        Manual             Disc             Drum
2173  5 Speed        NaN        Manual             Disc             Drum
2207  5 Speed        NaN        Manual             Disc             Drum
2378  5 Speed        NaN        Manual             Disc             Drum
2380  5 Speed        NaN        Manual             Disc             Drum
2513  5 Speed        NaN        Manual             Disc             Drum
5388  5 Speed        RWD        Manual  Ventilated Disc             Drum
5403  5 Speed        NaN        Manual             Disc             Drum
5642  5 Speed        RWD        Manual  Ventilated Disc             Drum
6345  5 Speed        NaN        Manual             Disc             Drum
6529  5 Speed        NaN        Manual             Disc             Drum
8120  5 Speed        RWD        Manual  Ventilated Disc             Drum
8121  5 Speed        RWD        Manual  Ventilated Disc             Drum
8123  5 Speed        RWD        Manual  Ventilated Disc             Drum
8151  5 Speed        NaN        Manual             Disc             Drum
8153  5 Speed        RWD        Manual  Ventilated Disc             Drum
8154  5 Speed        RWD        Manual  Ventilated Disc             Drum

      No Door Numbers  Top Speed Power Steering Power Windows Front  \
1                 5.0   145 Kmph            NaN                 NaN
1070              5.0        NaN            NaN                 NaN
2101              5.0        NaN            NaN                 NaN
2173              5.0        NaN            NaN                 NaN
2207              5.0        NaN            NaN                 NaN
2378              5.0        NaN            NaN                 NaN
2380              5.0        NaN            NaN                 NaN
2513              5.0        NaN            NaN                 NaN
5388              5.0   145 Kmph            NaN                 NaN
5403              5.0        NaN            NaN                 NaN
5642              5.0   145 Kmph            NaN                 NaN
6345              5.0        NaN            NaN                 NaN
6529              5.0        NaN            NaN                 NaN
8120              5.0   145 Kmph            NaN                 NaN
8121              5.0   145 Kmph            NaN                 NaN
8123              5.0   145 Kmph            NaN                 NaN
8151              5.0        NaN            NaN                 NaN
8153              5.0   145 Kmph            NaN                 NaN
8154              5.0   145 Kmph            NaN                 NaN

     Air Conditioner
1                NaN
1070             NaN
2101             NaN
2173             NaN
2207             1.0
2378             NaN
2380             NaN
2513             NaN
5388             1.0
5403             1.0
5642             1.0
6345             1.0
6529             1.0
8120             NaN
8121             NaN
8123             1.0
8151             NaN
8153             NaN
8154             NaN

[19 rows x 33 columns]

#### It is found that "Maruti"  "Maruti Eeco" is of bt: "Minivans"
#### There is no similar output of "Toyota" "Toyoto Vellfire"
#### Fill na for Eeco as minivan and upon searching Vellfire is a luxury minivan hence it also filled as minivan

In [15]:
# ing all null values in the 'bt' column with "Minivans"
df['bt'].fillna("Minivans", inplace=True)

print("\nUpdated DataFrame:")
print(df)

Updated DataFrame:
             bt        km transmission            oem                  model  \
0           SUV    20,000    Automatic            Kia              Kia Sonet
1      Minivans    20,687       Manual         Maruti            Maruti Eeco
2           SUV    30,000       Manual         Nissan         Nissan Magnite
3     Hatchback    59,247       Manual        Hyundai            Hyundai i10
4     Hatchback    50,000       Manual          Honda             Honda Jazz
...         ...       ...          ...            ...                    ...
8364  Hatchback    10,000       Manual         Maruti         Maruti Celerio
8365  Hatchback  1,20,000       Manual         Maruti        Maruti Alto 800
8366      Sedan    50,000    Automatic  Mercedes-Benz  Mercedes-Benz C-Class
8367  Hatchback    40,000       Manual         Maruti            Maruti Ritz
8368        SUV  1,20,000       Manual        Renault         Renault Duster

      centralVariantId                    variantName         price  \
0                 8654  Turbo DCT Anniversary Edition  ₹ 11.50 Lakh
1                 4025         7 Seater Standard BSIV   ₹ 4.15 Lakh
2                 8135          Turbo XV Premium BSVI   ₹ 7.50 Lakh
3                 1579                    Sportz 1.1L   ₹ 3.98 Lakh
4                 1341                  1.2 VX i VTEC   ₹ 5.50 Lakh
...                ...                            ...           ...
8364              8682                       ZXI BSVI   ₹ 5.10 Lakh
8365              3943                            LXI   ₹ 1.80 Lakh
8366              4672             C 200 CGI Elegance   ₹ 5.50 Lakh
8367              4144                            ZXi   ₹ 1.40 Lakh
8368              5048           110PS Diesel RxZ AWD      ₹ 5 Lakh

     priceActual Registration Year  ...     Gear Box Drive Type Steering Type  \
0            NaN              2022  ...  7-Speed DCT        FWD      Electric
1            NaN          Feb 2015  ...      5 Speed        RWD        Manual
2            NaN              2021  ...      5 Speed        NaN    Electronic
3            NaN          May 2015  ...      5 Speed        FWD         Power
4            NaN              2015  ...      5 Speed        FWD         Power
...          ...               ...  ...          ...        ...           ...
8364         NaN              2022  ...      5-Speed        NaN      Electric
8365         NaN              2014  ...      5 Speed        FWD         Power
8366         NaN              2011  ...      7 Speed        RWD         Power
8367         NaN              2012  ...      5 Speed        FWD         Power
8368         NaN              2017  ...      6 Speed        AWD         Power

     Front Brake Type  Rear Brake Type  No Door Numbers  Top Speed  \
0                Disc             Drum              5.0        NaN
1     Ventilated Disc             Drum              5.0   145 Kmph
2                Disc             Drum              5.0        NaN
3     Ventilated Disc             Drum              5.0   165 Kmph
4                Disc             Drum              5.0   172 Kmph
...               ...              ...              ...        ...
8364  Ventilated Disc             Drum              5.0        NaN
8365       Solid Disc             Drum              5.0   140 kmph
8366  Ventilated Disc       Solid Disc              4.0   230km/hr
8367  Ventilated Disc             Drum              5.0   156 Kmph
8368             Disc             Drum              5.0   168 Kmph

     Power Steering Power Windows Front Air Conditioner
0               1.0                 1.0             1.0
1               NaN                 NaN             NaN
2               1.0                 1.0             1.0
3               1.0                 1.0             1.0
4               1.0                 1.0             1.0
...             ...                 ...             ...
8364            1.0                 1.0             1.0
8365            1.0                 1.0             1.0
8366            1.0                 1.0             1.0
8367            1.0                 1.0             1.0
8368            1.0                 1.0             1.0

[8369 rows x 33 columns]

In [16]:
df.isnull().sum()

bt                        0
km                        0
transmission              0
oem                       0
model                     0
centralVariantId          0
variantName               0
price                     0
priceActual            6699
Registration Year        52
Insurance Validity        4
Fuel Type                 0
Kms Driven                2
RTO                     894
ownerNo                   0
Displacement              4
Year of Manufacture      20
Mileage                 287
Max Power                60
Torque                   60
Seats_1                   6
Color                     3
Engine Type             295
Gear Box                106
Drive Type             1560
Steering Type           255
Front Brake Type         96
Rear Brake Type          96
No Door Numbers          11
Top Speed              3762
Power Steering          180
Power Windows Front     427
Air Conditioner         146
dtype: int64

#### 2. priceActual:
##### Our main goal is price prediction. As of now priceActual has 6699 null vlaues. and actual price is irrelevant for price prediction with these many null values. hence that column is dropped.

In [17]:
# Drop the 'priceActual' column from the DataFrame
df.drop(columns=['priceActual'], inplace=True)

# Print the updated DataFrame to verify the column has been dropped
print("\nUpdated DataFrame after dropping 'priceActual':")
print(df.head())  # Display the first few rows to verify the drop

Updated DataFrame after dropping 'priceActual':
          bt      km transmission      oem           model  centralVariantId  \
0        SUV  20,000    Automatic      Kia       Kia Sonet              8654
1   Minivans  20,687       Manual   Maruti     Maruti Eeco              4025
2        SUV  30,000       Manual   Nissan  Nissan Magnite              8135
3  Hatchback  59,247       Manual  Hyundai     Hyundai i10              1579
4  Hatchback  50,000       Manual    Honda      Honda Jazz              1341

                     variantName         price Registration Year  \
0  Turbo DCT Anniversary Edition  ₹ 11.50 Lakh              2022
1         7 Seater Standard BSIV   ₹ 4.15 Lakh          Feb 2015
2          Turbo XV Premium BSVI   ₹ 7.50 Lakh              2021
3                    Sportz 1.1L   ₹ 3.98 Lakh          May 2015
4                  1.2 VX i VTEC   ₹ 5.50 Lakh              2015

      Insurance Validity  ...     Gear Box Drive Type Steering Type  \
0  Third Party insurance  ...  7-Speed DCT        FWD      Electric
1          Comprehensive  ...      5 Speed        RWD        Manual
2  Third Party insurance  ...      5 Speed        NaN    Electronic
3          Comprehensive  ...      5 Speed        FWD         Power
4  Third Party insurance  ...      5 Speed        FWD         Power

   Front Brake Type  Rear Brake Type  No Door Numbers Top Speed  \
0              Disc             Drum              5.0       NaN
1   Ventilated Disc             Drum              5.0  145 Kmph
2              Disc             Drum              5.0       NaN
3   Ventilated Disc             Drum              5.0  165 Kmph
4              Disc             Drum              5.0  172 Kmph

  Power Steering Power Windows Front  Air Conditioner
0            1.0                 1.0              1.0
1            NaN                 NaN              NaN
2            1.0                 1.0              1.0
3            1.0                 1.0              1.0
4            1.0                 1.0              1.0

[5 rows x 32 columns]

In [18]:
df.isnull().sum()

bt                        0
km                        0
transmission              0
oem                       0
model                     0
centralVariantId          0
variantName               0
price                     0
Registration Year        52
Insurance Validity        4
Fuel Type                 0
Kms Driven                2
RTO                     894
ownerNo                   0
Displacement              4
Year of Manufacture      20
Mileage                 287
Max Power                60
Torque                   60
Seats_1                   6
Color                     3
Engine Type             295
Gear Box                106
Drive Type             1560
Steering Type           255
Front Brake Type         96
Rear Brake Type          96
No Door Numbers          11
Top Speed              3762
Power Steering          180
Power Windows Front     427
Air Conditioner         146
dtype: int64

#### 3. Registration Year,Insurance Validity, Kms Driven, RTO   : 

##### Registration Year,Insurance Validity, Kms Driven, RTO is independent and unique for every car and cannot be predicted or adjusted mathematically.The columns are necessary for price prediction hence those rows has to be omitted.

In [19]:
# Drop rows with null values in the specified columns
columns_to_check = ['Registration Year', 'Insurance Validity', 'Kms Driven', 'RTO']
df.dropna(subset=columns_to_check, inplace=True)

# Print the updated DataFrame to verify the changes
print("\nUpdated DataFrame after dropping rows with null values in specified columns:")
print(df.head())  # Display the first few rows to verify the drop

Updated DataFrame after dropping rows with null values in specified columns:
          bt      km transmission      oem           model  centralVariantId  \
0        SUV  20,000    Automatic      Kia       Kia Sonet              8654
1   Minivans  20,687       Manual   Maruti     Maruti Eeco              4025
2        SUV  30,000       Manual   Nissan  Nissan Magnite              8135
3  Hatchback  59,247       Manual  Hyundai     Hyundai i10              1579
4  Hatchback  50,000       Manual    Honda      Honda Jazz              1341

                     variantName         price Registration Year  \
0  Turbo DCT Anniversary Edition  ₹ 11.50 Lakh              2022
1         7 Seater Standard BSIV   ₹ 4.15 Lakh          Feb 2015
2          Turbo XV Premium BSVI   ₹ 7.50 Lakh              2021
3                    Sportz 1.1L   ₹ 3.98 Lakh          May 2015
4                  1.2 VX i VTEC   ₹ 5.50 Lakh              2015

      Insurance Validity  ...     Gear Box Drive Type Steering Type  \
0  Third Party insurance  ...  7-Speed DCT        FWD      Electric
1          Comprehensive  ...      5 Speed        RWD        Manual
2  Third Party insurance  ...      5 Speed        NaN    Electronic
3          Comprehensive  ...      5 Speed        FWD         Power
4  Third Party insurance  ...      5 Speed        FWD         Power

   Front Brake Type  Rear Brake Type  No Door Numbers Top Speed  \
0              Disc             Drum              5.0       NaN
1   Ventilated Disc             Drum              5.0  145 Kmph
2              Disc             Drum              5.0       NaN
3   Ventilated Disc             Drum              5.0  165 Kmph
4              Disc             Drum              5.0  172 Kmph

  Power Steering Power Windows Front  Air Conditioner
0            1.0                 1.0              1.0
1            NaN                 NaN              NaN
2            1.0                 1.0              1.0
3            1.0                 1.0              1.0
4            1.0                 1.0              1.0

[5 rows x 32 columns]

In [20]:
df.isnull().sum()

bt                        0
km                        0
transmission              0
oem                       0
model                     0
centralVariantId          0
variantName               0
price                     0
Registration Year         0
Insurance Validity        0
Fuel Type                 0
Kms Driven                0
RTO                       0
ownerNo                   0
Displacement              2
Year of Manufacture       0
Mileage                 244
Max Power                39
Torque                   39
Seats_1                   4
Color                     1
Engine Type             253
Gear Box                 77
Drive Type             1373
Steering Type           235
Front Brake Type         70
Rear Brake Type          70
No Door Numbers           8
Top Speed              3353
Power Steering          119
Power Windows Front     320
Air Conditioner         100
dtype: int64

#### 4. Engine Type, Gear Box, Drive Type, Steering Type, Front Brake Type, Rear Brake Type , Top Speed, Power Steering, Power Windows Front, Air Conditioner:

##### These have a lot of null values, that much rows cannot be removed and they dont contribute heavily to the car price as well. Hence those columns are removed.

In [21]:
# List of columns to drop
columns_to_drop = [
    'Engine Type', 'Gear Box', 'Drive Type', 'Steering Type',
    'Front Brake Type', 'Rear Brake Type', 'Top Speed',
    'Power Steering', 'Power Windows Front', 'Air Conditioner'
]

# Drop the specified columns from the DataFrame
df.drop(columns=columns_to_drop, inplace=True)

# Print the updated DataFrame to verify the columns have been dropped
print("\nUpdated DataFrame after dropping specified columns:")
print(df.head())  # Display the first few rows to verify the drop

Updated DataFrame after dropping specified columns:
          bt      km transmission      oem           model  centralVariantId  \
0        SUV  20,000    Automatic      Kia       Kia Sonet              8654
1   Minivans  20,687       Manual   Maruti     Maruti Eeco              4025
2        SUV  30,000       Manual   Nissan  Nissan Magnite              8135
3  Hatchback  59,247       Manual  Hyundai     Hyundai i10              1579
4  Hatchback  50,000       Manual    Honda      Honda Jazz              1341

                     variantName         price Registration Year  \
0  Turbo DCT Anniversary Edition  ₹ 11.50 Lakh              2022
1         7 Seater Standard BSIV   ₹ 4.15 Lakh          Feb 2015
2          Turbo XV Premium BSVI   ₹ 7.50 Lakh              2021
3                    Sportz 1.1L   ₹ 3.98 Lakh          May 2015
4                  1.2 VX i VTEC   ₹ 5.50 Lakh              2015

      Insurance Validity  ...   RTO ownerNo Displacement  Year of Manufacture  \
0  Third Party insurance  ...  TN02       1        998.0               2022.0
1          Comprehensive  ...  TN04       1       1196.0               2015.0
2  Third Party insurance  ...  TN22       1        999.0               2021.0
3          Comprehensive  ...  TN11       1       1086.0               2015.0
4  Third Party insurance  ...  KA03       1       1199.0               2015.0

      Mileage  Max Power   Torque Seats_1   Color  No Door Numbers
0         NaN  118.36bhp    172nm     5.0   Black              5.0
1  15.37 kmpl      73bhp    101Nm     7.0    Grey              5.0
2     20 kmpl   98.63bhp    160Nm     5.0  Others              5.0
3  19.81 kmpl   68.05bhp  99.04Nm     5.0  Silver              5.0
4   18.7 kmpl    88.7bhp    110Nm     5.0  Others              5.0

[5 rows x 22 columns]

In [22]:
df.isnull().sum()

bt                       0
km                       0
transmission             0
oem                      0
model                    0
centralVariantId         0
variantName              0
price                    0
Registration Year        0
Insurance Validity       0
Fuel Type                0
Kms Driven               0
RTO                      0
ownerNo                  0
Displacement             2
Year of Manufacture      0
Mileage                244
Max Power               39
Torque                  39
Seats_1                  4
Color                    1
No Door Numbers          8
dtype: int64

#### 5. Displacement:

##### 1. print the null rows where Displacement is null. 
##### 2. find what is the oem and model when Displacement is null.
##### 3. check if there is other rows where the same oem,model, Year of Manufacture is there and print them. 
##### 4. if they have Displacement value. then that can be filled in the null value section. otherwise remove the row

In [23]:
null_Displacement_rows = df[df['Displacement'].isnull()]
print("Rows where 'Displacement' is null:")
print(null_Displacement_rows)

Rows where 'Displacement' is null:
             bt        km transmission            oem                  model  \
1993  Hatchback    20,000    Automatic       Mahindra      Mahindra e2o Plus
5510      Sedan  1,35,000       Manual  Mercedes-Benz  Mercedes-Benz C-Class

      centralVariantId   variantName        price Registration Year  \
1993              5477            P6  ₹ 5.50 Lakh              2017
5510              4708  180 elegance  ₹ 2.25 Lakh          Jun 2002

         Insurance Validity  ...   RTO ownerNo Displacement  \
1993  Third Party insurance  ...  KA03       1          NaN
5510  Third Party insurance  ...  AP28       1          NaN

      Year of Manufacture   Mileage  Max Power Torque Seats_1 Color  \
1993               2017.0  110 kmpl    25.4bhp   70Nm     4.0   Red
5510               2002.0       NaN        NaN    NaN     5.0   NaN

      No Door Numbers
1993              5.0
5510              4.0

[2 rows x 22 columns]

In [24]:
null_oem_model = null_Displacement_rows[['oem', 'model', 'Year of Manufacture']]
print("OEM and Model for null 'Displacement':")
print(null_oem_model)

OEM and Model for null 'Displacement':
                oem                  model  Year of Manufacture
1993       Mahindra      Mahindra e2o Plus               2017.0
5510  Mercedes-Benz  Mercedes-Benz C-Class               2002.0

In [25]:
print(null_oem_model.columns.tolist())

['oem', 'model', 'Year of Manufacture']

In [26]:
# Replace 'Year of Manufacture' with the correct column name
for index, row in null_oem_model.iterrows():
    oem = row['oem']
    model = row['model']
    # Use the corrected column name here
    year_of_manufacture = row['Year of Manufacture']  
    
    similar_rows = df[
        (df['oem'] == oem) &
        (df['model'] == model) &
        (df['Year of Manufacture'] == year_of_manufacture) &  # Update here as well
        (df['Displacement'].notnull())
    ]
    
    if not similar_rows.empty:
        print(f"\nSimilar rows for OEM: {oem}, Model: {model}, Year of Manufacture: {year_of_manufacture}:")
        print(similar_rows)
    else:
        print(f"\nNo similar rows found for OEM: {oem}, Model: {model}, Year of Manufacture: {year_of_manufacture} with non-null 'Displacement'.")

Similar rows for OEM: Mahindra, Model: Mahindra e2o Plus, Year of Manufacture: 2017.0:
             bt      km transmission       oem              model  \
2258  Hatchback  20,000    Automatic  Mahindra  Mahindra e2o Plus

      centralVariantId variantName        price Registration Year  \
2258              5478          P8  ₹ 4.60 Lakh              2017

         Insurance Validity  ...   RTO ownerNo Displacement  \
2258  Third Party insurance  ...  KA05       2         72.0

      Year of Manufacture   Mileage  Max Power Torque Seats_1 Color  \
2258               2017.0  140 kmpl      40bhp   91Nm     4.0  Blue

      No Door Numbers
2258              5.0

[1 rows x 22 columns]

No similar rows found for OEM: Mercedes-Benz, Model: Mercedes-Benz C-Class, Year of Manufacture: 2002.0 with non-null 'Displacement'.

In [27]:
# Fill null values in 'Displacement' for Mahindra with 72.0
df.loc[(df['oem'] == 'Mahindra') & (df['Displacement'].isnull()), 'Displacement'] = 72.0

# Drop rows where 'Displacement' is null and 'oem' is 'Mercedes-Benz'
df = df[~((df['Displacement'].isnull()) & (df['oem'] == 'Mercedes-Benz'))]

# Check the DataFrame after the operations
print(df)

             bt      km transmission            oem                  model  \
0           SUV  20,000    Automatic            Kia              Kia Sonet
1      Minivans  20,687       Manual         Maruti            Maruti Eeco
2           SUV  30,000       Manual         Nissan         Nissan Magnite
3     Hatchback  59,247       Manual        Hyundai            Hyundai i10
4     Hatchback  50,000       Manual          Honda             Honda Jazz
...         ...     ...          ...            ...                    ...
8348        SUV  20,000       Manual        Hyundai          Hyundai Creta
8349      Sedan  40,000       Manual         Maruti     Maruti Swift Dzire
8356        SUV  20,000       Manual           Tata             Tata Nexon
8359      Sedan  60,000       Manual         Maruti     Maruti Swift Dzire
8366      Sedan  50,000    Automatic  Mercedes-Benz  Mercedes-Benz C-Class

      centralVariantId                    variantName         price  \
0                 8654  Turbo DCT Anniversary Edition  ₹ 11.50 Lakh
1                 4025         7 Seater Standard BSIV   ₹ 4.15 Lakh
2                 8135          Turbo XV Premium BSVI   ₹ 7.50 Lakh
3                 1579                    Sportz 1.1L   ₹ 3.98 Lakh
4                 1341                  1.2 VX i VTEC   ₹ 5.50 Lakh
...                ...                            ...           ...
8348              6430                         1.6 SX     ₹ 10 Lakh
8349              7077                        VXI 1.2   ₹ 5.50 Lakh
8356              7297                        XE BSVI   ₹ 6.74 Lakh
8359              4224                            VXi   ₹ 2.50 Lakh
8366              4672             C 200 CGI Elegance   ₹ 5.50 Lakh

     Registration Year     Insurance Validity  ...   RTO ownerNo Displacement  \
0                 2022  Third Party insurance  ...  TN02       1        998.0
1             Feb 2015          Comprehensive  ...  TN04       1       1196.0
2                 2021  Third Party insurance  ...  TN22       1        999.0
3             May 2015          Comprehensive  ...  TN11       1       1086.0
4                 2015  Third Party insurance  ...  KA03       1       1199.0
...                ...                    ...  ...   ...     ...          ...
8348              2019  Third Party insurance  ...  WB02       1       1591.0
8349              2019  Third Party insurance  ...  WB24       1       1197.0
8356              2022  Third Party insurance  ...  WB20       1       1199.0
8359              2010  Third Party insurance  ...  PB10       1       1298.0
8366              2011  Third Party insurance  ...  WB06       3       1796.0

      Year of Manufacture     Mileage  Max Power   Torque Seats_1   Color  \
0                  2022.0         NaN  118.36bhp    172nm     5.0   Black
1                  2015.0  15.37 kmpl      73bhp    101Nm     7.0    Grey
2                  2021.0     20 kmpl   98.63bhp    160Nm     5.0  Others
3                  2015.0  19.81 kmpl   68.05bhp  99.04Nm     5.0  Silver
4                  2015.0   18.7 kmpl    88.7bhp    110Nm     5.0  Others
...                   ...         ...        ...      ...     ...     ...
8348               2019.0   15.8 kmpl   121.3bhp    151Nm     5.0  Others
8349               2019.0  21.21 kmpl   81.80bhp    113Nm     5.0  Others
8356               2022.0  17.33 kmpl  118.35bhp    170Nm     5.0  Others
8359               2010.0   17.5 kmpl    85.8bhp    114Nm     5.0  Others
8366               2011.0  11.74 kmpl     186bhp    285Nm     5.0  Others

      No Door Numbers
0                 5.0
1                 5.0
2                 5.0
3                 5.0
4                 5.0
...               ...
8348              5.0
8349              4.0
8356              5.0
8359              4.0
8366              4.0

[7453 rows x 22 columns]

In [28]:
df.isnull().sum()

bt                       0
km                       0
transmission             0
oem                      0
model                    0
centralVariantId         0
variantName              0
price                    0
Registration Year        0
Insurance Validity       0
Fuel Type                0
Kms Driven               0
RTO                      0
ownerNo                  0
Displacement             0
Year of Manufacture      0
Mileage                243
Max Power               38
Torque                  38
Seats_1                  4
Color                    0
No Door Numbers          8
dtype: int64

#### 5. Mileage:

##### 1. print the null rows where Mileage is null. 
##### 2. find what is the oem and model when Mileage is null.
##### 3. check if there is other rows where the same oem,model,Year of Manufacture, kms driven, registration year is there and print them. 
##### 4. if they have Mileage value. then that can be filled in the null value section. otherwise remove the row

In [29]:
# Step 1: Print the null rows where Mileage is null
null_mileage_rows = df[df['Mileage'].isnull()]
print("Rows where 'Mileage' is null:")
print(null_mileage_rows)

Rows where 'Mileage' is null:
       bt      km transmission       oem               model  \
0     SUV  20,000    Automatic       Kia           Kia Sonet
18    SUV  18,000       Manual    Toyota     Toyota Fortuner
24    SUV  20,000    Automatic      Tata       Tata Nexon EV
73    SUV  20,000    Automatic  Mahindra     Mahindra XUV700
147   SUV  30,000    Automatic       Kia          Kia Seltos
...   ...     ...          ...       ...                 ...
8272  SUV   9,000       Manual   Hyundai       Hyundai Venue
8290  SUV   2,000    Automatic  Mahindra  Mahindra Scorpio N
8292  SUV  55,000    Automatic   Hyundai       Hyundai Creta
8296  MUV  20,000       Manual       Kia          Kia Carens
8297  MUV  20,000       Manual       Kia          Kia Carens

      centralVariantId                         variantName         price  \
0                 8654       Turbo DCT Anniversary Edition  ₹ 11.50 Lakh
18                8243                     4X2 Diesel BSVI     ₹ 39 Lakh
24                7279                         XZ Plus LUX     ₹ 11 Lakh
73                8638  AX7 Diesel AT Luxury Pack AWD BSVI     ₹ 29 Lakh
147               8950                       HTX Diesel AT  ₹ 16.25 Lakh
...                ...                                 ...           ...
8272              9155                             SX BSVI   ₹ 9.35 Lakh
8290              9236                  Z8L Diesel AT BSVI  ₹ 23.70 Lakh
8292              8943              SX Opt Knight IVT BSVI  ₹ 14.15 Lakh
8296             10307                            Prestige  ₹ 10.99 Lakh
8297              8720                       Prestige BSVI  ₹ 10.99 Lakh

     Registration Year     Insurance Validity  ...   RTO ownerNo Displacement  \
0                 2022  Third Party insurance  ...  TN02       1        998.0
18           Sept 2022          Comprehensive  ...  TN02       1       2755.0
24                2020  Third Party insurance  ...  TN01       1          0.0
73            Dec 2022          Comprehensive  ...  TN09       1       2198.0
147          Sept 2019          Comprehensive  ...  TN05       1       1493.0
...                ...                    ...  ...   ...     ...          ...
8272          Oct 2022          Comprehensive  ...  WB02       1       1197.0
8290          Jul 2023          Comprehensive  ...  WB02       1       2198.0
8292          Aug 2020  Third Party insurance  ...  WB02       1       1497.0
8296          Jul 2022          Comprehensive  ...  WB02       1       1497.0
8297         Sept 2022          Comprehensive  ...  WB08       1       1497.0

      Year of Manufacture  Mileage  Max Power   Torque Seats_1   Color  \
0                  2022.0      NaN  118.36bhp    172nm     5.0   Black
18                 2022.0      NaN  201.15bhp    420Nm     7.0   White
24                 2020.0      NaN     127bhp    245Nm     5.0  Others
73                 2022.0      NaN  182.38bhp    450Nm     7.0  Silver
147                2019.0      NaN  113.43bhp    250Nm     5.0   White
...                   ...      ...        ...      ...     ...     ...
8272               2022.0      NaN   81.80bhp  113.8Nm     5.0    Grey
8290               2023.0      NaN  172.45bhp    400Nm     7.0   Green
8292               2020.0      NaN  113.18bhp  143.8Nm     5.0   White
8296               2022.0      NaN  113.42bhp    144Nm     7.0   White
8297               2022.0      NaN  113.42bhp    144Nm     7.0   White

      No Door Numbers
0                 5.0
18                5.0
24                5.0
73                5.0
147               5.0
...               ...
8272              5.0
8290              5.0
8292              5.0
8296              5.0
8297              5.0

[243 rows x 22 columns]

In [30]:
# Step 2: Find the OEM and Model when Mileage is null
# Create a list to store OEM and model details for rows with null mileage
null_mileage_details = []

for index, row in null_mileage_rows.iterrows():
    oem = row['oem']
    model = row['model']
    year_of_manufacture = row['Year of Manufacture']
    kms_driven = row['Kms Driven']  # Assuming 'km' is the column for kilometers driven
    

    null_mileage_details.append((oem, model, year_of_manufacture, kms_driven, registration_year))
    print(f"\nProcessing OEM: {oem}, Model: {model}, Year of Manufacture: {year_of_manufacture}, KMs driven: {kms_driven}")

NameError: name 'registration_year' is not defined

In [31]:
null_mileage_details = df.loc[df['Mileage'].isnull(), ['oem', 'model', 'Year of Manufacture', 'Kms Driven']].values.tolist()

In [32]:
# Step 3: Check for other rows with the same OEM, Model, Year of Manufacture, KMs driven
matching_rows = []  # To store matching rows after updates

# Print the contents of null_mileage_details to diagnose the structure
print("Contents of null_mileage_details:")
for item in null_mileage_details:
    print(item, "-> Length:", len(item))

# Now loop through the details if the structure is correct
if all(len(details) == 4 for details in null_mileage_details):
    for oem, model, year_of_manufacture, kms_driven in null_mileage_details:
        similar_rows = df[
            (df['oem'] == oem) &
            (df['model'] == model) &
            (df['Year of Manufacture'] == year_of_manufacture) &
            (df['Kms Driven'] == kms_driven) &
            (df['Mileage'].notnull())
        ]

        if not similar_rows.empty:
            print(f"\nSimilar rows for OEM: {oem}, Model: {model}, Year of Manufacture: {year_of_manufacture}, KMs driven: {kms_driven}:")
            print(similar_rows)
            matching_rows.append(similar_rows)  # Store matching rows
        else:
            print(f"\nNo similar rows found for OEM: {oem}, Model: {model}, Year of Manufacture: {year_of_manufacture}, KMs driven: {kms_driven} with non-null 'Mileage'.")
else:
    print("Error: null_mileage_details does not contain the expected structure.")

Contents of null_mileage_details:
['Kia', 'Kia Sonet', 2022.0, '20,000 Kms'] -> Length: 4
['Toyota', 'Toyota Fortuner', 2022.0, '18,000 Kms'] -> Length: 4
['Tata', 'Tata Nexon EV', 2020.0, '20,000 Kms'] -> Length: 4
['Mahindra', 'Mahindra XUV700', 2022.0, '20,000 Kms'] -> Length: 4
['Kia', 'Kia Seltos', 2019.0, '30,000 Kms'] -> Length: 4
['MG', 'MG Hector', 2022.0, '20,000 Kms'] -> Length: 4
['MG', 'MG Hector', 2022.0, '20,000 Kms'] -> Length: 4
['Hyundai', 'Hyundai Creta', 2020.0, '55,037 Kms'] -> Length: 4
['Maruti', 'Maruti Ertiga Tour', 2021.0, '70,000 Kms'] -> Length: 4
['Mercedes-Benz', 'Mercedes-Benz GLE', 2020.0, '30,000 Kms'] -> Length: 4
['Kia', 'Kia Seltos', 2020.0, '25,000 Kms'] -> Length: 4
['Mercedes-Benz', 'Mercedes-Benz GLC', 2021.0, '35,000 Kms'] -> Length: 4
['Hyundai', 'Hyundai Santro', 2002.0, '1,20,000 Kms'] -> Length: 4
['Mercedes-Benz', 'Mercedes-Benz GLS', 2021.0, '52,000 Kms'] -> Length: 4
['MG', 'MG Hector', 2021.0, '38,000 Kms'] -> Length: 4
['Jeep', 'Jeep Meridian', 2023.0, '1,200 Kms'] -> Length: 4
['Mahindra', 'Mahindra Thar', 2022.0, '20,000 Kms'] -> Length: 4
['Jeep', 'Jeep Meridian', 2022.0, '9,000 Kms'] -> Length: 4
['Kia', 'Kia Carens', 2022.0, '13,200 Kms'] -> Length: 4
['Mahindra', 'Mahindra Scorpio', 2019.0, '12,00,000 Kms'] -> Length: 4
['Mahindra', 'Mahindra Scorpio N', 2022.0, '23,183 Kms'] -> Length: 4
['Hyundai', 'Hyundai Creta', 2022.0, '19,000 Kms'] -> Length: 4
['Hyundai', 'Hyundai Venue', 2022.0, '20,000 Kms'] -> Length: 4
['Hyundai', 'Hyundai Venue', 2022.0, '32,000 Kms'] -> Length: 4
['Toyota', 'Toyota Fortuner', 2023.0, '3,000 Kms'] -> Length: 4
['Hyundai', 'Hyundai Creta', 2020.0, '19,649 Kms'] -> Length: 4
['Kia', 'Kia Seltos', 2020.0, '27,000 Kms'] -> Length: 4
['Mercedes-Benz', 'Mercedes-Benz GLE', 2022.0, '3,000 Kms'] -> Length: 4
['Kia', 'Kia Sonet', 2020.0, '30,000 Kms'] -> Length: 4
['Hyundai', 'Hyundai Creta', 2022.0, '15,000 Kms'] -> Length: 4
['Hyundai', 'Hyundai Creta', 2020.0, '58,323 Kms'] -> Length: 4
['Hyundai', 'Hyundai Santro Xing', 2007.0, '84,169 Kms'] -> Length: 4
['Hyundai', 'Hyundai Santro Xing', 2009.0, '80,033 Kms'] -> Length: 4
['Mercedes-Benz', 'Mercedes-Benz GLC', 2021.0, '50,000 Kms'] -> Length: 4
['Hyundai', 'Hyundai Creta', 2022.0, '29,041 Kms'] -> Length: 4
['Mercedes-Benz', 'Mercedes-Benz GLE', 2020.0, '30,000 Kms'] -> Length: 4
['Mercedes-Benz', 'Mercedes-Benz AMG GLA 35', 2022.0, '2,000 Kms'] -> Length: 4
['Mercedes-Benz', 'Mercedes-Benz AMG A 35', 2022.0, '300 Kms'] -> Length: 4
['Hyundai', 'Hyundai Venue', 2022.0, '11,600 Kms'] -> Length: 4
['Audi', 'Audi Q2', 2020.0, '11,700 Kms'] -> Length: 4
['Mercedes-Benz', 'Mercedes-Benz GLA', 2022.0, '16,000 Kms'] -> Length: 4
['Mercedes-Benz', 'Mercedes-Benz E-Class', 2022.0, '400 Kms'] -> Length: 4
['Hyundai', 'Hyundai Creta', 2021.0, '26,500 Kms'] -> Length: 4
['MG', 'MG Hector', 2022.0, '7,500 Kms'] -> Length: 4
['Mercedes-Benz', 'Mercedes-Benz A-Class Limousine', 2021.0, '11,000 Kms'] -> Length: 4
['Volvo', 'Volvo XC40', 2021.0, '27,000 Kms'] -> Length: 4
['MG', 'MG Hector', 2021.0, '30,000 Kms'] -> Length: 4
['Hyundai', 'Hyundai Creta', 2021.0, '14,881 Kms'] -> Length: 4
['MG', 'MG Astor', 2022.0, '10,000 Kms'] -> Length: 4
['Mercedes-Benz', 'Mercedes-Benz GLC', 2020.0, '36,531 Kms'] -> Length: 4
['Tata', 'Tata Nexon EV Max', 2023.0, '10,000 Kms'] -> Length: 4
['Tata', 'Tata Nexon EV Prime', 2022.0, '21,236 Kms'] -> Length: 4
['Hyundai', 'Hyundai Creta', 2020.0, '68,000 Kms'] -> Length: 4
['Mahindra', 'Mahindra XUV700', 2022.0, '20,000 Kms'] -> Length: 4
['Mahindra', 'Mahindra Scorpio', 2020.0, '52,000 Kms'] -> Length: 4
['Mercedes-Benz', 'Mercedes-Benz A-Class Limousine', 2022.0, '20,000 Kms'] -> Length: 4
['Volkswagen', 'Volkswagen Polo', 2021.0, '62,696 Kms'] -> Length: 4
['Kia', 'Kia Sonet', 2021.0, '80,000 Kms'] -> Length: 4
['MG', 'MG Hector', 2020.0, '23,000 Kms'] -> Length: 4
['Volvo', 'Volvo XC40', 2020.0, '25,000 Kms'] -> Length: 4
['Hyundai', 'Hyundai Santro Xing', 2006.0, '20,000 Kms'] -> Length: 4
['Kia', 'Kia Sonet', 2020.0, '34,990 Kms'] -> Length: 4
['Mahindra', 'Mahindra Thar', 2021.0, '50,000 Kms'] -> Length: 4
['Hyundai', 'Hyundai Santro Xing', 2006.0, '1,10,654 Kms'] -> Length: 4
['Mahindra', 'Mahindra Thar', 2021.0, '24,000 Kms'] -> Length: 4
['Hyundai', 'Hyundai Venue', 2022.0, '18,025 Kms'] -> Length: 4
['Jeep', 'Jeep Meridian', 2022.0, '6,000 Kms'] -> Length: 4
['Hyundai', 'Hyundai Tucson', 2017.0, '1,04,507 Kms'] -> Length: 4
['Mahindra', 'Mahindra Thar', 2020.0, '9,000 Kms'] -> Length: 4
['Hyundai', 'Hyundai Grand i10 Nios', 2022.0, '7,000 Kms'] -> Length: 4
['Kia', 'Kia Sonet', 2022.0, '24,000 Kms'] -> Length: 4
['Mini', 'Mini Cooper SE', 2023.0, '6,000 Kms'] -> Length: 4
['Mahindra', 'Mahindra Scorpio N', 2023.0, '10,000 Kms'] -> Length: 4
['Hyundai', 'Hyundai Grand i10 Nios', 2020.0, '64,847 Kms'] -> Length: 4
['Mahindra', 'Mahindra XUV700', 2022.0, '10,000 Kms'] -> Length: 4
['Mahindra', 'Mahindra Thar', 2022.0, '35,011 Kms'] -> Length: 4
['Mercedes-Benz', 'Mercedes-Benz GLS', 2022.0, '16,000 Kms'] -> Length: 4
['Hyundai', 'Hyundai Creta', 2022.0, '11,000 Kms'] -> Length: 4
['Hyundai', 'Hyundai Creta', 2021.0, '24,000 Kms'] -> Length: 4
['Hyundai', 'Hyundai Creta', 2023.0, '3,100 Kms'] -> Length: 4
['Mercedes-Benz', 'Mercedes-Benz GLE', 2020.0, '15,000 Kms'] -> Length: 4
['Toyota', 'Toyota Fortuner', 2022.0, '13,000 Kms'] -> Length: 4
['Land Rover', 'Land Rover Discovery Sport', 2020.0, '18,000 Kms'] -> Length: 4
['Land Rover', 'Land Rover Range Rover Evoque', 2021.0, '22,000 Kms'] -> Length: 4
['Mercedes-Benz', 'Mercedes-Benz AMG A 35', 2022.0, '14,000 Kms'] -> Length: 4
['Mercedes-Benz', 'Mercedes-Benz AMG G 63', 2022.0, '4,000 Kms'] -> Length: 4
['Audi', 'Audi Q7', 2023.0, '11,800 Kms'] -> Length: 4
['Mercedes-Benz', 'Mercedes-Benz GLE', 2020.0, '33,500 Kms'] -> Length: 4
['Land Rover', 'Land Rover Discovery Sport', 2020.0, '40,000 Kms'] -> Length: 4
['Audi', 'Audi Q3 Sportback', 2023.0, '10,000 Kms'] -> Length: 4
['Mercedes-Benz', 'Mercedes-Benz AMG A 35', 2021.0, '1,200 Kms'] -> Length: 4
['Audi', 'Audi Q2', 2020.0, '7,000 Kms'] -> Length: 4
['Volvo', 'Volvo XC40', 2020.0, '25,000 Kms'] -> Length: 4
['Hyundai', 'Hyundai Creta', 2023.0, '2,300 Kms'] -> Length: 4
['Volvo', 'Volvo XC40', 2022.0, '5,000 Kms'] -> Length: 4
['Hyundai', 'Hyundai Grand i10 Nios', 2021.0, '71,727 Kms'] -> Length: 4
['Porsche', 'Porsche Macan', 2020.0, '22,000 Kms'] -> Length: 4
['Mahindra', 'Mahindra Thar', 2022.0, '35,000 Kms'] -> Length: 4
['MG', 'MG Hector', 2022.0, '7,500 Kms'] -> Length: 4
['Audi', 'Audi A4', 2022.0, '6,300 Kms'] -> Length: 4
['Mahindra', 'Mahindra Thar', 2021.0, '14,500 Kms'] -> Length: 4
['Hyundai', 'Hyundai Creta', 2020.0, '28,000 Kms'] -> Length: 4
['Toyota', 'Toyota Vellfire', 2023.0, '10,500 Kms'] -> Length: 4
['Mercedes-Benz', 'Mercedes-Benz AMG G 63', 2023.0, '3,500 Kms'] -> Length: 4
['Hyundai', 'Hyundai Creta', 2023.0, '4,000 Kms'] -> Length: 4
['Mercedes-Benz', 'Mercedes-Benz GLC', 2022.0, '35,060 Kms'] -> Length: 4
['Toyota', 'Toyota Land Cruiser 300', 2023.0, '3,500 Kms'] -> Length: 4
['Toyota', 'Toyota Fortuner Legender', 2023.0, '1,200 Kms'] -> Length: 4
['Audi', 'Audi Q2', 2021.0, '9,600 Kms'] -> Length: 4
['MG', 'MG Astor', 2022.0, '15,000 Kms'] -> Length: 4
['Land Rover', 'Land Rover Discovery Sport', 2021.0, '33,000 Kms'] -> Length: 4
['Mahindra', 'Mahindra Scorpio Classic', 2022.0, '12,000 Kms'] -> Length: 4
['Mercedes-Benz', 'Mercedes-Benz GLC', 2023.0, '4,000 Kms'] -> Length: 4
['Jaguar', 'Jaguar XE', 2020.0, '5,000 Kms'] -> Length: 4
['Nissan', 'Nissan Kicks', 2019.0, '60,000 Kms'] -> Length: 4
['Mercedes-Benz', 'Mercedes-Benz GLC', 2020.0, '35,000 Kms'] -> Length: 4
['Land Rover', 'Land Rover Range Rover Evoque', 2022.0, '5,000 Kms'] -> Length: 4
['Mercedes-Benz', 'Mercedes-Benz GLE', 2023.0, '6,000 Kms'] -> Length: 4
['Hyundai', 'Hyundai Creta', 2022.0, '3,500 Kms'] -> Length: 4
['Mercedes-Benz', 'Mercedes-Benz GLE', 2022.0, '5,000 Kms'] -> Length: 4
['Mercedes-Benz', 'Mercedes-Benz A-Class Limousine', 2021.0, '11,000 Kms'] -> Length: 4
['MG', 'MG Hector Plus', 2021.0, '24,000 Kms'] -> Length: 4
['Hyundai', 'Hyundai Creta', 2020.0, '80,000 Kms'] -> Length: 4
['MG', 'MG Hector', 2021.0, '20,100 Kms'] -> Length: 4
['Kia', 'Kia Sonet', 2022.0, '20,000 Kms'] -> Length: 4
['Mahindra', 'Mahindra Thar', 2021.0, '15,000 Kms'] -> Length: 4
['Mahindra', 'Mahindra Thar', 2021.0, '15,000 Kms'] -> Length: 4
['Mahindra', 'Mahindra XUV700', 2021.0, '20,000 Kms'] -> Length: 4
['Mahindra', 'Mahindra XUV700', 2022.0, '19,000 Kms'] -> Length: 4
['Hyundai', 'Hyundai Santro Xing', 2011.0, '40,462 Kms'] -> Length: 4
['Hyundai', 'Hyundai Creta', 2020.0, '80,488 Kms'] -> Length: 4
['Toyota', 'Toyota Innova Crysta', 2018.0, '71,914 Kms'] -> Length: 4
['Mahindra', 'Mahindra Thar', 2023.0, '14,500 Kms'] -> Length: 4
['Hyundai', 'Hyundai Venue', 2022.0, '15,000 Kms'] -> Length: 4
['Tata', 'Tata Nexon EV Prime', 2023.0, '17,000 Kms'] -> Length: 4
['Mercedes-Benz', 'Mercedes-Benz GLE', 2020.0, '29,000 Kms'] -> Length: 4
['Mahindra', 'Mahindra XUV500', 2020.0, '30,120 Kms'] -> Length: 4
['Mahindra', 'Mahindra Scorpio N', 2022.0, '6,000 Kms'] -> Length: 4
['Mahindra', 'Mahindra Thar', 2023.0, '4,900 Kms'] -> Length: 4
['Mahindra', 'Mahindra Scorpio Classic', 2022.0, '45,000 Kms'] -> Length: 4
['MG', 'MG Hector', 2021.0, '4,200 Kms'] -> Length: 4
['Maruti', 'Maruti Celerio Tour 2018-2021', 2019.0, '70,000 Kms'] -> Length: 4
['Mahindra', 'Mahindra XUV700', 2022.0, '16,291 Kms'] -> Length: 4
['Mahindra', 'Mahindra Thar', 2022.0, '20,000 Kms'] -> Length: 4
['Mahindra', 'Mahindra XUV700', 2022.0, '16,000 Kms'] -> Length: 4
['Lexus', 'Lexus ES', 2019.0, '50,236 Kms'] -> Length: 4
['MG', 'MG Hector', 2021.0, '66,999 Kms'] -> Length: 4
['Volkswagen', 'Volkswagen Polo', 2021.0, '69,000 Kms'] -> Length: 4
['Maruti', 'Maruti S-Presso', 2021.0, '45,623 Kms'] -> Length: 4
['Kia', 'Kia Carens', 2022.0, '32,000 Kms'] -> Length: 4
['Hyundai', 'Hyundai Venue', 2023.0, '20,000 Kms'] -> Length: 4
['Mahindra', 'Mahindra Scorpio N', 2023.0, '10,000 Kms'] -> Length: 4
['Toyota', 'Toyota Qualis', 2003.0, '2,60,000 Kms'] -> Length: 4
['Kia', 'Kia Carens', 2022.0, '47,529 Kms'] -> Length: 4
['Mercedes-Benz', 'Mercedes-Benz GLA', 2022.0, '20,000 Kms'] -> Length: 4
['Mahindra', 'Mahindra Scorpio', 2018.0, '84,249 Kms'] -> Length: 4
['Hyundai', 'Hyundai Creta', 2021.0, '36,714 Kms'] -> Length: 4
['Hyundai', 'Hyundai Venue', 2022.0, '10,000 Kms'] -> Length: 4
['Hyundai', 'Hyundai Santro Xing', 2008.0, '54,000 Kms'] -> Length: 4
['Toyota', 'Toyota Innova Crysta', 2023.0, '10,000 Kms'] -> Length: 4
['Mercedes-Benz', 'Mercedes-Benz M-Class', 2011.0, '1,35,000 Kms'] -> Length: 4
['MG', 'MG ZS EV', 2022.0, '30,000 Kms'] -> Length: 4
['MG', 'MG Hector Plus', 2021.0, '20,225 Kms'] -> Length: 4
['Tata', 'Tata Nexon EV Prime', 2022.0, '30,000 Kms'] -> Length: 4
['Mahindra', 'Mahindra E Verito', 2018.0, '67,200 Kms'] -> Length: 4
['Mahindra', 'Mahindra E Verito', 2018.0, '50,000 Kms'] -> Length: 4
['Mahindra', 'Mahindra Scorpio N', 2022.0, '20,000 Kms'] -> Length: 4
['Mahindra', 'Mahindra Thar', 2021.0, '23,147 Kms'] -> Length: 4
['Hyundai', 'Hyundai Xcent Prime', 2019.0, '90,000 Kms'] -> Length: 4
['Hyundai', 'Hyundai Santro', 2002.0, '99,750 Kms'] -> Length: 4
['MG', 'MG Hector', 2021.0, '16,769 Kms'] -> Length: 4
['Mercedes-Benz', 'Mercedes-Benz EQC', 2021.0, '20,000 Kms'] -> Length: 4
['Hyundai', 'Hyundai Creta', 2021.0, '50,000 Kms'] -> Length: 4
['Hyundai', 'Hyundai Creta', 2022.0, '10,000 Kms'] -> Length: 4
['Hyundai', 'Hyundai Creta', 2022.0, '40,000 Kms'] -> Length: 4
['Tata', 'Tata Yodha Pickup', 2021.0, '30,000 Kms'] -> Length: 4
['Hyundai', 'Hyundai Santro Xing', 2003.0, '1,20,000 Kms'] -> Length: 4
['Hyundai', 'Hyundai Creta', 2022.0, '40,000 Kms'] -> Length: 4
['Hyundai', 'Hyundai Santro Xing', 2010.0, '1,20,000 Kms'] -> Length: 4
['Mahindra', 'Mahindra Bolero Pik Up Extra Long', 2020.0, '20,000 Kms'] -> Length: 4
['Mahindra', 'Mahindra Thar', 2021.0, '40,000 Kms'] -> Length: 4
['Hyundai', 'Hyundai Creta', 2021.0, '20,000 Kms'] -> Length: 4
['Kia', 'Kia Sonet', 2021.0, '62,000 Kms'] -> Length: 4
['BMW', 'BMW X3', 2023.0, '300 Kms'] -> Length: 4
['Hyundai', 'Hyundai Creta', 2022.0, '64,000 Kms'] -> Length: 4
['Kia', 'Kia Carens', 2022.0, '15,285 Kms'] -> Length: 4
['Kia', 'Kia Sonet', 2021.0, '45,204 Kms'] -> Length: 4
['Mercedes-Benz', 'Mercedes-Benz AMG GLC 43', 2022.0, '23,200 Kms'] -> Length: 4
['Hyundai', 'Hyundai Creta', 2021.0, '6,165 Kms'] -> Length: 4
['Hyundai', 'Hyundai Creta', 2020.0, '73,500 Kms'] -> Length: 4
['MG', 'MG ZS EV', 2022.0, '10,371 Kms'] -> Length: 4
['Mahindra', 'Mahindra XUV500', 2021.0, '80,000 Kms'] -> Length: 4
['Mahindra', 'Mahindra Bolero Camper', 2022.0, '10,000 Kms'] -> Length: 4
['Kia', 'Kia Carens', 2022.0, '15,000 Kms'] -> Length: 4
['Kia', 'Kia Seltos', 2020.0, '29,000 Kms'] -> Length: 4
['Tata', 'Tata Nexon EV', 2021.0, '55,463 Kms'] -> Length: 4
['Tata', 'Tata Nexon EV', 2022.0, '26,455 Kms'] -> Length: 4
['MG', 'MG ZS EV', 2022.0, '10,371 Kms'] -> Length: 4
['Tata', 'Tata Tigor EV', 2022.0, '44,351 Kms'] -> Length: 4
['Maruti', 'Maruti Wagon R', 2009.0, '75,426 Kms'] -> Length: 4
['Hyundai', 'Hyundai Santro Xing', 2006.0, '85,254 Kms'] -> Length: 4
['Hyundai', 'Hyundai Santro Xing', 2005.0, '1,10,833 Kms'] -> Length: 4
['Hyundai', 'Hyundai Creta', 2021.0, '28,807 Kms'] -> Length: 4
['Kia', 'Kia Sonet', 2020.0, '49,503 Kms'] -> Length: 4
['Hyundai', 'Hyundai Creta', 2020.0, '17,642 Kms'] -> Length: 4
['Hyundai', 'Hyundai Santro Xing', 2010.0, '1,00,000 Kms'] -> Length: 4
['Mahindra', 'Mahindra XUV500', 2018.0, '96,707 Kms'] -> Length: 4
['Kia', 'Kia Seltos', 2020.0, '28,134 Kms'] -> Length: 4
['Jeep', 'Jeep Compass Trailhawk', 2023.0, '20,000 Kms'] -> Length: 4
['MG', 'MG Hector', 2022.0, '10,197 Kms'] -> Length: 4
['Kia', 'Kia Sonet', 2022.0, '15,000 Kms'] -> Length: 4
['Audi', 'Audi Q2', 2021.0, '15,766 Kms'] -> Length: 4
['Audi', 'Audi S5 Sportback', 2021.0, '12,300 Kms'] -> Length: 4
['Kia', 'Kia Seltos', 2020.0, '10,372 Kms'] -> Length: 4
['Land Rover', 'Land Rover Range Rover Evoque', 2021.0, '50,247 Kms'] -> Length: 4
['Hyundai', 'Hyundai Santro Xing', 2010.0, '50,000 Kms'] -> Length: 4
['Hyundai', 'Hyundai Santro Xing', 2010.0, '65,916 Kms'] -> Length: 4
['MG', 'MG Hector', 2023.0, '8,559 Kms'] -> Length: 4
['Mahindra', 'Mahindra XUV500', 2021.0, '31,584 Kms'] -> Length: 4
['Land Rover', 'Land Rover Range Rover Evoque', 2021.0, '15,215 Kms'] -> Length: 4
['Mahindra', 'Mahindra XUV700', 2022.0, '22,887 Kms'] -> Length: 4
['Kia', 'Kia Carens', 2022.0, '4,066 Kms'] -> Length: 4
['Hyundai', 'Hyundai Creta', 2022.0, '9,000 Kms'] -> Length: 4
['Mahindra', 'Mahindra Scorpio', 2020.0, '42,503 Kms'] -> Length: 4
['Mahindra', 'Mahindra Scorpio N', 2022.0, '23,400 Kms'] -> Length: 4
['Mahindra', 'Mahindra Scorpio', 2021.0, '55,000 Kms'] -> Length: 4
['Mahindra', 'Mahindra Thar', 2021.0, '20,857 Kms'] -> Length: 4
['Kia', 'Kia Seltos', 2023.0, '8,700 Kms'] -> Length: 4
['Hyundai', 'Hyundai Creta', 2021.0, '30,908 Kms'] -> Length: 4
['Tata', 'Tata Nexon EV', 2023.0, '10,000 Kms'] -> Length: 4
['Tata', 'Tata Tigor EV', 2023.0, '10,000 Kms'] -> Length: 4
['Toyota', 'Toyota Fortuner Legender', 2021.0, '60,000 Kms'] -> Length: 4
['Tata', 'Tata Nexon EV Prime', 2020.0, '53,700 Kms'] -> Length: 4
['Tata', 'Tata Nexon EV Prime', 2020.0, '31,100 Kms'] -> Length: 4
['Tata', 'Tata Nexon EV Prime', 2021.0, '26,000 Kms'] -> Length: 4
['Hyundai', 'Hyundai Creta', 2021.0, '24,000 Kms'] -> Length: 4
['Tata', 'Tata Tigor EV', 2022.0, '48,277 Kms'] -> Length: 4
['Hyundai', 'Hyundai Creta', 2022.0, '12,000 Kms'] -> Length: 4
['Hyundai', 'Hyundai Venue', 2022.0, '9,000 Kms'] -> Length: 4
['Mahindra', 'Mahindra Scorpio N', 2023.0, '2,000 Kms'] -> Length: 4
['Hyundai', 'Hyundai Creta', 2020.0, '55,000 Kms'] -> Length: 4
['Kia', 'Kia Carens', 2022.0, '20,000 Kms'] -> Length: 4
['Kia', 'Kia Carens', 2022.0, '20,000 Kms'] -> Length: 4

No similar rows found for OEM: Kia, Model: Kia Sonet, Year of Manufacture: 2022.0, KMs driven: 20,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Toyota, Model: Toyota Fortuner, Year of Manufacture: 2022.0, KMs driven: 18,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Tata, Model: Tata Nexon EV, Year of Manufacture: 2020.0, KMs driven: 20,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Mahindra, Model: Mahindra XUV700, Year of Manufacture: 2022.0, KMs driven: 20,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Kia, Model: Kia Seltos, Year of Manufacture: 2019.0, KMs driven: 30,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: MG, Model: MG Hector, Year of Manufacture: 2022.0, KMs driven: 20,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: MG, Model: MG Hector, Year of Manufacture: 2022.0, KMs driven: 20,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Hyundai, Model: Hyundai Creta, Year of Manufacture: 2020.0, KMs driven: 55,037 Kms with non-null 'Mileage'.

No similar rows found for OEM: Maruti, Model: Maruti Ertiga Tour, Year of Manufacture: 2021.0, KMs driven: 70,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Mercedes-Benz, Model: Mercedes-Benz GLE, Year of Manufacture: 2020.0, KMs driven: 30,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Kia, Model: Kia Seltos, Year of Manufacture: 2020.0, KMs driven: 25,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Mercedes-Benz, Model: Mercedes-Benz GLC, Year of Manufacture: 2021.0, KMs driven: 35,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Hyundai, Model: Hyundai Santro, Year of Manufacture: 2002.0, KMs driven: 1,20,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Mercedes-Benz, Model: Mercedes-Benz GLS, Year of Manufacture: 2021.0, KMs driven: 52,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: MG, Model: MG Hector, Year of Manufacture: 2021.0, KMs driven: 38,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Jeep, Model: Jeep Meridian, Year of Manufacture: 2023.0, KMs driven: 1,200 Kms with non-null 'Mileage'.

No similar rows found for OEM: Mahindra, Model: Mahindra Thar, Year of Manufacture: 2022.0, KMs driven: 20,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Jeep, Model: Jeep Meridian, Year of Manufacture: 2022.0, KMs driven: 9,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Kia, Model: Kia Carens, Year of Manufacture: 2022.0, KMs driven: 13,200 Kms with non-null 'Mileage'.

No similar rows found for OEM: Mahindra, Model: Mahindra Scorpio, Year of Manufacture: 2019.0, KMs driven: 12,00,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Mahindra, Model: Mahindra Scorpio N, Year of Manufacture: 2022.0, KMs driven: 23,183 Kms with non-null 'Mileage'.

No similar rows found for OEM: Hyundai, Model: Hyundai Creta, Year of Manufacture: 2022.0, KMs driven: 19,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Hyundai, Model: Hyundai Venue, Year of Manufacture: 2022.0, KMs driven: 20,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Hyundai, Model: Hyundai Venue, Year of Manufacture: 2022.0, KMs driven: 32,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Toyota, Model: Toyota Fortuner, Year of Manufacture: 2023.0, KMs driven: 3,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Hyundai, Model: Hyundai Creta, Year of Manufacture: 2020.0, KMs driven: 19,649 Kms with non-null 'Mileage'.

No similar rows found for OEM: Kia, Model: Kia Seltos, Year of Manufacture: 2020.0, KMs driven: 27,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Mercedes-Benz, Model: Mercedes-Benz GLE, Year of Manufacture: 2022.0, KMs driven: 3,000 Kms with non-null 'Mileage'.


In [33]:
# Step 3: Check for other rows with the same OEM, Model, Year of Manufacture, KMs driven
matching_rows = []  # To store matching rows

# Iterate through null_mileage_details to find similar rows
for oem, model, year_of_manufacture, kms_driven in null_mileage_details:
    similar_rows = df[
        (df['oem'] == oem) &
        (df['model'] == model) &
        (df['Year of Manufacture'] == year_of_manufacture) &
        (df['Kms Driven'] == kms_driven) &
        (df['Mileage'].notnull())
    ]

    if not similar_rows.empty:
        print(f"\nSimilar rows for OEM: {oem}, Model: {model}, Year of Manufacture: {year_of_manufacture}, KMs driven: {kms_driven}:")
        matching_rows.append(similar_rows)  # Store matching rows
    else:
        print(f"\nNo similar rows found for OEM: {oem}, Model: {model}, Year of Manufacture: {year_of_manufacture}, KMs driven: {kms_driven} with non-null 'Mileage'.")

# Combine all matching rows into a single DataFrame
if matching_rows:
    all_matching_rows = pd.concat(matching_rows, ignore_index=True)
    print("\nAll Matching Rows:")
    print(all_matching_rows)
else:
    print("\nNo matching rows found for any entries.")

No similar rows found for OEM: Kia, Model: Kia Sonet, Year of Manufacture: 2022.0, KMs driven: 20,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Toyota, Model: Toyota Fortuner, Year of Manufacture: 2022.0, KMs driven: 18,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Tata, Model: Tata Nexon EV, Year of Manufacture: 2020.0, KMs driven: 20,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Mahindra, Model: Mahindra XUV700, Year of Manufacture: 2022.0, KMs driven: 20,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Kia, Model: Kia Seltos, Year of Manufacture: 2019.0, KMs driven: 30,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: MG, Model: MG Hector, Year of Manufacture: 2022.0, KMs driven: 20,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: MG, Model: MG Hector, Year of Manufacture: 2022.0, KMs driven: 20,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Hyundai, Model: Hyundai Creta, Year of Manufacture: 2020.0, KMs driven: 55,037 Kms with non-null 'Mileage'.

No similar rows found for OEM: Maruti, Model: Maruti Ertiga Tour, Year of Manufacture: 2021.0, KMs driven: 70,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Mercedes-Benz, Model: Mercedes-Benz GLE, Year of Manufacture: 2020.0, KMs driven: 30,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Kia, Model: Kia Seltos, Year of Manufacture: 2020.0, KMs driven: 25,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Mercedes-Benz, Model: Mercedes-Benz GLC, Year of Manufacture: 2021.0, KMs driven: 35,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Hyundai, Model: Hyundai Santro, Year of Manufacture: 2002.0, KMs driven: 1,20,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Mercedes-Benz, Model: Mercedes-Benz GLS, Year of Manufacture: 2021.0, KMs driven: 52,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: MG, Model: MG Hector, Year of Manufacture: 2021.0, KMs driven: 38,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Jeep, Model: Jeep Meridian, Year of Manufacture: 2023.0, KMs driven: 1,200 Kms with non-null 'Mileage'.

No similar rows found for OEM: Mahindra, Model: Mahindra Thar, Year of Manufacture: 2022.0, KMs driven: 20,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Jeep, Model: Jeep Meridian, Year of Manufacture: 2022.0, KMs driven: 9,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Kia, Model: Kia Carens, Year of Manufacture: 2022.0, KMs driven: 13,200 Kms with non-null 'Mileage'.

No similar rows found for OEM: Mahindra, Model: Mahindra Scorpio, Year of Manufacture: 2019.0, KMs driven: 12,00,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Mahindra, Model: Mahindra Scorpio N, Year of Manufacture: 2022.0, KMs driven: 23,183 Kms with non-null 'Mileage'.

No similar rows found for OEM: Hyundai, Model: Hyundai Creta, Year of Manufacture: 2022.0, KMs driven: 19,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Hyundai, Model: Hyundai Venue, Year of Manufacture: 2022.0, KMs driven: 20,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Hyundai, Model: Hyundai Venue, Year of Manufacture: 2022.0, KMs driven: 32,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Toyota, Model: Toyota Fortuner, Year of Manufacture: 2023.0, KMs driven: 3,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Hyundai, Model: Hyundai Creta, Year of Manufacture: 2020.0, KMs driven: 19,649 Kms with non-null 'Mileage'.

No similar rows found for OEM: Kia, Model: Kia Seltos, Year of Manufacture: 2020.0, KMs driven: 27,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Mercedes-Benz, Model: Mercedes-Benz GLE, Year of Manufacture: 2022.0, KMs driven: 3,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Kia, Model: Kia Sonet, Year of Manufacture: 2020.0, KMs driven: 30,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Hyundai, Model: Hyundai Creta, Year of Manufacture: 2022.0, KMs driven: 15,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Hyundai, Model: Hyundai Creta, Year of Manufacture: 2020.0, KMs driven: 58,323 Kms with non-null 'Mileage'.

No similar rows found for OEM: Hyundai, Model: Hyundai Santro Xing, Year of Manufacture: 2007.0, KMs driven: 84,169 Kms with non-null 'Mileage'.

No similar rows found for OEM: Hyundai, Model: Hyundai Santro Xing, Year of Manufacture: 2009.0, KMs driven: 80,033 Kms with non-null 'Mileage'.

No similar rows found for OEM: Mercedes-Benz, Model: Mercedes-Benz GLC, Year of Manufacture: 2021.0, KMs driven: 50,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Hyundai, Model: Hyundai Creta, Year of Manufacture: 2022.0, KMs driven: 29,041 Kms with non-null 'Mileage'.

No similar rows found for OEM: Mercedes-Benz, Model: Mercedes-Benz GLE, Year of Manufacture: 2020.0, KMs driven: 30,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Mercedes-Benz, Model: Mercedes-Benz AMG GLA 35, Year of Manufacture: 2022.0, KMs driven: 2,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Mercedes-Benz, Model: Mercedes-Benz AMG A 35, Year of Manufacture: 2022.0, KMs driven: 300 Kms with non-null 'Mileage'.

No similar rows found for OEM: Hyundai, Model: Hyundai Venue, Year of Manufacture: 2022.0, KMs driven: 11,600 Kms with non-null 'Mileage'.

No similar rows found for OEM: Audi, Model: Audi Q2, Year of Manufacture: 2020.0, KMs driven: 11,700 Kms with non-null 'Mileage'.

No similar rows found for OEM: Mercedes-Benz, Model: Mercedes-Benz GLA, Year of Manufacture: 2022.0, KMs driven: 16,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Mercedes-Benz, Model: Mercedes-Benz E-Class, Year of Manufacture: 2022.0, KMs driven: 400 Kms with non-null 'Mileage'.

No similar rows found for OEM: Hyundai, Model: Hyundai Creta, Year of Manufacture: 2021.0, KMs driven: 26,500 Kms with non-null 'Mileage'.

No similar rows found for OEM: MG, Model: MG Hector, Year of Manufacture: 2022.0, KMs driven: 7,500 Kms with non-null 'Mileage'.

No similar rows found for OEM: Mercedes-Benz, Model: Mercedes-Benz A-Class Limousine, Year of Manufacture: 2021.0, KMs driven: 11,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Volvo, Model: Volvo XC40, Year of Manufacture: 2021.0, KMs driven: 27,000 Kms with non-null 'Mileage'.

Similar rows for OEM: MG, Model: MG Hector, Year of Manufacture: 2021.0, KMs driven: 30,000 Kms:

No similar rows found for OEM: Hyundai, Model: Hyundai Creta, Year of Manufacture: 2021.0, KMs driven: 14,881 Kms with non-null 'Mileage'.

Similar rows for OEM: MG, Model: MG Astor, Year of Manufacture: 2022.0, KMs driven: 10,000 Kms:

No similar rows found for OEM: Mercedes-Benz, Model: Mercedes-Benz GLC, Year of Manufacture: 2020.0, KMs driven: 36,531 Kms with non-null 'Mileage'.

No similar rows found for OEM: Tata, Model: Tata Nexon EV Max, Year of Manufacture: 2023.0, KMs driven: 10,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Tata, Model: Tata Nexon EV Prime, Year of Manufacture: 2022.0, KMs driven: 21,236 Kms with non-null 'Mileage'.

No similar rows found for OEM: Hyundai, Model: Hyundai Creta, Year of Manufacture: 2020.0, KMs driven: 68,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Mahindra, Model: Mahindra XUV700, Year of Manufacture: 2022.0, KMs driven: 20,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Mahindra, Model: Mahindra Scorpio, Year of Manufacture: 2020.0, KMs driven: 52,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Mercedes-Benz, Model: Mercedes-Benz A-Class Limousine, Year of Manufacture: 2022.0, KMs driven: 20,000 Kms with non-null 'Mileage'.

Similar rows for OEM: Volkswagen, Model: Volkswagen Polo, Year of Manufacture: 2021.0, KMs driven: 62,696 Kms:

No similar rows found for OEM: Kia, Model: Kia Sonet, Year of Manufacture: 2021.0, KMs driven: 80,000 Kms with non-null 'Mileage'.

Similar rows for OEM: MG, Model: MG Hector, Year of Manufacture: 2020.0, KMs driven: 23,000 Kms:

No similar rows found for OEM: Volvo, Model: Volvo XC40, Year of Manufacture: 2020.0, KMs driven: 25,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Hyundai, Model: Hyundai Santro Xing, Year of Manufacture: 2006.0, KMs driven: 20,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Kia, Model: Kia Sonet, Year of Manufacture: 2020.0, KMs driven: 34,990 Kms with non-null 'Mileage'.

No similar rows found for OEM: Mahindra, Model: Mahindra Thar, Year of Manufacture: 2021.0, KMs driven: 50,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Hyundai, Model: Hyundai Santro Xing, Year of Manufacture: 2006.0, KMs driven: 1,10,654 Kms with non-null 'Mileage'.

No similar rows found for OEM: Mahindra, Model: Mahindra Thar, Year of Manufacture: 2021.0, KMs driven: 24,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Hyundai, Model: Hyundai Venue, Year of Manufacture: 2022.0, KMs driven: 18,025 Kms with non-null 'Mileage'.

No similar rows found for OEM: Jeep, Model: Jeep Meridian, Year of Manufacture: 2022.0, KMs driven: 6,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Hyundai, Model: Hyundai Tucson, Year of Manufacture: 2017.0, KMs driven: 1,04,507 Kms with non-null 'Mileage'.

No similar rows found for OEM: Mahindra, Model: Mahindra Thar, Year of Manufacture: 2020.0, KMs driven: 9,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Hyundai, Model: Hyundai Grand i10 Nios, Year of Manufacture: 2022.0, KMs driven: 7,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Kia, Model: Kia Sonet, Year of Manufacture: 2022.0, KMs driven: 24,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Mini, Model: Mini Cooper SE, Year of Manufacture: 2023.0, KMs driven: 6,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Mahindra, Model: Mahindra Scorpio N, Year of Manufacture: 2023.0, KMs driven: 10,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Hyundai, Model: Hyundai Grand i10 Nios, Year of Manufacture: 2020.0, KMs driven: 64,847 Kms with non-null 'Mileage'.

No similar rows found for OEM: Mahindra, Model: Mahindra XUV700, Year of Manufacture: 2022.0, KMs driven: 10,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Mahindra, Model: Mahindra Thar, Year of Manufacture: 2022.0, KMs driven: 35,011 Kms with non-null 'Mileage'.

No similar rows found for OEM: Mercedes-Benz, Model: Mercedes-Benz GLS, Year of Manufacture: 2022.0, KMs driven: 16,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Hyundai, Model: Hyundai Creta, Year of Manufacture: 2022.0, KMs driven: 11,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Hyundai, Model: Hyundai Creta, Year of Manufacture: 2021.0, KMs driven: 24,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Hyundai, Model: Hyundai Creta, Year of Manufacture: 2023.0, KMs driven: 3,100 Kms with non-null 'Mileage'.

No similar rows found for OEM: Mercedes-Benz, Model: Mercedes-Benz GLE, Year of Manufacture: 2020.0, KMs driven: 15,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Toyota, Model: Toyota Fortuner, Year of Manufacture: 2022.0, KMs driven: 13,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Land Rover, Model: Land Rover Discovery Sport, Year of Manufacture: 2020.0, KMs driven: 18,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Land Rover, Model: Land Rover Range Rover Evoque, Year of Manufacture: 2021.0, KMs driven: 22,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Mercedes-Benz, Model: Mercedes-Benz AMG A 35, Year of Manufacture: 2022.0, KMs driven: 14,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Mercedes-Benz, Model: Mercedes-Benz AMG G 63, Year of Manufacture: 2022.0, KMs driven: 4,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Audi, Model: Audi Q7, Year of Manufacture: 2023.0, KMs driven: 11,800 Kms with non-null 'Mileage'.

No similar rows found for OEM: Mercedes-Benz, Model: Mercedes-Benz GLE, Year of Manufacture: 2020.0, KMs driven: 33,500 Kms with non-null 'Mileage'.

No similar rows found for OEM: Land Rover, Model: Land Rover Discovery Sport, Year of Manufacture: 2020.0, KMs driven: 40,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Audi, Model: Audi Q3 Sportback, Year of Manufacture: 2023.0, KMs driven: 10,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Mercedes-Benz, Model: Mercedes-Benz AMG A 35, Year of Manufacture: 2021.0, KMs driven: 1,200 Kms with non-null 'Mileage'.

No similar rows found for OEM: Audi, Model: Audi Q2, Year of Manufacture: 2020.0, KMs driven: 7,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Volvo, Model: Volvo XC40, Year of Manufacture: 2020.0, KMs driven: 25,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Hyundai, Model: Hyundai Creta, Year of Manufacture: 2023.0, KMs driven: 2,300 Kms with non-null 'Mileage'.

No similar rows found for OEM: Volvo, Model: Volvo XC40, Year of Manufacture: 2022.0, KMs driven: 5,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Hyundai, Model: Hyundai Grand i10 Nios, Year of Manufacture: 2021.0, KMs driven: 71,727 Kms with non-null 'Mileage'.

No similar rows found for OEM: Porsche, Model: Porsche Macan, Year of Manufacture: 2020.0, KMs driven: 22,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Mahindra, Model: Mahindra Thar, Year of Manufacture: 2022.0, KMs driven: 35,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: MG, Model: MG Hector, Year of Manufacture: 2022.0, KMs driven: 7,500 Kms with non-null 'Mileage'.

No similar rows found for OEM: Audi, Model: Audi A4, Year of Manufacture: 2022.0, KMs driven: 6,300 Kms with non-null 'Mileage'.

No similar rows found for OEM: Mahindra, Model: Mahindra Thar, Year of Manufacture: 2021.0, KMs driven: 14,500 Kms with non-null 'Mileage'.

No similar rows found for OEM: Hyundai, Model: Hyundai Creta, Year of Manufacture: 2020.0, KMs driven: 28,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Toyota, Model: Toyota Vellfire, Year of Manufacture: 2023.0, KMs driven: 10,500 Kms with non-null 'Mileage'.

No similar rows found for OEM: Mercedes-Benz, Model: Mercedes-Benz AMG G 63, Year of Manufacture: 2023.0, KMs driven: 3,500 Kms with non-null 'Mileage'.

No similar rows found for OEM: Hyundai, Model: Hyundai Creta, Year of Manufacture: 2023.0, KMs driven: 4,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Mercedes-Benz, Model: Mercedes-Benz GLC, Year of Manufacture: 2022.0, KMs driven: 35,060 Kms with non-null 'Mileage'.

No similar rows found for OEM: Toyota, Model: Toyota Land Cruiser 300, Year of Manufacture: 2023.0, KMs driven: 3,500 Kms with non-null 'Mileage'.

No similar rows found for OEM: Toyota, Model: Toyota Fortuner Legender, Year of Manufacture: 2023.0, KMs driven: 1,200 Kms with non-null 'Mileage'.

No similar rows found for OEM: Audi, Model: Audi Q2, Year of Manufacture: 2021.0, KMs driven: 9,600 Kms with non-null 'Mileage'.

No similar rows found for OEM: MG, Model: MG Astor, Year of Manufacture: 2022.0, KMs driven: 15,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Land Rover, Model: Land Rover Discovery Sport, Year of Manufacture: 2021.0, KMs driven: 33,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Mahindra, Model: Mahindra Scorpio Classic, Year of Manufacture: 2022.0, KMs driven: 12,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Mercedes-Benz, Model: Mercedes-Benz GLC, Year of Manufacture: 2023.0, KMs driven: 4,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Jaguar, Model: Jaguar XE, Year of Manufacture: 2020.0, KMs driven: 5,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Nissan, Model: Nissan Kicks, Year of Manufacture: 2019.0, KMs driven: 60,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Mercedes-Benz, Model: Mercedes-Benz GLC, Year of Manufacture: 2020.0, KMs driven: 35,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Land Rover, Model: Land Rover Range Rover Evoque, Year of Manufacture: 2022.0, KMs driven: 5,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Mercedes-Benz, Model: Mercedes-Benz GLE, Year of Manufacture: 2023.0, KMs driven: 6,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Hyundai, Model: Hyundai Creta, Year of Manufacture: 2022.0, KMs driven: 3,500 Kms with non-null 'Mileage'.

No similar rows found for OEM: Mercedes-Benz, Model: Mercedes-Benz GLE, Year of Manufacture: 2022.0, KMs driven: 5,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Mercedes-Benz, Model: Mercedes-Benz A-Class Limousine, Year of Manufacture: 2021.0, KMs driven: 11,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: MG, Model: MG Hector Plus, Year of Manufacture: 2021.0, KMs driven: 24,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Hyundai, Model: Hyundai Creta, Year of Manufacture: 2020.0, KMs driven: 80,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: MG, Model: MG Hector, Year of Manufacture: 2021.0, KMs driven: 20,100 Kms with non-null 'Mileage'.

No similar rows found for OEM: Kia, Model: Kia Sonet, Year of Manufacture: 2022.0, KMs driven: 20,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Mahindra, Model: Mahindra Thar, Year of Manufacture: 2021.0, KMs driven: 15,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Mahindra, Model: Mahindra Thar, Year of Manufacture: 2021.0, KMs driven: 15,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Mahindra, Model: Mahindra XUV700, Year of Manufacture: 2021.0, KMs driven: 20,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Mahindra, Model: Mahindra XUV700, Year of Manufacture: 2022.0, KMs driven: 19,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Hyundai, Model: Hyundai Santro Xing, Year of Manufacture: 2011.0, KMs driven: 40,462 Kms with non-null 'Mileage'.

No similar rows found for OEM: Hyundai, Model: Hyundai Creta, Year of Manufacture: 2020.0, KMs driven: 80,488 Kms with non-null 'Mileage'.

No similar rows found for OEM: Toyota, Model: Toyota Innova Crysta, Year of Manufacture: 2018.0, KMs driven: 71,914 Kms with non-null 'Mileage'.

No similar rows found for OEM: Mahindra, Model: Mahindra Thar, Year of Manufacture: 2023.0, KMs driven: 14,500 Kms with non-null 'Mileage'.

No similar rows found for OEM: Hyundai, Model: Hyundai Venue, Year of Manufacture: 2022.0, KMs driven: 15,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Tata, Model: Tata Nexon EV Prime, Year of Manufacture: 2023.0, KMs driven: 17,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Mercedes-Benz, Model: Mercedes-Benz GLE, Year of Manufacture: 2020.0, KMs driven: 29,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Mahindra, Model: Mahindra XUV500, Year of Manufacture: 2020.0, KMs driven: 30,120 Kms with non-null 'Mileage'.

No similar rows found for OEM: Mahindra, Model: Mahindra Scorpio N, Year of Manufacture: 2022.0, KMs driven: 6,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: Mahindra, Model: Mahindra Thar, Year of Manufacture: 2023.0, KMs driven: 4,900 Kms with non-null 'Mileage'.

No similar rows found for OEM: Mahindra, Model: Mahindra Scorpio Classic, Year of Manufacture: 2022.0, KMs driven: 45,000 Kms with non-null 'Mileage'.

No similar rows found for OEM: MG, Model: MG Hector, Year of Manufacture: 2021.0, KMs driven: 4,200 Kms with non-null 'Mileage'.


In [34]:
# Step 4: Fill null Mileage values with the matching Mileage from other rows
for oem, model, year_of_manufacture, kms_driven in null_mileage_details:
    # Find similar rows with non-null Mileage
    similar_rows = df[
        (df['oem'] == oem) &
        (df['model'] == model) &
        (df['Year of Manufacture'] == year_of_manufacture) &
        (df['Kms Driven'] == kms_driven) &
        (df['Mileage'].notnull())
    ]

    if not similar_rows.empty:
        # Get the Mileage value to fill in
        mileage_value = similar_rows['Mileage'].iloc[0]  # Take the first matching Mileage value
        # Fill null values in the original DataFrame
        df.loc[
            (df['oem'] == oem) &
            (df['model'] == model) &
            (df['Year of Manufacture'] == year_of_manufacture) &
            (df['Kms Driven'] == kms_driven) &
            (df['Mileage'].isnull()), 
            'Mileage'
        ] = mileage_value

# Print the DataFrame after filling Mileage values
print("\nUpdated DataFrame after filling Mileage:")
print(df[df['Mileage'].isnull()])  # Display rows where Mileage is still null

Updated DataFrame after filling Mileage:
         bt      km transmission       oem               model  \
0       SUV  20,000    Automatic       Kia           Kia Sonet
18      SUV  18,000       Manual    Toyota     Toyota Fortuner
24      SUV  20,000    Automatic      Tata       Tata Nexon EV
73      SUV  20,000    Automatic  Mahindra     Mahindra XUV700
147     SUV  30,000    Automatic       Kia          Kia Seltos
...     ...     ...          ...       ...                 ...
8174    SUV  24,000       Manual   Hyundai       Hyundai Creta
8178  Sedan  48,277    Automatic      Tata       Tata Tigor EV
8202    SUV  12,000       Manual   Hyundai       Hyundai Creta
8272    SUV   9,000       Manual   Hyundai       Hyundai Venue
8290    SUV   2,000    Automatic  Mahindra  Mahindra Scorpio N

      centralVariantId                         variantName         price  \
0                 8654       Turbo DCT Anniversary Edition  ₹ 11.50 Lakh
18                8243                     4X2 Diesel BSVI     ₹ 39 Lakh
24                7279                         XZ Plus LUX     ₹ 11 Lakh
73                8638  AX7 Diesel AT Luxury Pack AWD BSVI     ₹ 29 Lakh
147               8950                       HTX Diesel AT  ₹ 16.25 Lakh
...                ...                                 ...           ...
8174              7689                              S BSVI  ₹ 11.50 Lakh
8178              9459                             XZ Plus      ₹ 9 Lakh
8202              7699                  SX Opt Diesel BSVI  ₹ 16.75 Lakh
8272              9155                             SX BSVI   ₹ 9.35 Lakh
8290              9236                  Z8L Diesel AT BSVI  ₹ 23.70 Lakh

     Registration Year     Insurance Validity  ...   RTO ownerNo Displacement  \
0                 2022  Third Party insurance  ...  TN02       1        998.0
18           Sept 2022          Comprehensive  ...  TN02       1       2755.0
24                2020  Third Party insurance  ...  TN01       1          0.0
73            Dec 2022          Comprehensive  ...  TN09       1       2198.0
147          Sept 2019          Comprehensive  ...  TN05       1       1493.0
...                ...                    ...  ...   ...     ...          ...
8174          Jun 2021  Third Party insurance  ...  WB24       1       1497.0
8178          May 2022  Third Party insurance  ...  WB98       1          0.0
8202          Nov 2022          Comprehensive  ...  WB12       1       1493.0
8272          Oct 2022          Comprehensive  ...  WB02       1       1197.0
8290          Jul 2023          Comprehensive  ...  WB02       1       2198.0

      Year of Manufacture  Mileage  Max Power   Torque Seats_1   Color  \
0                  2022.0      NaN  118.36bhp    172nm     5.0   Black
18                 2022.0      NaN  201.15bhp    420Nm     7.0   White
24                 2020.0      NaN     127bhp    245Nm     5.0  Others
73                 2022.0      NaN  182.38bhp    450Nm     7.0  Silver
147                2019.0      NaN  113.43bhp    250Nm     5.0   White
...                   ...      ...        ...      ...     ...     ...
8174               2021.0      NaN  113.18bhp  143.8Nm     5.0     Red
8178               2022.0      NaN   73.75bhp    170Nm     5.0    Blue
8202               2022.0      NaN  113.45bhp    250Nm     5.0   White
8272               2022.0      NaN   81.80bhp  113.8Nm     5.0    Grey
8290               2023.0      NaN  172.45bhp    400Nm     7.0   Green

      No Door Numbers
0                 5.0
18                5.0
24                5.0
73                5.0
147               5.0
...               ...
8174              5.0
8178              4.0
8202              5.0
8272              5.0
8290              5.0

[234 rows x 22 columns]

In [35]:
# Step 5: Drop rows where Mileage is still null
rows_before_dropping = df.shape[0]  # Number of rows before dropping
df = df.dropna(subset=['Mileage'])  # Drop rows with null values in Mileage
rows_after_dropping = df.shape[0]  # Number of rows after dropping

# Print the number of rows dropped
print(f"\nNumber of rows before dropping: {rows_before_dropping}")
print(f"Number of rows after dropping: {rows_after_dropping}")
print(f"Number of rows dropped: {rows_before_dropping - rows_after_dropping}")

# Optionally, print the updated DataFrame
print("\nUpdated DataFrame after dropping rows with null Mileage:")
print(df)

Number of rows before dropping: 7453
Number of rows after dropping: 7219
Number of rows dropped: 234

Updated DataFrame after dropping rows with null Mileage:
             bt      km transmission            oem                  model  \
1      Minivans  20,687       Manual         Maruti            Maruti Eeco
2           SUV  30,000       Manual         Nissan         Nissan Magnite
3     Hatchback  59,247       Manual        Hyundai            Hyundai i10
4     Hatchback  50,000       Manual          Honda             Honda Jazz
5         Sedan  20,000    Automatic  Mercedes-Benz  Mercedes-Benz E-Class
...         ...     ...          ...            ...                    ...
8348        SUV  20,000       Manual        Hyundai          Hyundai Creta
8349      Sedan  40,000       Manual         Maruti     Maruti Swift Dzire
8356        SUV  20,000       Manual           Tata             Tata Nexon
8359      Sedan  60,000       Manual         Maruti     Maruti Swift Dzire
8366      Sedan  50,000    Automatic  Mercedes-Benz  Mercedes-Benz C-Class

      centralVariantId             variantName        price Registration Year  \
1                 4025  7 Seater Standard BSIV  ₹ 4.15 Lakh          Feb 2015
2                 8135   Turbo XV Premium BSVI  ₹ 7.50 Lakh              2021
3                 1579             Sportz 1.1L  ₹ 3.98 Lakh          May 2015
4                 1341           1.2 VX i VTEC  ₹ 5.50 Lakh              2015
5                 4570     E250 CDI Avantgarde    ₹ 33 Lakh         Sept 2017
...                ...                     ...          ...               ...
8348              6430                  1.6 SX    ₹ 10 Lakh              2019
8349              7077                 VXI 1.2  ₹ 5.50 Lakh              2019
8356              7297                 XE BSVI  ₹ 6.74 Lakh              2022
8359              4224                     VXi  ₹ 2.50 Lakh              2010
8366              4672      C 200 CGI Elegance  ₹ 5.50 Lakh              2011

         Insurance Validity  ...   RTO ownerNo Displacement  \
1             Comprehensive  ...  TN04       1       1196.0
2     Third Party insurance  ...  TN22       1        999.0
3             Comprehensive  ...  TN11       1       1086.0
4     Third Party insurance  ...  KA03       1       1199.0
5             Comprehensive  ...  TN06       1       2143.0
...                     ...  ...   ...     ...          ...
8348  Third Party insurance  ...  WB02       1       1591.0
8349  Third Party insurance  ...  WB24       1       1197.0
8356  Third Party insurance  ...  WB20       1       1199.0
8359  Third Party insurance  ...  PB10       1       1298.0
8366  Third Party insurance  ...  WB06       3       1796.0

      Year of Manufacture     Mileage  Max Power   Torque Seats_1   Color  \
1                  2015.0  15.37 kmpl      73bhp    101Nm     7.0    Grey
2                  2021.0     20 kmpl   98.63bhp    160Nm     5.0  Others
3                  2015.0  19.81 kmpl   68.05bhp  99.04Nm     5.0  Silver
4                  2015.0   18.7 kmpl    88.7bhp    110Nm     5.0  Others
5                  2016.0     13 kmpl     204bhp    500Nm     5.0   White
...                   ...         ...        ...      ...     ...     ...
8348               2019.0   15.8 kmpl   121.3bhp    151Nm     5.0  Others
8349               2019.0  21.21 kmpl   81.80bhp    113Nm     5.0  Others
8356               2022.0  17.33 kmpl  118.35bhp    170Nm     5.0  Others
8359               2010.0   17.5 kmpl    85.8bhp    114Nm     5.0  Others
8366               2011.0  11.74 kmpl     186bhp    285Nm     5.0  Others

      No Door Numbers
1                 5.0
2                 5.0
3                 5.0
4                 5.0
5                 4.0
...               ...
8348              5.0
8349              4.0
8356              5.0
8359              4.0
8366              4.0

[7219 rows x 22 columns]

In [36]:
df.isnull().sum()

bt                      0
km                      0
transmission            0
oem                     0
model                   0
centralVariantId        0
variantName             0
price                   0
Registration Year       0
Insurance Validity      0
Fuel Type               0
Kms Driven              0
RTO                     0
ownerNo                 0
Displacement            0
Year of Manufacture     0
Mileage                 0
Max Power              26
Torque                 26
Seats_1                 3
Color                   0
No Door Numbers         5
dtype: int64

### 6. Max Power and Torque:

##### 1. print the null rows where Max Power and Torque  is null. 
##### 2. find what is the oem and model and Year of Manufacture, when Max Power and Torque is null.
##### 3. check if there is other rows where the same oem,model, Year of Manufacture has Max Power and Torque and print them. 
##### 4. if they have Max Power and Torque value. then that can be filled in the null value section. otherwise remove the row

In [37]:
# Step 1: Print the null rows where Max Power and Torque are null
null_power_torque = df[df['Max Power'].isnull() & df['Torque'].isnull()]

print("Rows where Max Power and Torque are null:")
print(null_power_torque)

Rows where Max Power and Torque are null:
             bt        km transmission      oem                model  \
525       Sedan  1,20,000       Manual     Ford          Ford Fiesta
981   Hatchback  1,21,735       Manual   Toyota    Toyota Etios Liva
1013  Hatchback    72,110       Manual  Hyundai  Hyundai Santro Xing
1135  Hatchback    91,644       Manual  Hyundai  Hyundai Santro Xing
1136  Hatchback  1,00,658       Manual  Hyundai  Hyundai Santro Xing
2166  Hatchback  1,00,000       Manual  Hyundai  Hyundai Santro Xing
2321      Sedan    90,000       Manual   Maruti        Maruti Esteem
2403  Hatchback  1,20,000       Manual   Maruti         Maruti Swift
2594  Hatchback    40,000       Manual   Maruti        Maruti Estilo
3284      Sedan    69,164       Manual   Toyota         Toyota Etios
5138      Sedan    68,000       Manual   Toyota         Toyota Etios
5162  Hatchback  1,48,914       Manual     Tata          Tata Indica
5450  Hatchback    89,592       Manual  Hyundai  Hyundai Santro Xing
5567  Hatchback  1,31,561       Manual  Hyundai  Hyundai Santro Xing
5589      Sedan    70,000       Manual     Ford          Ford Fiesta
6049  Hatchback  1,20,000       Manual     Tata          Tata Indica
6211        SUV  1,20,000       Manual     Ford       Ford Endeavour
6556      Sedan    44,777       Manual   Maruti        Maruti Esteem
7249  Hatchback    55,314       Manual   Toyota    Toyota Etios Liva
7553  Hatchback    60,000       Manual   Toyota    Toyota Etios Liva
7555        SUV    59,880       Manual    Honda           Honda CR-V
7669  Hatchback    50,000       Manual   Maruti        Maruti Estilo
7932  Hatchback    78,075       Manual   Toyota    Toyota Etios Liva
7941      Sedan    30,000       Manual     Ford          Ford Fiesta
8101        SUV    74,000       Manual    Honda           Honda CR-V
8260      Sedan    28,000       Manual     Ford          Ford Fiesta

      centralVariantId               variantName        price  \
525                960          1.4 SXI Duratorq  ₹ 1.25 Lakh
981               2229                         G  ₹ 3.10 Lakh
1013              1732           XO eRLX Euro II  ₹ 1.85 Lakh
1135              1720                        XO     ₹ 1 Lakh
1136              1720                        XO    ₹ 70,000
2166              1720                        XO  ₹ 1.55 Lakh
2321              4075                       Vxi    ₹ 80,000
2403              4191              1.2 VDI BSII  ₹ 2.70 Lakh
2594              4079                       LXI     ₹ 2 Lakh
3284              2191                         V  ₹ 2.50 Lakh
5138              2191                         V  ₹ 4.25 Lakh
5162              2503                       DLS  ₹ 1.94 Lakh
5450              1720                        XO  ₹ 1.65 Lakh
5567              1721                        XG    ₹ 96,000
5589               961           1.6 SXI Duratec     ₹ 2 Lakh
6049              2608  Aqua 1.3 Quadrajet (ABS)     ₹ 2 Lakh
6211               928      3.0 4x4 Thunder Plus  ₹ 3.90 Lakh
6556              4068                 LX - BSII  ₹ 1.10 Lakh
7249              2229                         G  ₹ 1.98 Lakh
7553              2233                        GD  ₹ 2.50 Lakh
7555              1322                   2.0 2WD  ₹ 4.15 Lakh
7669              4079                       LXI  ₹ 1.20 Lakh
7932              2229                         G  ₹ 1.92 Lakh
7941               990       1.6 SXI ABS Duratec  ₹ 1.20 Lakh
8101              1322                   2.0 2WD     ₹ 2 Lakh
8260               990       1.6 SXI ABS Duratec  ₹ 1.95 Lakh

     Registration Year     Insurance Validity  ...   RTO ownerNo Displacement  \
525               2006  Third Party insurance  ...  TN07       2       1399.0
981          Sept 2012  Third Party insurance  ...  TN20       2       1197.0
1013          Nov 2006  Third Party insurance  ...  TN22       1       1086.0
1135         Sept 2005          Comprehensive  ...  TN07       2       1086.0
1136         Sept 2005          Comprehensive  ...  TN02       4       1086.0
2166              2006  Third Party insurance  ...  KA02       3       1086.0
2321              2004  Third Party insurance  ...  KA01       3       1298.0
2403              2007  Third Party insurance  ...  KA53       2       1248.0
2594              2009  Third Party insurance  ...  KA03       3       1061.0
3284          Jun 2011            Third Party  ...  UP80       2       1496.0
5138          Dec 2012          Comprehensive  ...  AP09       1       1496.0
5162          Feb 2004          Not Available  ...  AP29       2       1405.0
5450          Dec 2007  Third Party insurance  ...  AP31       1       1086.0
5567          Apr 2004          Not Available  ...  AP09       5       1086.0
5589              2008  Third Party insurance  ...  AP13       2       1596.0
6049              2013  Third Party insurance  ...  UP14       1       1248.0
6211              2008  Third Party insurance  ...  HR26       2       2953.0
6556          Mar 2005          Not Available  ...  RJ14       2       1298.0
7249          Dec 2011            Third Party  ...  WB06       1       1197.0
7553              2011  Third Party insurance  ...  WB06       3       1364.0
7555          Jun 2010            Third Party  ...  WB06       2       1997.0
7669              2009  Third Party insurance  ...  WB24       2       1061.0
7932          Nov 2011          Comprehensive  ...  WB06       1       1197.0
7941              2009  Third Party insurance  ...  WB06       2       1596.0
8101          Apr 2010  Third Party insurance  ...  WB06       1       1997.0
8260          Dec 2010          Comprehensive  ...  WB06       1       1596.0

      Year of Manufacture     Mileage  Max Power Torque Seats_1    Color  \
525                2006.0   17.8 kmpl        NaN    NaN     5.0   Silver
981                2012.0   18.3 kmpl        NaN    NaN     5.0    Black
1013               2006.0     17 kmpl        NaN    NaN     5.0  R EARTH
1135               2005.0     17 kmpl        NaN    NaN     5.0   Silver
1136               2005.0     17 kmpl        NaN    NaN     5.0  R EARTH
2166               2006.0     17 kmpl        NaN    NaN     5.0   Others
2321               2004.0   15.9 kmpl        NaN    NaN     5.0   Silver
2403               2007.0   17.8 kmpl        NaN    NaN     5.0   Others
2594               2009.0   19.5 kmpl        NaN    NaN     NaN   Others
3284               2011.0   17.6 kmpl        NaN    NaN     5.0   Silver
5138               2012.0   17.6 kmpl        NaN    NaN     5.0   Silver
5162               2004.0   13.5 kmpl        NaN    NaN     5.0     Grey
5450               2007.0     17 kmpl        NaN    NaN     5.0     Blue
5567               2004.0     17 kmpl        NaN    NaN     5.0   Silver
5589               2008.0   15.3 kmpl        NaN    NaN     5.0     Gray
6049               2013.0     18 kmpl        NaN    NaN     5.0   Silver
6211               2008.0   11.4 kmpl        NaN    NaN     NaN    Black
6556               2005.0   15.9 kmpl        NaN    NaN     5.0   Silver
7249               2011.0   18.3 kmpl        NaN    NaN     5.0      Red
7553               2011.0  23.59 kmpl        NaN    NaN     5.0   Others
7555               2010.0     14 kmpl        NaN    NaN     5.0    White
7669               2009.0   19.5 kmpl        NaN    NaN     NaN     Gold
7932               2011.0   18.3 kmpl        NaN    NaN     5.0   Silver
7941               2009.0   15.3 kmpl        NaN    NaN     5.0   Silver
8101               2010.0     14 kmpl        NaN    NaN     5.0    Black
8260               2010.0   15.3 kmpl        NaN    NaN     5.0   Violet

      No Door Numbers
525               4.0
981               4.0
1013              4.0
1135              5.0
1136              5.0
2166              5.0
2321              4.0
2403              5.0
2594              NaN
3284              5.0
5138              5.0
5162              5.0
5450              5.0
5567              5.0
5589              4.0
6049              5.0
6211              NaN
6556              4.0
7249              4.0
7553              5.0
7555              5.0
7669              NaN
7932              4.0
7941              4.0
8101              5.0
8260              4.0

[26 rows x 22 columns]

In [38]:
# Step 2: Find OEM, Model, and Year of Manufacture when Max Power and Torque are null
oem_model_year_details = null_power_torque[['oem', 'model', 'Year of Manufacture']].drop_duplicates()

print("\nOEM, Model, and Year of Manufacture for rows with null Max Power and Torque:")
print(oem_model_year_details)

OEM, Model, and Year of Manufacture for rows with null Max Power and Torque:
          oem                model  Year of Manufacture
525      Ford          Ford Fiesta               2006.0
981    Toyota    Toyota Etios Liva               2012.0
1013  Hyundai  Hyundai Santro Xing               2006.0
1135  Hyundai  Hyundai Santro Xing               2005.0
2321   Maruti        Maruti Esteem               2004.0
2403   Maruti         Maruti Swift               2007.0
2594   Maruti        Maruti Estilo               2009.0
3284   Toyota         Toyota Etios               2011.0
5138   Toyota         Toyota Etios               2012.0
5162     Tata          Tata Indica               2004.0
5450  Hyundai  Hyundai Santro Xing               2007.0
5567  Hyundai  Hyundai Santro Xing               2004.0
5589     Ford          Ford Fiesta               2008.0
6049     Tata          Tata Indica               2013.0
6211     Ford       Ford Endeavour               2008.0
6556   Maruti        Maruti Esteem               2005.0
7249   Toyota    Toyota Etios Liva               2011.0
7555    Honda           Honda CR-V               2010.0
7941     Ford          Ford Fiesta               2009.0
8260     Ford          Ford Fiesta               2010.0

In [39]:
# Step 3: Check for other rows with the same OEM, Model, Year of Manufacture
matching_rows = []  # To store matching rows after updates

for index, row in oem_model_year_details.iterrows():
    oem = row['oem']
    model = row['model']
    year_of_manufacture = row['Year of Manufacture']
    
    similar_rows = df[
        (df['oem'] == oem) &
        (df['model'] == model) &
        (df['Year of Manufacture'] == year_of_manufacture) &
        (df['Max Power'].notnull()) &
        (df['Torque'].notnull())
    ]

    if not similar_rows.empty:
        print(f"\nSimilar rows for OEM: {oem}, Model: {model}, Year of Manufacture: {year_of_manufacture}:")
        print(similar_rows)
        matching_rows.append(similar_rows)  # Store matching rows
    else:
        print(f"\nNo similar rows found for OEM: {oem}, Model: {model}, Year of Manufacture: {year_of_manufacture} with non-null Max Power and Torque.")

No similar rows found for OEM: Ford, Model: Ford Fiesta, Year of Manufacture: 2006.0 with non-null Max Power and Torque.

No similar rows found for OEM: Toyota, Model: Toyota Etios Liva, Year of Manufacture: 2012.0 with non-null Max Power and Torque.

No similar rows found for OEM: Hyundai, Model: Hyundai Santro Xing, Year of Manufacture: 2006.0 with non-null Max Power and Torque.

No similar rows found for OEM: Hyundai, Model: Hyundai Santro Xing, Year of Manufacture: 2005.0 with non-null Max Power and Torque.

No similar rows found for OEM: Maruti, Model: Maruti Esteem, Year of Manufacture: 2004.0 with non-null Max Power and Torque.

Similar rows for OEM: Maruti, Model: Maruti Swift, Year of Manufacture: 2007.0:
             bt      km transmission     oem         model  centralVariantId  \
727   Hatchback  90,000       Manual  Maruti  Maruti Swift              5319
6404  Hatchback  93,155       Manual  Maruti  Maruti Swift              4181

     variantName        price Registration Year     Insurance Validity  ...  \
727      1.3 VXi  ₹ 2.20 Lakh              2007  Third Party insurance  ...
6404   Vdi BSIII  ₹ 2.30 Lakh          Oct 2007          Comprehensive  ...

       RTO ownerNo Displacement  Year of Manufacture    Mileage  Max Power  \
727   TN09       2       1298.0               2007.0  16.1 kmpl       88.2
6404  RJ14       3       1248.0               2007.0  17.8 kmpl     75 PS

       Torque Seats_1   Color  No Door Numbers
727      11.5     5.0  Others              5.0
6404  190 Nm      5.0   White              5.0

[2 rows x 22 columns]

No similar rows found for OEM: Maruti, Model: Maruti Estilo, Year of Manufacture: 2009.0 with non-null Max Power and Torque.

Similar rows for OEM: Toyota, Model: Toyota Etios, Year of Manufacture: 2011.0:
         bt        km transmission     oem         model  centralVariantId  \
1221  Sedan    97,942       Manual  Toyota  Toyota Etios              2190
2572  Sedan    87,000       Manual  Toyota  Toyota Etios              2190
3446  Sedan    55,556       Manual  Toyota  Toyota Etios              2190
3840  Sedan  1,15,500       Manual  Toyota  Toyota Etios              2185
3996  Sedan  1,00,010       Manual  Toyota  Toyota Etios              2185

     variantName        price Registration Year     Insurance Validity  ...  \
1221           G  ₹ 3.45 Lakh          Jan 2012  Third Party insurance  ...
2572           G  ₹ 3.30 Lakh          Jul 2011          Comprehensive  ...
3446           G  ₹ 2.29 Lakh          Feb 2011          Comprehensive  ...
3840          VX  ₹ 2.17 Lakh          May 2011          Comprehensive  ...
3996          VX  ₹ 2.07 Lakh          May 2012          Comprehensive  ...

       RTO ownerNo Displacement  Year of Manufacture    Mileage  Max Power  \
1221  TN07       2       1496.0               2011.0  17.6 kmpl   88.73bhp
2572  KA02       1       1496.0               2011.0  17.6 kmpl   88.73bhp
3446  DL4C       1       1496.0               2011.0  17.6 kmpl   88.73bhp
3840  HR26       1       1496.0               2011.0  17.6 kmpl    88.7bhp
3996  DL10       1       1496.0               2011.0  17.6 kmpl    88.7bhp

     Torque Seats_1   Color  No Door Numbers
1221  132Nm     5.0     Red              4.0
2572  132Nm     5.0     Red              4.0
3446  132Nm     5.0   White              4.0
3840  132Nm     5.0  Silver              4.0
3996  132Nm     5.0  Silver              4.0

[5 rows x 22 columns]

Similar rows for OEM: Toyota, Model: Toyota Etios, Year of Manufacture: 2012.0:
         bt        km transmission     oem         model  centralVariantId  \
184   Sedan  1,02,392       Manual  Toyota  Toyota Etios              2190
7743  Sedan    80,000       Manual  Toyota  Toyota Etios              2190

     variantName        price Registration Year     Insurance Validity  ...  \
184            G  ₹ 4.11 Lakh          Dec 2012          Comprehensive  ...
7743           G  ₹ 2.25 Lakh              2012  Third Party insurance  ...

       RTO ownerNo Displacement  Year of Manufacture    Mileage  Max Power  \
184   TN07       2       1496.0               2012.0  17.6 kmpl   88.73bhp
7743  WB02       3       1496.0               2012.0  17.6 kmpl   88.73bhp

     Torque Seats_1   Color  No Door Numbers
184   132Nm     5.0  Silver              4.0
7743  132Nm     5.0  Others              4.0

[2 rows x 22 columns]

No similar rows found for OEM: Tata, Model: Tata Indica, Year of Manufacture: 2004.0 with non-null Max Power and Torque.

Similar rows for OEM: Hyundai, Model: Hyundai Santro Xing, Year of Manufacture: 2007.0:
             bt        km transmission      oem                model  \
5626  Hatchback  1,00,000       Manual  Hyundai  Hyundai Santro Xing
6389  Hatchback    85,000    Automatic  Hyundai  Hyundai Santro Xing
6736  Hatchback    70,000       Manual  Hyundai  Hyundai Santro Xing

      centralVariantId variantName        price Registration Year  \
5626              1711         GLS  ₹ 1.55 Lakh              2007
6389              1740      GLS AT  ₹ 1.80 Lakh          Jun 2007
6736              1727          XE     ₹ 1 Lakh              2007

         Insurance Validity  ...   RTO ownerNo Displacement  \
5626  Third Party insurance  ...  AP09       2       1086.0
6389          Comprehensive  ...  RJ14       1       1086.0
6736  Third Party insurance  ...  RJ14       1       1086.0

      Year of Manufacture     Mileage  Max Power  Torque Seats_1   Color  \
5626               2007.0  17.92 kmpl    62.1bhp  96.1Nm     5.0  Others
6389               2007.0   17.8 kmpl        63     9.8      5.0  Silver
6736               2007.0   17.8 kmpl        63     9.8      5.0  Others

      No Door Numbers
5626              5.0
6389              5.0
6736              5.0

[3 rows x 22 columns]

No similar rows found for OEM: Hyundai, Model: Hyundai Santro Xing, Year of Manufacture: 2004.0 with non-null Max Power and Torque.

No similar rows found for OEM: Ford, Model: Ford Fiesta, Year of Manufacture: 2008.0 with non-null Max Power and Torque.

Similar rows for OEM: Tata, Model: Tata Indica, Year of Manufacture: 2013.0:
             bt        km transmission   oem        model  centralVariantId  \
1114  Hatchback  1,01,423       Manual  Tata  Tata Indica              2536

     variantName        price Registration Year Insurance Validity  ...   RTO  \
1114         eLX  ₹ 1.49 Lakh          Jul 2013      Comprehensive  ...  TN02

     ownerNo Displacement  Year of Manufacture  Mileage  Max Power Torque  \
1114       2       1396.0               2013.0  25 kmpl      69bhp  140Nm

     Seats_1   Color  No Door Numbers
1114     5.0  Silver              4.0

[1 rows x 22 columns]

No similar rows found for OEM: Ford, Model: Ford Endeavour, Year of Manufacture: 2008.0 with non-null Max Power and Torque.

Similar rows for OEM: Maruti, Model: Maruti Esteem, Year of Manufacture: 2005.0:
         bt      km transmission     oem          model  centralVariantId  \
6681  Sedan  60,000       Manual  Maruti  Maruti Esteem              4072

      variantName      price Registration Year     Insurance Validity  ...  \
6681  Lxi - BSIII  ₹ 50,000               2005  Third Party insurance  ...

       RTO ownerNo Displacement  Year of Manufacture    Mileage  Max Power  \
6681  RJ14       1       1298.0               2005.0  15.9 kmpl     85 PS

       Torque Seats_1   Color  No Door Numbers
6681  110 Nm      5.0  Others              4.0

[1 rows x 22 columns]

No similar rows found for OEM: Toyota, Model: Toyota Etios Liva, Year of Manufacture: 2011.0 with non-null Max Power and Torque.

No similar rows found for OEM: Honda, Model: Honda CR-V, Year of Manufacture: 2010.0 with non-null Max Power and Torque.

No similar rows found for OEM: Ford, Model: Ford Fiesta, Year of Manufacture: 2009.0 with non-null Max Power and Torque.

Similar rows for OEM: Ford, Model: Ford Fiesta, Year of Manufacture: 2010.0:
         bt      km transmission   oem        model  centralVariantId  \
2334  Sedan  80,000       Manual  Ford  Ford Fiesta               995

          variantName        price Registration Year     Insurance Validity  \
2334  1.6 ZXi Duratec  ₹ 1.90 Lakh              2010  Third Party insurance

      ...   RTO ownerNo Displacement  Year of Manufacture    Mileage  \
2334  ...  KA51       1       1596.0               2010.0  15.3 kmpl

      Max Power Torque Seats_1  Color  No Door Numbers
2334       101   14.9      5.0  Black              4.0

[1 rows x 22 columns]

In [40]:
# Step 4: Fill null values and remove rows with both nulls
null_filled_count = 0  # Count of null values filled
deleted_rows_count = 0  # Count of rows deleted

# Iterate over each entry with null values in Max Power and Torque
for index, row in oem_model_year_details.iterrows():
    oem = row['oem']
    model = row['model']
    year_of_manufacture = row['Year of Manufacture']
    
    # Find similar rows with non-null Max Power and Torque
    similar_rows = df[
        (df['oem'] == oem) &
        (df['model'] == model) &
        (df['Year of Manufacture'] == year_of_manufacture) &
        (df['Max Power'].notnull()) &
        (df['Torque'].notnull())
    ]

    if not similar_rows.empty:
        print(f"\nFilling null values for OEM: {oem}, Model: {model}, Year of Manufacture: {year_of_manufacture}")
        
        # Fill the null values for each column
        for col in ['Max Power', 'Torque']:
            nulls_before = df[col].isnull().sum()  # Null count before filling
            
            # Fill nulls
            df.loc[
                (df['oem'] == oem) & 
                (df['model'] == model) & 
                (df['Year of Manufacture'] == year_of_manufacture) & 
                (df[col].isnull()), 
                col
            ] = similar_rows[col].values[0]  # Use the first similar value
            
            nulls_after = df[col].isnull().sum()  # Null count after filling
            filled = nulls_before - nulls_after  # Number of nulls filled
            
            # Print for debugging
            print(f"Filled {filled} nulls in column {col}")
            null_filled_count += filled  # Update count of filled values

    else:
        # Count rows to be deleted
        rows_to_delete = df[
            (df['oem'] == oem) & 
            (df['model'] == model) & 
            (df['Year of Manufacture'] == year_of_manufacture) & 
            (df['Max Power'].isnull() & df['Torque'].isnull())
        ].shape[0]
        
        print(f"\nDeleting {rows_to_delete} rows for OEM: {oem}, Model: {model}, Year of Manufacture: {year_of_manufacture} with null Max Power and Torque.")
        
        # Remove rows
        df = df[~((df['oem'] == oem) & (df['model'] == model) & (df['Year of Manufacture'] == year_of_manufacture) & (df['Max Power'].isnull() & df['Torque'].isnull()))]
        
        deleted_rows_count += rows_to_delete  # Update deleted row count

# Print final counts
print(f"\nTotal null values filled in Max Power and Torque: {null_filled_count}")
print(f"Total rows deleted (both Max Power and Torque were null): {deleted_rows_count}")

# Optional: Show DataFrame after filling/removal for verification
#print(df)

Deleting 1 rows for OEM: Ford, Model: Ford Fiesta, Year of Manufacture: 2006.0 with null Max Power and Torque.

Deleting 1 rows for OEM: Toyota, Model: Toyota Etios Liva, Year of Manufacture: 2012.0 with null Max Power and Torque.

Deleting 2 rows for OEM: Hyundai, Model: Hyundai Santro Xing, Year of Manufacture: 2006.0 with null Max Power and Torque.

Deleting 2 rows for OEM: Hyundai, Model: Hyundai Santro Xing, Year of Manufacture: 2005.0 with null Max Power and Torque.

Deleting 1 rows for OEM: Maruti, Model: Maruti Esteem, Year of Manufacture: 2004.0 with null Max Power and Torque.

Filling null values for OEM: Maruti, Model: Maruti Swift, Year of Manufacture: 2007.0
Filled 1 nulls in column Max Power
Filled 1 nulls in column Torque

Deleting 2 rows for OEM: Maruti, Model: Maruti Estilo, Year of Manufacture: 2009.0 with null Max Power and Torque.

Filling null values for OEM: Toyota, Model: Toyota Etios, Year of Manufacture: 2011.0
Filled 1 nulls in column Max Power
Filled 1 nulls in column Torque

Filling null values for OEM: Toyota, Model: Toyota Etios, Year of Manufacture: 2012.0
Filled 1 nulls in column Max Power
Filled 1 nulls in column Torque

Deleting 1 rows for OEM: Tata, Model: Tata Indica, Year of Manufacture: 2004.0 with null Max Power and Torque.

Filling null values for OEM: Hyundai, Model: Hyundai Santro Xing, Year of Manufacture: 2007.0
Filled 1 nulls in column Max Power
Filled 1 nulls in column Torque

Deleting 1 rows for OEM: Hyundai, Model: Hyundai Santro Xing, Year of Manufacture: 2004.0 with null Max Power and Torque.

Deleting 1 rows for OEM: Ford, Model: Ford Fiesta, Year of Manufacture: 2008.0 with null Max Power and Torque.

Filling null values for OEM: Tata, Model: Tata Indica, Year of Manufacture: 2013.0
Filled 1 nulls in column Max Power
Filled 1 nulls in column Torque

Deleting 1 rows for OEM: Ford, Model: Ford Endeavour, Year of Manufacture: 2008.0 with null Max Power and Torque.

Filling null values for OEM: Maruti, Model: Maruti Esteem, Year of Manufacture: 2005.0
Filled 1 nulls in column Max Power
Filled 1 nulls in column Torque

Deleting 3 rows for OEM: Toyota, Model: Toyota Etios Liva, Year of Manufacture: 2011.0 with null Max Power and Torque.

Deleting 2 rows for OEM: Honda, Model: Honda CR-V, Year of Manufacture: 2010.0 with null Max Power and Torque.

Deleting 1 rows for OEM: Ford, Model: Ford Fiesta, Year of Manufacture: 2009.0 with null Max Power and Torque.

Filling null values for OEM: Ford, Model: Ford Fiesta, Year of Manufacture: 2010.0
Filled 1 nulls in column Max Power
Filled 1 nulls in column Torque

Total null values filled in Max Power and Torque: 14
Total rows deleted (both Max Power and Torque were null): 19

In [41]:
df.isnull().sum()

bt                     0
km                     0
transmission           0
oem                    0
model                  0
centralVariantId       0
variantName            0
price                  0
Registration Year      0
Insurance Validity     0
Fuel Type              0
Kms Driven             0
RTO                    0
ownerNo                0
Displacement           0
Year of Manufacture    0
Mileage                0
Max Power              0
Torque                 0
Seats_1                0
Color                  0
No Door Numbers        2
dtype: int64

##### It appears this removing of rows for torque and max power removed the null value rows of seats_1 as well.

### 7. Door Numbers:

#### 1. print the null rows where No Door Numbers  is null. 
##### 2. find what is the oem and model, when No Door Numbers is null.
##### 3. check if there is other rows where the same oem,model has No Door Numbers and print them. 
##### 4. if they haveNo Door Numbers value. then that can be filled in the null value section. otherwise remove the row

In [42]:
# Step 1: Print rows where 'No Door Numbers' is null
null_door_numbers = df[df['No Door Numbers'].isnull()]
print(f"Rows with null 'No Door Numbers': {len(null_door_numbers)}")
print(null_door_numbers)

Rows with null 'No Door Numbers': 2
         bt     km transmission     oem                        model  \
4187    SUV  1,500    Automatic  Maruti                 Maruti FRONX
7643  Coupe    170    Automatic     BMW  BMW 3 Series Gran Limousine

      centralVariantId         variantName         price Registration Year  \
4187              9922       Zeta Turbo AT  ₹ 12.50 Lakh          Jun 2023
7643              9537  330Li M Sport BSVI  ₹ 58.95 Lakh          Aug 2023

         Insurance Validity  ...   RTO ownerNo Displacement  \
4187          Comprehensive  ...  DL3C       1        998.0
7643  Third Party insurance  ...  WB02       1       1998.0

      Year of Manufacture     Mileage  Max Power   Torque Seats_1  Color  \
4187               2023.0  20.01 kmpl   98.69bhp  147.6Nm     5.0  White
7643               2023.0  15.39 kmpl  254.79bhp    400Nm     5.0  White

      No Door Numbers
4187              NaN
7643              NaN

[2 rows x 22 columns]

In [43]:
# Step 2: Find OEM, Model where 'No Door Numbers' is null
null_door_oem_model = null_door_numbers[['oem', 'model']].drop_duplicates()
print("OEM and Model where 'No Door Numbers' is null:")
print(null_door_oem_model)

OEM and Model where 'No Door Numbers' is null:
         oem                        model
4187  Maruti                 Maruti FRONX
7643     BMW  BMW 3 Series Gran Limousine

In [44]:
# Step 3: Check for rows with same OEM and Model that have 'No Door Numbers' filled
for index, row in null_door_oem_model.iterrows():
    oem = row['oem']
    model = row['model']
    
    # Find similar rows with non-null 'No Door Numbers'
    similar_rows = df[(df['oem'] == oem) & (df['model'] == model) & df['No Door Numbers'].notnull()]
    
    if not similar_rows.empty:
        print(f"\nSimilar rows for OEM: {oem}, Model: {model} with non-null 'No Door Numbers':")
        print(similar_rows)
    else:
        print(f"\nNo similar rows found for OEM: {oem}, Model: {model} with non-null 'No Door Numbers'.")

No similar rows found for OEM: Maruti, Model: Maruti FRONX with non-null 'No Door Numbers'.

Similar rows for OEM: BMW, Model: BMW 3 Series Gran Limousine with non-null 'No Door Numbers':
         bt      km transmission  oem                        model  \
411   Sedan   9,000    Automatic  BMW  BMW 3 Series Gran Limousine
550   Sedan  15,000    Automatic  BMW  BMW 3 Series Gran Limousine
598   Sedan   6,000    Automatic  BMW  BMW 3 Series Gran Limousine
713   Sedan   3,300    Automatic  BMW  BMW 3 Series Gran Limousine
1253  Sedan  22,600    Automatic  BMW  BMW 3 Series Gran Limousine
1390  Sedan  15,000    Automatic  BMW  BMW 3 Series Gran Limousine
3317  Sedan  20,000    Automatic  BMW  BMW 3 Series Gran Limousine
3339  Sedan   3,500    Automatic  BMW  BMW 3 Series Gran Limousine

      centralVariantId                  variantName         price  \
411               8267           330 Li Luxury Line     ₹ 55 Lakh
550               8275            320Ld Luxury Line  ₹ 57.90 Lakh
598               8267           330 Li Luxury Line  ₹ 58.50 Lakh
713               8275            320Ld Luxury Line     ₹ 56 Lakh
1253              8275            320Ld Luxury Line  ₹ 57.50 Lakh
1390              8275            320Ld Luxury Line  ₹ 60.75 Lakh
3317              8274  330Li M Sport First Edition  ₹ 51.90 Lakh
3339              8267           330 Li Luxury Line  ₹ 55.90 Lakh

     Registration Year     Insurance Validity  ...   RTO ownerNo Displacement  \
411           Oct 2021          Comprehensive  ...  TN05       1       1998.0
550           Jun 2022          Comprehensive  ...  TN07       1       1995.0
598           Oct 2022          Comprehensive  ...  TN07       1       1998.0
713          Sept 2021          Comprehensive  ...  TN05       1       1995.0
1253          Nov 2021  Third Party insurance  ...  TN19       1       1995.0
1390          Mar 2022          Comprehensive  ...  TN07       1       1995.0
3317          Dec 2021          Comprehensive  ...  UP16       1       1998.0
3339          Oct 2022          Comprehensive  ...  HR01       1       1998.0

      Year of Manufacture     Mileage  Max Power Torque Seats_1   Color  \
411                2021.0   15.3 kmpl  254.79bhp  400nm     5.0     Red
550                2022.0  19.62 kmpl  187.40bhp  400nm     5.0   White
598                2022.0   15.3 kmpl  254.79bhp  400nm     5.0    Blue
713                2021.0  19.62 kmpl  187.40bhp  400nm     5.0   Black
1253               2021.0  19.62 kmpl  187.40bhp  400nm     5.0  Silver
1390               2022.0  19.62 kmpl  187.40bhp  400nm     5.0   White
3317               2021.0   15.3 kmpl  254.79bhp  400nm     5.0   White
3339               2022.0   15.3 kmpl  254.79bhp  400nm     5.0   White

      No Door Numbers
411               4.0
550               4.0
598               4.0
713               4.0
1253              4.0
1390              4.0
3317              4.0
3339              4.0

[8 rows x 22 columns]

In [45]:
# Fill all null values in the 'No Door Numbers' column with 4
df['No Door Numbers'].fillna(4, inplace=True)

# Print the result to confirm the changes
print("Null values in 'No Door Numbers' have been filled with 4.")
print(df['No Door Numbers'].isnull().sum())

Null values in 'No Door Numbers' have been filled with 4.
0

In [46]:
df.isnull().sum()

bt                     0
km                     0
transmission           0
oem                    0
model                  0
centralVariantId       0
variantName            0
price                  0
Registration Year      0
Insurance Validity     0
Fuel Type              0
Kms Driven             0
RTO                    0
ownerNo                0
Displacement           0
Year of Manufacture    0
Mileage                0
Max Power              0
Torque                 0
Seats_1                0
Color                  0
No Door Numbers        0
dtype: int64

## ALL NULL VALUES ARE REMOVED FROM COLUMNS NEEDED FOR PRICE PREDICTION.

In [47]:
df

,bt,km,transmission,oem,model,centralVariantId,variantName,price,Registration Year,Insurance Validity,...,RTO,ownerNo,Displacement,Year of Manufacture,Mileage,Max Power,Torque,Seats_1,Color,No Door Numbers
1,Minivans,"20,687",Manual,Maruti,Maruti Eeco,4025,7 Seater Standard BSIV,₹ 4.15 Lakh,Feb 2015,Comprehensive,...,TN04,1,1196.0,2015.0,15.37 kmpl,73bhp,101Nm,7.0,Grey,5.0
2,SUV,"30,000",Manual,Nissan,Nissan Magnite,8135,Turbo XV Premium BSVI,₹ 7.50 Lakh,2021,Third Party insurance,...,TN22,1,999.0,2021.0,20 kmpl,98.63bhp,160Nm,5.0,Others,5.0
3,Hatchback,"59,247",Manual,Hyundai,Hyundai i10,1579,Sportz 1.1L,₹ 3.98 Lakh,May 2015,Comprehensive,...,TN11,1,1086.0,2015.0,19.81 kmpl,68.05bhp,99.04Nm,5.0,Silver,5.0
4,Hatchback,"50,000",Manual,Honda,Honda Jazz,1341,1.2 VX i VTEC,₹ 5.50 Lakh,2015,Third Party insurance,...,KA03,1,1199.0,2015.0,18.7 kmpl,88.7bhp,110Nm,5.0,Others,5.0
5,Sedan,"20,000",Automatic,Mercedes-Benz,Mercedes-Benz E-Class,4570,E250 CDI Avantgarde,₹ 33 Lakh,Sept 2017,Comprehensive,...,TN06,1,2143.0,2016.0,13 kmpl,204bhp,500Nm,5.0,White,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8348,SUV,"20,000",Manual,Hyundai,Hyundai Creta,6430,1.6 SX,₹ 10 Lakh,2019,Third Party insurance,...,WB02,1,1591.0,2019.0,15.8 kmpl,121.3bhp,151Nm,5.0,Others,5.0
8349,Sedan,"40,000",Manual,Maruti,Maruti Swift Dzire,7077,VXI 1.2,₹ 5.50 Lakh,2019,Third Party insurance,...,WB24,1,1197.0,2019.0,21.21 kmpl,81.80bhp,113Nm,5.0,Others,4.0
8356,SUV,"20,000",Manual,Tata,Tata Nexon,7297,XE BSVI,₹ 6.74 Lakh,2022,Third Party insurance,...,WB20,1,1199.0,2022.0,17.33 kmpl,118.35bhp,170Nm,5.0,Others,5.0
8359,Sedan,"60,000",Manual,Maruti,Maruti Swift Dzire,4224,VXi,₹ 2.50 Lakh,2010,Third Party insurance,...,PB10,1,1298.0,2010.0,17.5 kmpl,85.8bhp,114Nm,5.0,Others,4.0
8366,Sedan,"50,000",Automatic,Mercedes-Benz,Mercedes-Benz C-Class,4672,C 200 CGI Elegance,₹ 5.50 Lakh,2011,Third Party insurance,...,WB06,3,1796.0,2011.0,11.74 kmpl,186bhp,285Nm,5.0,Others,4.0

# DATA CLEANING:

### 1.BT: - Categorical variable.

In [48]:
# Find unique values and their counts in the 'bt' column
unique_bt_values = df['bt'].value_counts()

# Print the unique values and their counts
print("Unique values and their counts in the 'bt' column:")
print(unique_bt_values)

Unique values and their counts in the 'bt' column:
bt
Hatchback        3160
Sedan            1915
SUV              1793
MUV               299
Minivans           17
Coupe               7
Convertibles        6
Hybrids             1
Wagon               1
Pickup Trucks       1
Name: count, dtype: int64

In [49]:
df['bt'].dtype

dtype('O')

#### No Cleaning Required. Later One-Hot Encoding need to be done as it is the most common for non-ordinal categorical variables like this.

### 2. KM - Continous variable.

In [50]:
df['km'].dtype

dtype('O')

#### Needs to be converted to integer data type. comma has to be removed.

In [51]:
# Step 1: Remove commas from the 'km' column
df['km'] = df['km'].str.replace(',', '')

# Step 2: Convert the 'km' column to integer type
df['km'] = df['km'].astype(int)

# Check the result and data type
print(df['km'].head())
print(df['km'].dtype)  # Verify that the column is now of integer type

1    20687
2    30000
3    59247
4    50000
5    20000
Name: km, dtype: int32
int32

In [52]:
df['km'].count()

7200

### 3.transmission	: - Categorical Variable

In [53]:
# Find unique values and their counts in the 'bt' column
unique_transmission_values = df['transmission'].value_counts()

# Print the unique values and their counts
print("Unique values and their counts in the 'transmission' column:")
print(unique_transmission_values)

Unique values and their counts in the 'transmission' column:
transmission
Manual       5229
Automatic    1971
Name: count, dtype: int64

#### No Cleaning needed only encoding need to be done later.

### 4.OEM: - Categorical Variable:

In [54]:
# Find unique values and their counts in the 'oem' column
unique_oem_values = df['oem'].value_counts()

# Print the unique values and their counts
print("Unique values and their counts in the 'oem' column:")
print(unique_oem_values)

Unique values and their counts in the 'oem' column:
oem
Maruti                1986
Hyundai               1408
Honda                  797
Tata                   365
Renault                285
Toyota                 279
Mahindra               276
Ford                   268
Volkswagen             260
Mercedes-Benz          194
BMW                    164
Skoda                  145
Audi                   136
Kia                    114
Jeep                   101
Datsun                  71
Nissan                  70
Chevrolet               61
MG                      59
Volvo                   35
Land Rover              29
Jaguar                  27
Fiat                    22
Mini                    10
Citroen                  8
Mitsubishi               7
Porsche                  5
Isuzu                    4
Mahindra Renault         4
Mahindra Ssangyong       4
Lexus                    4
Opel                     2
Name: count, dtype: int64

#### No Cleaning needed only encoding need to be done later.

### 5.Model: - Categorical Variable:

In [55]:
# Find unique values and their counts in the 'model' column
unique_model_values = df['model'].value_counts()

# Print the unique values and their counts
print("Unique values and their counts in the 'model' column:")
print(unique_model_values)

Unique values and their counts in the 'model' column:
model
Honda City                 338
Maruti Swift               311
Hyundai i20                300
Maruti Baleno              277
Hyundai Grand i10          247
                          ...
BMW X7                       1
Mercedes-Benz GLA            1
Mercedes-Benz G              1
Mini Cooper Convertible      1
Jaguar F-TYPE                1
Name: count, Length: 273, dtype: int64

#### No Cleaning needed only encoding need to be done later.

### 6.price : - Continous Variable:

In [56]:
import re

# Function to clean and convert price values to integer
def clean_price(price_str):
    # Remove rupee symbol (₹) and commas
    price_str = price_str.replace('₹', '').replace(',', '').strip()

    # Handle Lakh and Crore cases
    if 'Lakh' in price_str:
        price_str = price_str.replace('Lakh', '').strip()  # Remove 'Lakh'
        return int(float(price_str) * 100000)  # Convert Lakh to the respective value
    elif 'Crore' in price_str:
        price_str = price_str.replace('Crore', '').strip()  # Remove 'Crore'
        return int(float(price_str) * 10000000)  # Convert Crore to the respective value
    else:
        # Handle plain numbers (already in thousands, no Lakh/Crore)
        return int(price_str)

# Apply the clean_price function to the 'price' column
df['price'] = df['price'].apply(clean_price)

# Display the cleaned DataFrame
print(df)

             bt     km transmission            oem                  model  \
1      Minivans  20687       Manual         Maruti            Maruti Eeco
2           SUV  30000       Manual         Nissan         Nissan Magnite
3     Hatchback  59247       Manual        Hyundai            Hyundai i10
4     Hatchback  50000       Manual          Honda             Honda Jazz
5         Sedan  20000    Automatic  Mercedes-Benz  Mercedes-Benz E-Class
...         ...    ...          ...            ...                    ...
8348        SUV  20000       Manual        Hyundai          Hyundai Creta
8349      Sedan  40000       Manual         Maruti     Maruti Swift Dzire
8356        SUV  20000       Manual           Tata             Tata Nexon
8359      Sedan  60000       Manual         Maruti     Maruti Swift Dzire
8366      Sedan  50000    Automatic  Mercedes-Benz  Mercedes-Benz C-Class

      centralVariantId             variantName    price Registration Year  \
1                 4025  7 Seater Standard BSIV   415000          Feb 2015
2                 8135   Turbo XV Premium BSVI   750000              2021
3                 1579             Sportz 1.1L   398000          May 2015
4                 1341           1.2 VX i VTEC   550000              2015
5                 4570     E250 CDI Avantgarde  3300000         Sept 2017
...                ...                     ...      ...               ...
8348              6430                  1.6 SX  1000000              2019
8349              7077                 VXI 1.2   550000              2019
8356              7297                 XE BSVI   674000              2022
8359              4224                     VXi   250000              2010
8366              4672      C 200 CGI Elegance   550000              2011

         Insurance Validity  ...   RTO ownerNo Displacement  \
1             Comprehensive  ...  TN04       1       1196.0
2     Third Party insurance  ...  TN22       1        999.0
3             Comprehensive  ...  TN11       1       1086.0
4     Third Party insurance  ...  KA03       1       1199.0
5             Comprehensive  ...  TN06       1       2143.0
...                     ...  ...   ...     ...          ...
8348  Third Party insurance  ...  WB02       1       1591.0
8349  Third Party insurance  ...  WB24       1       1197.0
8356  Third Party insurance  ...  WB20       1       1199.0
8359  Third Party insurance  ...  PB10       1       1298.0
8366  Third Party insurance  ...  WB06       3       1796.0

      Year of Manufacture     Mileage  Max Power   Torque Seats_1   Color  \
1                  2015.0  15.37 kmpl      73bhp    101Nm     7.0    Grey
2                  2021.0     20 kmpl   98.63bhp    160Nm     5.0  Others
3                  2015.0  19.81 kmpl   68.05bhp  99.04Nm     5.0  Silver
4                  2015.0   18.7 kmpl    88.7bhp    110Nm     5.0  Others
5                  2016.0     13 kmpl     204bhp    500Nm     5.0   White
...                   ...         ...        ...      ...     ...     ...
8348               2019.0   15.8 kmpl   121.3bhp    151Nm     5.0  Others
8349               2019.0  21.21 kmpl   81.80bhp    113Nm     5.0  Others
8356               2022.0  17.33 kmpl  118.35bhp    170Nm     5.0  Others
8359               2010.0   17.5 kmpl    85.8bhp    114Nm     5.0  Others
8366               2011.0  11.74 kmpl     186bhp    285Nm     5.0  Others

      No Door Numbers
1                 5.0
2                 5.0
3                 5.0
4                 5.0
5                 4.0
...               ...
8348              5.0
8349              4.0
8356              5.0
8359              4.0
8366              4.0

[7200 rows x 22 columns]

In [57]:
df['price'].count()

7200

In [58]:
df['price'].isnull().sum()

0

In [59]:
df['price'].dtype

dtype('int64')

In [60]:
### Dropping Unnecessary columns:
df = df.drop(columns=['centralVariantId', 'variantName'])

# Display the updated DataFrame
print(df)

             bt     km transmission            oem                  model  \
1      Minivans  20687       Manual         Maruti            Maruti Eeco
2           SUV  30000       Manual         Nissan         Nissan Magnite
3     Hatchback  59247       Manual        Hyundai            Hyundai i10
4     Hatchback  50000       Manual          Honda             Honda Jazz
5         Sedan  20000    Automatic  Mercedes-Benz  Mercedes-Benz E-Class
...         ...    ...          ...            ...                    ...
8348        SUV  20000       Manual        Hyundai          Hyundai Creta
8349      Sedan  40000       Manual         Maruti     Maruti Swift Dzire
8356        SUV  20000       Manual           Tata             Tata Nexon
8359      Sedan  60000       Manual         Maruti     Maruti Swift Dzire
8366      Sedan  50000    Automatic  Mercedes-Benz  Mercedes-Benz C-Class

        price Registration Year     Insurance Validity Fuel Type  Kms Driven  \
1      415000          Feb 2015          Comprehensive    Petrol  20,687 Kms
2      750000              2021  Third Party insurance    Petrol  30,000 Kms
3      398000          May 2015          Comprehensive    Petrol  59,247 Kms
4      550000              2015  Third Party insurance    Petrol  50,000 Kms
5     3300000         Sept 2017          Comprehensive    Diesel  20,000 Kms
...       ...               ...                    ...       ...         ...
8348  1000000              2019  Third Party insurance    Petrol  20,000 Kms
8349   550000              2019  Third Party insurance    Petrol  40,000 Kms
8356   674000              2022  Third Party insurance    Petrol  20,000 Kms
8359   250000              2010  Third Party insurance    Petrol  60,000 Kms
8366   550000              2011  Third Party insurance    Petrol  50,000 Kms

       RTO  ownerNo  Displacement  Year of Manufacture     Mileage  Max Power  \
1     TN04        1        1196.0               2015.0  15.37 kmpl      73bhp
2     TN22        1         999.0               2021.0     20 kmpl   98.63bhp
3     TN11        1        1086.0               2015.0  19.81 kmpl   68.05bhp
4     KA03        1        1199.0               2015.0   18.7 kmpl    88.7bhp
5     TN06        1        2143.0               2016.0     13 kmpl     204bhp
...    ...      ...           ...                  ...         ...        ...
8348  WB02        1        1591.0               2019.0   15.8 kmpl   121.3bhp
8349  WB24        1        1197.0               2019.0  21.21 kmpl   81.80bhp
8356  WB20        1        1199.0               2022.0  17.33 kmpl  118.35bhp
8359  PB10        1        1298.0               2010.0   17.5 kmpl    85.8bhp
8366  WB06        3        1796.0               2011.0  11.74 kmpl     186bhp

       Torque  Seats_1   Color  No Door Numbers
1       101Nm      7.0    Grey              5.0
2       160Nm      5.0  Others              5.0
3     99.04Nm      5.0  Silver              5.0
4       110Nm      5.0  Others              5.0
5       500Nm      5.0   White              4.0
...       ...      ...     ...              ...
8348    151Nm      5.0  Others              5.0
8349    113Nm      5.0  Others              4.0
8356    170Nm      5.0  Others              5.0
8359    114Nm      5.0  Others              4.0
8366    285Nm      5.0  Others              4.0

[7200 rows x 20 columns]

### 7. Registration Year : - Date Column:

In [61]:
import pandas as pd

# Step 1: Extract the year from the 'Registration Year' column
# This will handle both numeric years (e.g., 2022) and strings with month and year (e.g., 'Feb 2015')
df['Registration Year'] = df['Registration Year'].apply(lambda x: str(x)[-4:] if isinstance(x, str) else x)

# Step 2: Convert to numeric, forcing invalid parsing to NaN (if any non-year values remain)
df['Registration Year'] = pd.to_numeric(df['Registration Year'], errors='coerce')

# Step 3: Convert the cleaned column to datetime, keeping only the year
df['Registration Year'] = pd.to_datetime(df['Registration Year'], format='%Y').dt.year

# Display the updated DataFrame to verify the changes
print(df['Registration Year'])

1       2015
2       2021
3       2015
4       2015
5       2017
        ...
8348    2019
8349    2019
8356    2022
8359    2010
8366    2011
Name: Registration Year, Length: 7200, dtype: int32

In [62]:
df['Registration Year'].dtype

dtype('int32')

In [63]:
df['Registration Year'] = pd.to_datetime(df['Registration Year'], format='%Y')

In [64]:
df['Registration Year'].dtype

dtype('<M8[ns]')

In [65]:
# Extracting the year from the datetime column and converting it back to int
df['Registration Year'] = df['Registration Year'].dt.year.astype(int)

### 8.Insurance Validity: - Categorical:

In [66]:
# Find unique values and their counts in the 'Insurance Validity' column
unique_model_values = df['Insurance Validity'].value_counts()

# Print the unique values and their counts
print("Unique values and their counts in the 'Insurance Validity' column:")
print(unique_model_values)

Unique values and their counts in the 'Insurance Validity' column:
Insurance Validity
Third Party insurance    3070
Comprehensive            3013
Third Party               605
Zero Dep                  298
Not Available             210
1                           3
2                           1
Name: count, dtype: int64

In [67]:
# Print rows where Insurance Validity is 1 or 2
invalidity_rows = df[df['Insurance Validity'] == "1" ]

# Display the matching rows
print(invalidity_rows)

             bt      km transmission       oem             model   price  \
1943      Sedan  114321       Manual    Maruti       Maruti Ciaz  700000
3022  Hatchback   62150       Manual   Hyundai       Hyundai i10  345000
6676        SUV   40220       Manual  Mahindra  Mahindra TUV 300  750000

      Registration Year Insurance Validity Fuel Type    Kms Driven   RTO  \
1943               2017                  1    Petrol  1,14,321 Kms  KA05
3022               2015                  1    Petrol    62,150 Kms  HR51
6676               2016                  1    Diesel    40,220 Kms  RJ14

      ownerNo  Displacement  Year of Manufacture     Mileage Max Power  \
1943        2        1373.0               2016.0  20.73 kmpl   91.1bhp
3022        1        1086.0               2015.0  19.81 kmpl  68.05bhp
6676        1        1493.0               2016.0  18.49 kmpl    100bhp

       Torque  Seats_1   Color  No Door Numbers
1943    130Nm      5.0   White              4.0
3022  99.04Nm      5.0  Silver              5.0
6676    240Nm      7.0     Red              5.0

In [68]:
# Print rows where Insurance Validity is 1 or 2
invalidity_rows = df[df['Insurance Validity'] == "2" ]

# Display the matching rows
print(invalidity_rows)

             bt     km transmission     oem           model   price  \
1535  Hatchback  65017    Automatic  Maruti  Maruti Celerio  475000

      Registration Year Insurance Validity Fuel Type  Kms Driven   RTO  \
1535               2016                  2    Petrol  65,017 Kms  KA04

      ownerNo  Displacement  Year of Manufacture    Mileage Max Power Torque  \
1535        1         998.0               2015.0  23.1 kmpl  67.04bhp   90Nm

      Seats_1  Color  No Door Numbers
1535      5.0  White              5.0

In [69]:
# Remove rows where Insurance Validity is "1" or "2"
df = df[~df['Insurance Validity'].isin(["1", "2"])]

In [70]:
# Find unique values and their counts in the 'Insurance Validity' column
unique_model_values = df['Insurance Validity'].value_counts()

# Print the unique values and their counts
print("Unique values and their counts in the 'Insurance Validity' column:")
print(unique_model_values)

Unique values and their counts in the 'Insurance Validity' column:
Insurance Validity
Third Party insurance    3070
Comprehensive            3013
Third Party               605
Zero Dep                  298
Not Available             210
Name: count, dtype: int64

In [71]:
df.shape

(7196, 20)

#### Here Label Encoding can be given as they are Ordinal in Nature.

### 9.Fuel Type: - Categorical:

In [72]:
# Find unique values and their counts in the 'Fuel Type' column
unique_Fuel_Type_values = df['Fuel Type'].value_counts()

# Print the unique values and their counts
print("Unique values and their counts in the 'Fuel Type' column:")
print(unique_Fuel_Type_values)

Unique values and their counts in the 'Fuel Type' column:
Fuel Type
Petrol      4887
Diesel      2221
CNG           77
LPG            9
Electric       2
Name: count, dtype: int64

### 10.Kms Driven: - Continuous:

In [73]:
# Remove ' Kms' and convert the column to integer
df['Kms Driven'] = df['Kms Driven'].str.replace(' Kms', '', regex=False)  # Remove ' Kms'
df['Kms Driven'] = df['Kms Driven'].str.replace(',', '', regex=False)     # Remove commas
df['Kms Driven'] = df['Kms Driven'].astype(int)                            # Convert to integer

# Display the updated DataFrame
print(df[['Kms Driven']])

      Kms Driven
1          20687
2          30000
3          59247
4          50000
5          20000
...          ...
8348       20000
8349       40000
8356       20000
8359       60000
8366       50000

[7196 rows x 1 columns]

### 11.RTO: - Categorical:

In [74]:
# Find unique values and their counts in the 'RTO' column
unique_RTO_values = df['RTO'].value_counts()

# Print the unique values and their counts
print("Unique values and their counts in the 'RTO' column:")
print(unique_RTO_values)

Unique values and their counts in the 'RTO' column:
RTO
WB02    438
RJ14    358
TS07    272
TS08    241
KA03    239
       ...
HR24      1
HR78      1
HP05      1
HR35      1
WB72      1
Name: count, Length: 458, dtype: int64

In [75]:
# Keep only the first two characters of the RTO column
df['RTO'] = df['RTO'].str[:2]

# Display the updated DataFrame
print(df[['RTO']])

     RTO
1     TN
2     TN
3     TN
4     KA
5     TN
...   ..
8348  WB
8349  WB
8356  WB
8359  PB
8366  WB

[7196 rows x 1 columns]

In [76]:
# Find unique values and their counts in the 'RTO' column
unique_RTO_values = df['RTO'].value_counts()

# Print the unique values and their counts
print("Unique values and their counts in the 'RTO' column:")
print(unique_RTO_values)

Unique values and their counts in the 'RTO' column:
RTO
TN    1241
KA    1240
WB    1096
TS    1010
RJ     859
DL     676
HR     340
AP     293
UP     243
Wb      26
HP      24
MH      23
UK      13
CH      12
JH      11
MP      10
PB       9
KL       9
GJ       8
PY       6
OD       6
wb       4
DD       3
AS       3
CG       3
TA       3
BR       2
TT       2
RH       2
22       1
AR       1
WW       1
AN       1
R1       1
RR       1
HE       1
Hr       1
TD       1
AA       1
KK       1
GA       1
Dl       1
PH       1
Up       1
VK       1
TM       1
OR       1
wB       1
Name: count, dtype: int64

In [77]:
# Convert all characters in the RTO column to uppercase
df['RTO'] = df['RTO'].str.upper()

# Display the updated DataFrame
print(df['RTO'].value_counts())

RTO
TN    1241
KA    1240
WB    1127
TS    1010
RJ     859
DL     677
HR     341
AP     293
UP     244
HP      24
MH      23
UK      13
CH      12
JH      11
MP      10
KL       9
PB       9
GJ       8
OD       6
PY       6
CG       3
TA       3
DD       3
AS       3
RH       2
TT       2
BR       2
R1       1
22       1
AR       1
WW       1
RR       1
HE       1
GA       1
TD       1
AA       1
KK       1
TM       1
PH       1
OR       1
VK       1
AN       1
Name: count, dtype: int64

In [78]:
# Create a mapping for replacements
replacement_mapping = {
    'CG': None,    # Remove
    'TA': 'TS',
    'DD': None,    # Remove
    'AS': 'AP',    
    'RH': 'RJ',
    'TT': 'TS',
    'BR': None,    # Remove
    'R1': 'RJ',
    '22': None,    # Remove
    'AR': 'AP',    
    'WW': 'WB',
    'RR': 'RJ',
    'HE': 'HR',
    'GA': 'GJ',
    'TD': 'TS',
    'AA': 'AP',
    'KK': 'KA',
    'TM': 'TS',
    'PH': 'PB',
    'OR': 'OD',
    'VK': None,    # Remove
    'AN': 'AP',
}

# Apply the replacements and drop rows with None values in the 'RTO' column
df['RTO'] = df['RTO'].replace(replacement_mapping)

# Drop rows where 'RTO' is NaN (previously mapped to None)
df = df.dropna(subset=['RTO'])

# Display the updated DataFrame
print(df['RTO'].value_counts())

RTO
TN    1241
KA    1241
WB    1128
TS    1017
RJ     863
DL     677
HR     342
AP     299
UP     244
HP      24
MH      23
UK      13
CH      12
JH      11
MP      10
PB      10
GJ       9
KL       9
OD       7
PY       6
Name: count, dtype: int64

In [79]:
df.shape

(7186, 20)

In [80]:
# Create a mapping for RTO codes to state names
state_mapping = {
    'TN': 'Tamil Nadu',
    'KA': 'Karnataka',
    'WB': 'West Bengal',
    'TS': 'Telangana',
    'RJ': 'Rajasthan',
    'DL': 'Delhi',
    'HR': 'Haryana',
    'AP': 'Andhra Pradesh',
    'UP': 'Uttar Pradesh',
    'HP': 'Himachal Pradesh',
    'MH': 'Maharashtra',
    'UK': 'Uttarakhand',
    'CH': 'Chandigarh',
    'JH': 'Jharkhand',
    'MP': 'Madhya Pradesh',
    'PB': 'Punjab',
    'GJ': 'Gujarat',
    'KL': 'Kerala',
    'OD': 'Odisha',
    'PY': 'Pondicherry'
}

# Create a new column 'state' by mapping the 'RTO' column
df['state'] = df['RTO'].map(state_mapping)

# Display the updated DataFrame with the new 'state' column
print(df[['RTO', 'state']])

     RTO        state
1     TN   Tamil Nadu
2     TN   Tamil Nadu
3     TN   Tamil Nadu
4     KA    Karnataka
5     TN   Tamil Nadu
...   ..          ...
8348  WB  West Bengal
8349  WB  West Bengal
8356  WB  West Bengal
8359  PB       Punjab
8366  WB  West Bengal

[7186 rows x 2 columns]

In [81]:
print(df.head())

          bt     km transmission            oem                  model  \
1   Minivans  20687       Manual         Maruti            Maruti Eeco
2        SUV  30000       Manual         Nissan         Nissan Magnite
3  Hatchback  59247       Manual        Hyundai            Hyundai i10
4  Hatchback  50000       Manual          Honda             Honda Jazz
5      Sedan  20000    Automatic  Mercedes-Benz  Mercedes-Benz E-Class

     price  Registration Year     Insurance Validity Fuel Type  Kms Driven  \
1   415000               2015          Comprehensive    Petrol       20687
2   750000               2021  Third Party insurance    Petrol       30000
3   398000               2015          Comprehensive    Petrol       59247
4   550000               2015  Third Party insurance    Petrol       50000
5  3300000               2017          Comprehensive    Diesel       20000

   ... ownerNo  Displacement  Year of Manufacture     Mileage Max Power  \
1  ...       1        1196.0               2015.0  15.37 kmpl     73bhp
2  ...       1         999.0               2021.0     20 kmpl  98.63bhp
3  ...       1        1086.0               2015.0  19.81 kmpl  68.05bhp
4  ...       1        1199.0               2015.0   18.7 kmpl   88.7bhp
5  ...       1        2143.0               2016.0     13 kmpl    204bhp

    Torque Seats_1   Color No Door Numbers       state
1    101Nm     7.0    Grey             5.0  Tamil Nadu
2    160Nm     5.0  Others             5.0  Tamil Nadu
3  99.04Nm     5.0  Silver             5.0  Tamil Nadu
4    110Nm     5.0  Others             5.0   Karnataka
5    500Nm     5.0   White             4.0  Tamil Nadu

[5 rows x 21 columns]

In [82]:
df.columns

Index(['bt', 'km', 'transmission', 'oem', 'model', 'price',
       'Registration Year', 'Insurance Validity', 'Fuel Type', 'Kms Driven',
       'RTO', 'ownerNo', 'Displacement', 'Year of Manufacture', 'Mileage',
       'Max Power', 'Torque', 'Seats_1', 'Color', 'No Door Numbers', 'state'],
      dtype='object')

### 12.OwnerNo:

In [83]:
# Find unique values and their counts in the 'ownerNo' column
unique_ownerNo_values = df['ownerNo'].value_counts()

# Print the unique values and their counts
print("Unique values and their counts in the 'ownerNo' column:")
print(unique_ownerNo_values)

Unique values and their counts in the 'ownerNo' column:
ownerNo
1    5149
2    1688
3     288
4      54
5       7
Name: count, dtype: int64

In [84]:
df['ownerNo'].dtype

dtype('int64')

### 13.Displacement:

In [85]:
df['Displacement'].dtype

dtype('float64')

### 14.Year of Manufacture:

In [86]:
# Find unique values and their counts in the 'Year of Manufacture' column
unique_year_values = df['Year of Manufacture'].value_counts()

# Print the unique values and their counts
print("Unique values and their counts in the 'Year of Manufacture' column:")
print(unique_year_values)

Unique values and their counts in the 'Year of Manufacture' column:
Year of Manufacture
2018.0    900
2017.0    876
2016.0    760
2019.0    730
2021.0    560
2015.0    535
2014.0    530
2020.0    522
2022.0    399
2013.0    350
2012.0    295
2011.0    213
2010.0    201
2009.0     94
2023.0     58
2008.0     56
2007.0     40
2006.0     27
2004.0     15
2005.0     14
2003.0      8
2002.0      3
Name: count, dtype: int64

In [87]:
# Convert the 'Year of Manufacture' column to string
df['Year of Manufacture'] = df['Year of Manufacture'].astype(int).astype(str)

# Verify the change
print(df['Year of Manufacture'].dtype)

# Display the updated DataFrame to verify the conversion
print(df)

object
             bt     km transmission            oem                  model  \
1      Minivans  20687       Manual         Maruti            Maruti Eeco
2           SUV  30000       Manual         Nissan         Nissan Magnite
3     Hatchback  59247       Manual        Hyundai            Hyundai i10
4     Hatchback  50000       Manual          Honda             Honda Jazz
5         Sedan  20000    Automatic  Mercedes-Benz  Mercedes-Benz E-Class
...         ...    ...          ...            ...                    ...
8348        SUV  20000       Manual        Hyundai          Hyundai Creta
8349      Sedan  40000       Manual         Maruti     Maruti Swift Dzire
8356        SUV  20000       Manual           Tata             Tata Nexon
8359      Sedan  60000       Manual         Maruti     Maruti Swift Dzire
8366      Sedan  50000    Automatic  Mercedes-Benz  Mercedes-Benz C-Class

        price  Registration Year     Insurance Validity Fuel Type  Kms Driven  \
1      415000               2015          Comprehensive    Petrol       20687
2      750000               2021  Third Party insurance    Petrol       30000
3      398000               2015          Comprehensive    Petrol       59247
4      550000               2015  Third Party insurance    Petrol       50000
5     3300000               2017          Comprehensive    Diesel       20000
...       ...                ...                    ...       ...         ...
8348  1000000               2019  Third Party insurance    Petrol       20000
8349   550000               2019  Third Party insurance    Petrol       40000
8356   674000               2022  Third Party insurance    Petrol       20000
8359   250000               2010  Third Party insurance    Petrol       60000
8366   550000               2011  Third Party insurance    Petrol       50000

      ... ownerNo  Displacement  Year of Manufacture     Mileage  Max Power  \
1     ...       1        1196.0                 2015  15.37 kmpl      73bhp
2     ...       1         999.0                 2021     20 kmpl   98.63bhp
3     ...       1        1086.0                 2015  19.81 kmpl   68.05bhp
4     ...       1        1199.0                 2015   18.7 kmpl    88.7bhp
5     ...       1        2143.0                 2016     13 kmpl     204bhp
...   ...     ...           ...                  ...         ...        ...
8348  ...       1        1591.0                 2019   15.8 kmpl   121.3bhp
8349  ...       1        1197.0                 2019  21.21 kmpl   81.80bhp
8356  ...       1        1199.0                 2022  17.33 kmpl  118.35bhp
8359  ...       1        1298.0                 2010   17.5 kmpl    85.8bhp
8366  ...       3        1796.0                 2011  11.74 kmpl     186bhp

       Torque Seats_1   Color No Door Numbers        state
1       101Nm     7.0    Grey             5.0   Tamil Nadu
2       160Nm     5.0  Others             5.0   Tamil Nadu
3     99.04Nm     5.0  Silver             5.0   Tamil Nadu
4       110Nm     5.0  Others             5.0    Karnataka
5       500Nm     5.0   White             4.0   Tamil Nadu
...       ...     ...     ...             ...          ...
8348    151Nm     5.0  Others             5.0  West Bengal
8349    113Nm     5.0  Others             4.0  West Bengal
8356    170Nm     5.0  Others             5.0  West Bengal
8359    114Nm     5.0  Others             4.0       Punjab
8366    285Nm     5.0  Others             4.0  West Bengal

[7186 rows x 21 columns]

In [88]:
df['Year of Manufacture'] = df['Year of Manufacture'].astype(int)
print(df)

             bt     km transmission            oem                  model  \
1      Minivans  20687       Manual         Maruti            Maruti Eeco
2           SUV  30000       Manual         Nissan         Nissan Magnite
3     Hatchback  59247       Manual        Hyundai            Hyundai i10
4     Hatchback  50000       Manual          Honda             Honda Jazz
5         Sedan  20000    Automatic  Mercedes-Benz  Mercedes-Benz E-Class
...         ...    ...          ...            ...                    ...
8348        SUV  20000       Manual        Hyundai          Hyundai Creta
8349      Sedan  40000       Manual         Maruti     Maruti Swift Dzire
8356        SUV  20000       Manual           Tata             Tata Nexon
8359      Sedan  60000       Manual         Maruti     Maruti Swift Dzire
8366      Sedan  50000    Automatic  Mercedes-Benz  Mercedes-Benz C-Class

        price  Registration Year     Insurance Validity Fuel Type  Kms Driven  \
1      415000               2015          Comprehensive    Petrol       20687
2      750000               2021  Third Party insurance    Petrol       30000
3      398000               2015          Comprehensive    Petrol       59247
4      550000               2015  Third Party insurance    Petrol       50000
5     3300000               2017          Comprehensive    Diesel       20000
...       ...                ...                    ...       ...         ...
8348  1000000               2019  Third Party insurance    Petrol       20000
8349   550000               2019  Third Party insurance    Petrol       40000
8356   674000               2022  Third Party insurance    Petrol       20000
8359   250000               2010  Third Party insurance    Petrol       60000
8366   550000               2011  Third Party insurance    Petrol       50000

      ... ownerNo  Displacement  Year of Manufacture     Mileage  Max Power  \
1     ...       1        1196.0                 2015  15.37 kmpl      73bhp
2     ...       1         999.0                 2021     20 kmpl   98.63bhp
3     ...       1        1086.0                 2015  19.81 kmpl   68.05bhp
4     ...       1        1199.0                 2015   18.7 kmpl    88.7bhp
5     ...       1        2143.0                 2016     13 kmpl     204bhp
...   ...     ...           ...                  ...         ...        ...
8348  ...       1        1591.0                 2019   15.8 kmpl   121.3bhp
8349  ...       1        1197.0                 2019  21.21 kmpl   81.80bhp
8356  ...       1        1199.0                 2022  17.33 kmpl  118.35bhp
8359  ...       1        1298.0                 2010   17.5 kmpl    85.8bhp
8366  ...       3        1796.0                 2011  11.74 kmpl     186bhp

       Torque Seats_1   Color No Door Numbers        state
1       101Nm     7.0    Grey             5.0   Tamil Nadu
2       160Nm     5.0  Others             5.0   Tamil Nadu
3     99.04Nm     5.0  Silver             5.0   Tamil Nadu
4       110Nm     5.0  Others             5.0    Karnataka
5       500Nm     5.0   White             4.0   Tamil Nadu
...       ...     ...     ...             ...          ...
8348    151Nm     5.0  Others             5.0  West Bengal
8349    113Nm     5.0  Others             4.0  West Bengal
8356    170Nm     5.0  Others             5.0  West Bengal
8359    114Nm     5.0  Others             4.0       Punjab
8366    285Nm     5.0  Others             4.0  West Bengal

[7186 rows x 21 columns]

### 15.Mileage:

In [89]:
# Step 1: Remove both " kmpl" and " km/kg" and convert to float
df['Mileage'] = df['Mileage'].str.replace(' kmpl', '', regex=False).str.replace(' km/kg', '', regex=False).astype(float)

# Verify the change
print(df['Mileage'].dtype)  # Should show float64

# Display the updated DataFrame
print(df)

float64
             bt     km transmission            oem                  model  \
1      Minivans  20687       Manual         Maruti            Maruti Eeco
2           SUV  30000       Manual         Nissan         Nissan Magnite
3     Hatchback  59247       Manual        Hyundai            Hyundai i10
4     Hatchback  50000       Manual          Honda             Honda Jazz
5         Sedan  20000    Automatic  Mercedes-Benz  Mercedes-Benz E-Class
...         ...    ...          ...            ...                    ...
8348        SUV  20000       Manual        Hyundai          Hyundai Creta
8349      Sedan  40000       Manual         Maruti     Maruti Swift Dzire
8356        SUV  20000       Manual           Tata             Tata Nexon
8359      Sedan  60000       Manual         Maruti     Maruti Swift Dzire
8366      Sedan  50000    Automatic  Mercedes-Benz  Mercedes-Benz C-Class

        price  Registration Year     Insurance Validity Fuel Type  Kms Driven  \
1      415000               2015          Comprehensive    Petrol       20687
2      750000               2021  Third Party insurance    Petrol       30000
3      398000               2015          Comprehensive    Petrol       59247
4      550000               2015  Third Party insurance    Petrol       50000
5     3300000               2017          Comprehensive    Diesel       20000
...       ...                ...                    ...       ...         ...
8348  1000000               2019  Third Party insurance    Petrol       20000
8349   550000               2019  Third Party insurance    Petrol       40000
8356   674000               2022  Third Party insurance    Petrol       20000
8359   250000               2010  Third Party insurance    Petrol       60000
8366   550000               2011  Third Party insurance    Petrol       50000

      ... ownerNo  Displacement  Year of Manufacture  Mileage  Max Power  \
1     ...       1        1196.0                 2015    15.37      73bhp
2     ...       1         999.0                 2021    20.00   98.63bhp
3     ...       1        1086.0                 2015    19.81   68.05bhp
4     ...       1        1199.0                 2015    18.70    88.7bhp
5     ...       1        2143.0                 2016    13.00     204bhp
...   ...     ...           ...                  ...      ...        ...
8348  ...       1        1591.0                 2019    15.80   121.3bhp
8349  ...       1        1197.0                 2019    21.21   81.80bhp
8356  ...       1        1199.0                 2022    17.33  118.35bhp
8359  ...       1        1298.0                 2010    17.50    85.8bhp
8366  ...       3        1796.0                 2011    11.74     186bhp

       Torque Seats_1   Color No Door Numbers        state
1       101Nm     7.0    Grey             5.0   Tamil Nadu
2       160Nm     5.0  Others             5.0   Tamil Nadu
3     99.04Nm     5.0  Silver             5.0   Tamil Nadu
4       110Nm     5.0  Others             5.0    Karnataka
5       500Nm     5.0   White             4.0   Tamil Nadu
...       ...     ...     ...             ...          ...
8348    151Nm     5.0  Others             5.0  West Bengal
8349    113Nm     5.0  Others             4.0  West Bengal
8356    170Nm     5.0  Others             5.0  West Bengal
8359    114Nm     5.0  Others             4.0       Punjab
8366    285Nm     5.0  Others             4.0  West Bengal

[7186 rows x 21 columns]

### 16.Max Power:

In [90]:
# Function to clean and convert max power
def convert_power(value):
    # Normalize the string
    value = value.replace(' at ', ' ').replace(' rpm', '').replace('rpm', '').strip()
    # Use regex to remove anything after bhp, PS, HP, or parentheses
    bhp_match = re.search(r'(\d*\.?\d+)\s*bhp', value)
    ps_match = re.search(r'(\d*\.?\d+)\s*PS', value)
    hp_match = re.search(r'(\d*\.?\d+)\s*HP', value)
    parenthesis_match = re.search(r'\((\d*\.?\d+)\)', value)
    
    if bhp_match:
        return round(float(bhp_match.group(1)), 2)
    elif ps_match:
        return round(float(ps_match.group(1)) * 0.98632, 2)
    elif parenthesis_match:
        return round(float(parenthesis_match.group(1)), 2)
    elif hp_match:
        return round(float(hp_match.group(1)) * 0.98632, 2)
    else:
        # Check for numerical values or other formats
        numeric_match = re.search(r'(\d*\.?\d+)', value)
        if numeric_match:
            return round(float(numeric_match.group(1)), 2)
    
    return None  # Return None for unhandled formats

# Apply the conversion function to the 'Max Power' column
df['Max Power'] = df['Max Power'].apply(convert_power)

# Verify the change
print(df['Max Power'].dtype)  # Should show float64

# Display the updated DataFrame
print(df)

float64
             bt     km transmission            oem                  model  \
1      Minivans  20687       Manual         Maruti            Maruti Eeco
2           SUV  30000       Manual         Nissan         Nissan Magnite
3     Hatchback  59247       Manual        Hyundai            Hyundai i10
4     Hatchback  50000       Manual          Honda             Honda Jazz
5         Sedan  20000    Automatic  Mercedes-Benz  Mercedes-Benz E-Class
...         ...    ...          ...            ...                    ...
8348        SUV  20000       Manual        Hyundai          Hyundai Creta
8349      Sedan  40000       Manual         Maruti     Maruti Swift Dzire
8356        SUV  20000       Manual           Tata             Tata Nexon
8359      Sedan  60000       Manual         Maruti     Maruti Swift Dzire
8366      Sedan  50000    Automatic  Mercedes-Benz  Mercedes-Benz C-Class

        price  Registration Year     Insurance Validity Fuel Type  Kms Driven  \
1      415000               2015          Comprehensive    Petrol       20687
2      750000               2021  Third Party insurance    Petrol       30000
3      398000               2015          Comprehensive    Petrol       59247
4      550000               2015  Third Party insurance    Petrol       50000
5     3300000               2017          Comprehensive    Diesel       20000
...       ...                ...                    ...       ...         ...
8348  1000000               2019  Third Party insurance    Petrol       20000
8349   550000               2019  Third Party insurance    Petrol       40000
8356   674000               2022  Third Party insurance    Petrol       20000
8359   250000               2010  Third Party insurance    Petrol       60000
8366   550000               2011  Third Party insurance    Petrol       50000

      ... ownerNo  Displacement  Year of Manufacture  Mileage  Max Power  \
1     ...       1        1196.0                 2015    15.37      73.00
2     ...       1         999.0                 2021    20.00      98.63
3     ...       1        1086.0                 2015    19.81      68.05
4     ...       1        1199.0                 2015    18.70      88.70
5     ...       1        2143.0                 2016    13.00     204.00
...   ...     ...           ...                  ...      ...        ...
8348  ...       1        1591.0                 2019    15.80     121.30
8349  ...       1        1197.0                 2019    21.21      81.80
8356  ...       1        1199.0                 2022    17.33     118.35
8359  ...       1        1298.0                 2010    17.50      85.80
8366  ...       3        1796.0                 2011    11.74     186.00

       Torque Seats_1   Color No Door Numbers        state
1       101Nm     7.0    Grey             5.0   Tamil Nadu
2       160Nm     5.0  Others             5.0   Tamil Nadu
3     99.04Nm     5.0  Silver             5.0   Tamil Nadu
4       110Nm     5.0  Others             5.0    Karnataka
5       500Nm     5.0   White             4.0   Tamil Nadu
...       ...     ...     ...             ...          ...
8348    151Nm     5.0  Others             5.0  West Bengal
8349    113Nm     5.0  Others             4.0  West Bengal
8356    170Nm     5.0  Others             5.0  West Bengal
8359    114Nm     5.0  Others             4.0       Punjab
8366    285Nm     5.0  Others             4.0  West Bengal

[7186 rows x 21 columns]

In [91]:
#String Normalization:

#Replaces instances of at and rpm with spaces, then removes any trailing spaces.
#Regex Extraction:

#Searches for patterns in the string using regular expressions:
#For bhp, it captures the numeric value followed by bhp.
#For PS, it captures the numeric value followed by PS and converts it.
#For HP, it captures the numeric value followed by HP and converts it.
#It also handles values within parentheses to extract the numeric value.
#Handling Ranges:

#If the value includes a range, only the first numeric value is used.
#Return Value:

#Returns None for unhandled formats.

In [92]:
df['Max Power'].isnull().sum()

0

### 17.Torque:  

### Error Types:

##### Here’s a one-line summary for each type of conversion logic in the Torque column:

##### 172nm: Extract the numeric value and convert it to float.

##### 99.04Nm: Extract the numeric value before "Nm" and convert it to float.

##### 33: Convert directly to float.

##### 146Nm at 4800 rpm: Extract the numeric value before "Nm" and convert it to float.

##### 259.87NM: Extract the numeric value before "NM" and convert it to float.

##### 22.4 kgm at 1750-2750rpm: Convert the numeric value from "kgm" to "Nm" using ×9.80665.

##### 11.4 kgm at 4,000 rpm: Convert the numeric value from "kgm" to "Nm" using ×9.80665.

##### 25 KGM: Convert the numeric value from "KGM" to "Nm" using ×9.80665.

##### 155 Nm at 1600-2800 rpm: Extract the numeric value before "Nm" and convert it to float.

##### 210 / 1900: Extract "210" and convert it to float.

##### 110 (11.2): Extract "110" and convert it to float.

##### 35.7: Convert directly to float.

##### 14.9 KGM at 3000 RPM: Convert the numeric value from "KGM" to "Nm" using ×9.80665.

In [93]:
# Function to clean and convert torque
def convert_torque(value):
    # Normalize the string
    value = value.replace(' at ', ' ').strip()
    
    # Remove unwanted parts like 'rpm'
    value = re.sub(r'\s*rpm.*$', '', value)  # Remove everything after 'rpm'
    value = re.sub(r'\s+', ' ', value)  # Normalize spaces

    # Handle kgm conversion to Nm
    kgm_match = re.search(r'(\d*\.?\d+)\s*(?:kgm|KGM|Kgm)', value)
    nm_match = re.search(r'(\d*\.?\d+)\s*(?:Nm|nm|NM)', value)
    numeric_match = re.search(r'(\d*\.?\d+)', value)  # For numeric values without units

    if nm_match:
        return round(float(nm_match.group(1)), 2)  # Return value in Nm
    elif kgm_match:
        return round(float(kgm_match.group(1)) * 9.80665, 2)  # Convert kgm to Nm
    elif numeric_match:
        return round(float(numeric_match.group(1)), 2)  # Return standalone numeric value

    return None  # Return None for unhandled formats

# Apply the conversion function to the 'Torque' column
df['Torque'] = df['Torque'].apply(convert_torque)

# Verify the change
print(df['Torque'].dtype)  # Should show float64

# Display the updated DataFrame
print(df)

float64
             bt     km transmission            oem                  model  \
1      Minivans  20687       Manual         Maruti            Maruti Eeco
2           SUV  30000       Manual         Nissan         Nissan Magnite
3     Hatchback  59247       Manual        Hyundai            Hyundai i10
4     Hatchback  50000       Manual          Honda             Honda Jazz
5         Sedan  20000    Automatic  Mercedes-Benz  Mercedes-Benz E-Class
...         ...    ...          ...            ...                    ...
8348        SUV  20000       Manual        Hyundai          Hyundai Creta
8349      Sedan  40000       Manual         Maruti     Maruti Swift Dzire
8356        SUV  20000       Manual           Tata             Tata Nexon
8359      Sedan  60000       Manual         Maruti     Maruti Swift Dzire
8366      Sedan  50000    Automatic  Mercedes-Benz  Mercedes-Benz C-Class

        price  Registration Year     Insurance Validity Fuel Type  Kms Driven  \
1      415000               2015          Comprehensive    Petrol       20687
2      750000               2021  Third Party insurance    Petrol       30000
3      398000               2015          Comprehensive    Petrol       59247
4      550000               2015  Third Party insurance    Petrol       50000
5     3300000               2017          Comprehensive    Diesel       20000
...       ...                ...                    ...       ...         ...
8348  1000000               2019  Third Party insurance    Petrol       20000
8349   550000               2019  Third Party insurance    Petrol       40000
8356   674000               2022  Third Party insurance    Petrol       20000
8359   250000               2010  Third Party insurance    Petrol       60000
8366   550000               2011  Third Party insurance    Petrol       50000

      ... ownerNo  Displacement  Year of Manufacture  Mileage  Max Power  \
1     ...       1        1196.0                 2015    15.37      73.00
2     ...       1         999.0                 2021    20.00      98.63
3     ...       1        1086.0                 2015    19.81      68.05
4     ...       1        1199.0                 2015    18.70      88.70
5     ...       1        2143.0                 2016    13.00     204.00
...   ...     ...           ...                  ...      ...        ...
8348  ...       1        1591.0                 2019    15.80     121.30
8349  ...       1        1197.0                 2019    21.21      81.80
8356  ...       1        1199.0                 2022    17.33     118.35
8359  ...       1        1298.0                 2010    17.50      85.80
8366  ...       3        1796.0                 2011    11.74     186.00

      Torque  Seats_1   Color No Door Numbers        state
1     101.00      7.0    Grey             5.0   Tamil Nadu
2     160.00      5.0  Others             5.0   Tamil Nadu
3      99.04      5.0  Silver             5.0   Tamil Nadu
4     110.00      5.0  Others             5.0    Karnataka
5     500.00      5.0   White             4.0   Tamil Nadu
...      ...      ...     ...             ...          ...
8348  151.00      5.0  Others             5.0  West Bengal
8349  113.00      5.0  Others             4.0  West Bengal
8356  170.00      5.0  Others             5.0  West Bengal
8359  114.00      5.0  Others             4.0       Punjab
8366  285.00      5.0  Others             4.0  West Bengal

[7186 rows x 21 columns]

In [94]:
df['Torque'].isnull().sum()

0

### 18.Seats_1:

In [95]:
# Convert the 'Seats_1' column from float to integer
df['Seats_1'] = df['Seats_1'].astype(int)

# Check the updated dtype
print(df['Seats_1'].dtype)

int32

In [96]:
print(df)

             bt     km transmission            oem                  model  \
1      Minivans  20687       Manual         Maruti            Maruti Eeco
2           SUV  30000       Manual         Nissan         Nissan Magnite
3     Hatchback  59247       Manual        Hyundai            Hyundai i10
4     Hatchback  50000       Manual          Honda             Honda Jazz
5         Sedan  20000    Automatic  Mercedes-Benz  Mercedes-Benz E-Class
...         ...    ...          ...            ...                    ...
8348        SUV  20000       Manual        Hyundai          Hyundai Creta
8349      Sedan  40000       Manual         Maruti     Maruti Swift Dzire
8356        SUV  20000       Manual           Tata             Tata Nexon
8359      Sedan  60000       Manual         Maruti     Maruti Swift Dzire
8366      Sedan  50000    Automatic  Mercedes-Benz  Mercedes-Benz C-Class

        price  Registration Year     Insurance Validity Fuel Type  Kms Driven  \
1      415000               2015          Comprehensive    Petrol       20687
2      750000               2021  Third Party insurance    Petrol       30000
3      398000               2015          Comprehensive    Petrol       59247
4      550000               2015  Third Party insurance    Petrol       50000
5     3300000               2017          Comprehensive    Diesel       20000
...       ...                ...                    ...       ...         ...
8348  1000000               2019  Third Party insurance    Petrol       20000
8349   550000               2019  Third Party insurance    Petrol       40000
8356   674000               2022  Third Party insurance    Petrol       20000
8359   250000               2010  Third Party insurance    Petrol       60000
8366   550000               2011  Third Party insurance    Petrol       50000

      ... ownerNo  Displacement  Year of Manufacture  Mileage  Max Power  \
1     ...       1        1196.0                 2015    15.37      73.00
2     ...       1         999.0                 2021    20.00      98.63
3     ...       1        1086.0                 2015    19.81      68.05
4     ...       1        1199.0                 2015    18.70      88.70
5     ...       1        2143.0                 2016    13.00     204.00
...   ...     ...           ...                  ...      ...        ...
8348  ...       1        1591.0                 2019    15.80     121.30
8349  ...       1        1197.0                 2019    21.21      81.80
8356  ...       1        1199.0                 2022    17.33     118.35
8359  ...       1        1298.0                 2010    17.50      85.80
8366  ...       3        1796.0                 2011    11.74     186.00

      Torque  Seats_1   Color No Door Numbers        state
1     101.00        7    Grey             5.0   Tamil Nadu
2     160.00        5  Others             5.0   Tamil Nadu
3      99.04        5  Silver             5.0   Tamil Nadu
4     110.00        5  Others             5.0    Karnataka
5     500.00        5   White             4.0   Tamil Nadu
...      ...      ...     ...             ...          ...
8348  151.00        5  Others             5.0  West Bengal
8349  113.00        5  Others             4.0  West Bengal
8356  170.00        5  Others             5.0  West Bengal
8359  114.00        5  Others             4.0       Punjab
8366  285.00        5  Others             4.0  West Bengal

[7186 rows x 21 columns]

### 19.Colors:

In [97]:
# Find unique values and their counts in the 'Color' column
unique_Color_values = df['Color'].value_counts()

# Print the unique values and their counts
print("Unique values and their counts in the 'Color' column:")
print(unique_Color_values)

Unique values and their counts in the 'Color' column:
Color
Others             1525
White              1486
Silver             1213
Red                 741
Blue                560
                   ...
Cirrus White          1
Passion Red           1
Hip Hop Black         1
Cherry                1
Out Back Bronze       1
Name: count, Length: 143, dtype: int64

### 20.No Door Numbers:

In [98]:
# Convert the 'No Door Numbers' column from float to integer
df['No Door Numbers'] = df['No Door Numbers'].astype(int)

# Check the updated dtype
print(df['No Door Numbers'].dtype)

int32

In [99]:
print(df)

             bt     km transmission            oem                  model  \
1      Minivans  20687       Manual         Maruti            Maruti Eeco
2           SUV  30000       Manual         Nissan         Nissan Magnite
3     Hatchback  59247       Manual        Hyundai            Hyundai i10
4     Hatchback  50000       Manual          Honda             Honda Jazz
5         Sedan  20000    Automatic  Mercedes-Benz  Mercedes-Benz E-Class
...         ...    ...          ...            ...                    ...
8348        SUV  20000       Manual        Hyundai          Hyundai Creta
8349      Sedan  40000       Manual         Maruti     Maruti Swift Dzire
8356        SUV  20000       Manual           Tata             Tata Nexon
8359      Sedan  60000       Manual         Maruti     Maruti Swift Dzire
8366      Sedan  50000    Automatic  Mercedes-Benz  Mercedes-Benz C-Class

        price  Registration Year     Insurance Validity Fuel Type  Kms Driven  \
1      415000               2015          Comprehensive    Petrol       20687
2      750000               2021  Third Party insurance    Petrol       30000
3      398000               2015          Comprehensive    Petrol       59247
4      550000               2015  Third Party insurance    Petrol       50000
5     3300000               2017          Comprehensive    Diesel       20000
...       ...                ...                    ...       ...         ...
8348  1000000               2019  Third Party insurance    Petrol       20000
8349   550000               2019  Third Party insurance    Petrol       40000
8356   674000               2022  Third Party insurance    Petrol       20000
8359   250000               2010  Third Party insurance    Petrol       60000
8366   550000               2011  Third Party insurance    Petrol       50000

      ... ownerNo  Displacement  Year of Manufacture  Mileage  Max Power  \
1     ...       1        1196.0                 2015    15.37      73.00
2     ...       1         999.0                 2021    20.00      98.63
3     ...       1        1086.0                 2015    19.81      68.05
4     ...       1        1199.0                 2015    18.70      88.70
5     ...       1        2143.0                 2016    13.00     204.00
...   ...     ...           ...                  ...      ...        ...
8348  ...       1        1591.0                 2019    15.80     121.30
8349  ...       1        1197.0                 2019    21.21      81.80
8356  ...       1        1199.0                 2022    17.33     118.35
8359  ...       1        1298.0                 2010    17.50      85.80
8366  ...       3        1796.0                 2011    11.74     186.00

      Torque  Seats_1   Color No Door Numbers        state
1     101.00        7    Grey               5   Tamil Nadu
2     160.00        5  Others               5   Tamil Nadu
3      99.04        5  Silver               5   Tamil Nadu
4     110.00        5  Others               5    Karnataka
5     500.00        5   White               4   Tamil Nadu
...      ...      ...     ...             ...          ...
8348  151.00        5  Others               5  West Bengal
8349  113.00        5  Others               4  West Bengal
8356  170.00        5  Others               5  West Bengal
8359  114.00        5  Others               4       Punjab
8366  285.00        5  Others               4  West Bengal

[7186 rows x 21 columns]

In [100]:
# Specify the file name
file_name = 'cleaned_df.xlsx'

# Convert DataFrame to Excel file
df.to_excel(file_name, index=False)

print(f"DataFrame has been written to {file_name}")

DataFrame has been written to cleaned_df.xlsx